<div class="row">
	<div class="span16">
		<h2><%= t(:new_taxonomy) %></h2>

		<%= form_for([:admin, @taxonomy], :html => {:class => "well form-horizontal"}) do |f| %>
			<%= render :partial => 'form', :locals => { :f => f } %>
			<div class="form-actions right-txt" data-hook="buttons">
				<%= f.submit(t(:create), :class => "btn btn-primary") %>
				<%= link_to(t(:back), admin_taxonomies_path, :class => "btn btn-inverse") %>
			</div>
		<% end %>
	</div>
</div>