<%= render "spree/shared/error_messages", :target => @product %>
<%= form_for(@sticker_printer_format, :url => admin_sticker_printer_formats_create_path(@product), :id => 'new_poster_format', :class => 'well', :remote => true, :multipart => true, :method => :post) do |f| %>
	<legend><%= t(:new_format) %></legend>
	<%= render :partial => "form", :locals => {:f => f} %>
	<div class="form-actions clearer right-txt">
		<%= submit_tag(t("actions.create"), :class => "btn btn-primary") %>
		<%= link_to(t(:back), admin_sticker_printer_formats_index_path(@product), :class => 'btn btn-inverse', :remote => true) %>
	</div>
<% end %>