<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment_method } %>
		<h2><%= t(:editing_payment_method) %></h2>

		<%= form_for @payment_method, :url => admin_payment_method_path(@payment_method), :method => :put, :html => {:class => "well form-horizontal clearfix"} do |f| %>
			<%= render :partial => 'form', :locals => { :f => f } %>
			<div class="form-actions clearer right-txt" data-hook="buttons">
				<%= f.submit(t(:create), :class => "btn btn-primary") %>
				<%= link_to(t(:back), admin_payment_methods_path(), :class => "btn btn-inverse") %>
			</div>
		<% end %>
	</div>
</div>
