<%= render "spree/shared/error_messages", :target => @variant %>
<%= form_tag admin_create_playbill_variant_path(@product), :id => 'new_playbill_variant', :class => 'well', :remote => true, :multipart => true do  %>
	<legend><%= t(:new_format) %></legend>
	<%= render :partial => "form" %>
	<div class="form-actions clearer right-txt">
		<%= submit_tag(t(:create), :class => "btn btn-primary") %>
		<%= link_to(t(:back), admin_playbill_variants_path(@product), :class => 'btn btn-inverse', :remote => true) %>
		<%= link_to("Imposta punto di convenienza", "javascript: setConvenience()", :class => "btn btn-inverse") %>
	</div>
<% end %>