<div class="control-group">
	<%= label_tag(:presentation, t(:name), :class => "control-label") %>
	<div class="controls">
  		<%= f.text_field :presentation %>
	</div>
</div>
<div class="control-group">
	<%= label_tag(:printer_hourly_cost_c, t(:printer_hourly_cost), :class => "control-label") %>
	<div class="controls">
  		<div class="input-append"><%= f.text_field(:printer_hourly_cost_c) %><span class="add-on"><%= raw t(:currency) %>/ora</span></div>
	</div>
</div>
<div class="control-group">
	<%= label_tag(:start_time_c, t(:start_time), :class => "control-label") %>
	<div class="controls">
  		<div class="input-append"><%= f.text_field(:start_time_c) %><span class="add-on">minuti</span></div>
	</div>
</div>
<div class="span15">
	<%= f.fields_for :plotter_printing_costs do |builder| %>
		<%= render "plotter_printing_cost_fields", :f => builder %>
	<% end %>
	<p class="small"><%= link_to_add_fields("Aggiungi un nuovo costo di stampa", f, :plotter_printing_costs) %></p>
</div>
