<div class="fields clearfix">
	<div class="span3">
		<%= label_tag(:name, t(:name)) %>
	  	<%= f.text_field(:name) %>
	</div>
	<div class="span3">
		<%= label_tag(:presentation, t(:presentation)) %>
		<%= f.text_field(:presentation) %>
	</div>
	<div class="span2">
		<%= label_tag(:cost_mq, t(:cost_mq)) %>
	  	<div class="input-append"><%= f.text_field(:cost_mq, :class => "span1") %><span class="add-on">&euro;/mq</span></div>
	</div>
	<div class="span2">
		<%= label_tag(:plant, t(:plant)) %>
	  	<div class="input-append"><%= f.text_field(:plant, :class => "span1") %><span class="add-on">&euro;</span></div>
	</div>
	<div class="span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Costo di Stampa", f) %>
	</div>
</div>
<br class="clearer"/>