<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @plotter } %>
		<h2><%= t(:edit) %> <%= t(:plotter) %></h2>
		<br />
		<%= form_for([:admin, @plotter], :url => {:action => :update}, :html => {:class => "well form-horizontal"}) do |f| %>
		    <%=  render :partial => 'form', :locals => {:f => f, :plotter => @plotter} %>
		    <div class="form-actions clearer right-txt">
		      <%= f.submit(t(:update), :class => "btn btn-primary") %>
		      <%= link_to(t(:back), admin_plotters_path, :class => "btn btn-inverse") %>
		    </div>
		<% end %>
	</div>
</div>
