<% @body_id = "plotters" %>

<div class="row">
	<div class="span16">
		<h2><%= t(:plotters) %></h2>
		<p>In questa pagina puoi gestire i plotter</p>
	</div>
	
	<div class="span7 well">
		<%= button_link_to("#{t(:new_plotter)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_plotter_path, {:id => 'admin_new_plotter', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table">
			<% @plotters.each do |plotter| %>
			<tbody>
				<tr>
					<td style="vertical-align: top"><h4><%= plotter.presentation %></h4></td>
					<td>
						<p class="small"><strong><%= t(:printer_hourly_cost) %></strong> <%= plotter.plotter_hourly_cost %> <%= raw t(:currency) %>/ora</p>
						<p class="small"><strong><%= t(:start_time) %></strong> <%= plotter.start_time_c %> minuti</p>
						<p class="small"><strong><%= t(:cost_printings) %></strong> <%= plotter.plotter_printing_costs.collect{|ppc| content_tag(:span, ppc.name, :class => "label label-inverse")}.join(" ").html_safe %></p>
					</td>
					<td>
						<%= link_to("Modifica <i class='icon-edit icon-white'></i>".html_safe, edit_admin_plotter_path(plotter), :class => "btn btn-large btn-primary") %>
						<br class="clearer"/><br />
						<%= link_to("Rimuovi <i class='icon-remove icon-white'></i>".html_safe, admin_plotter_path(plotter), :confirm => 'Sei sicuro?', :method => :delete, :class => "btn btn-large btn-danger") %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>
