<legend><%= t(:details) %></legend>

<div data-hook="admin_menu_form_fields">
	<div class="span7">
		<%= f.label :name, t(:name) %>
		<%= f.text_field :name %>
		
		<%= f.label :parent, t(:parent) %><br />
		<%= f.select :parent_id, @menu.persisted? ? Spree::Menu.where(:category => @menu.category).collect{|m| ["#{m.name} - #{m.category}", m.id]} : Spree::Menu.order("category, parent_id ASC").all.collect{|m| ["#{m.name} - #{m.category}", m.id]}, :include_blank => "Seleziona un padre" %>
		<% if !@menu.default %>
		<%= f.label :category, t(:category) %>
		<%= f.select :category, [["Menu alto", "header"], ["Menu Laterale", "sidebar"]], :class => 'fullwidth title' %>
		<% end %>
		
		<%= f.label :class_list, t(:class_list) %>
		<%= f.select :class_list, [["Nessuna", ""], ["Nero", "black"], ["Blu", "blue"], ["Verde", "green"], ["Rosso", "red"], ["Giallo", "yellow"], ["Arancione", "orange"]], :class => 'fullwidth title' %>
		
		<%= f.label :position, t(:position) %>
		<%= f.text_field(:position, :class => "span1") %>
	</div>
	<div class="span7">
	<% if !@menu.default %>
		<div class="string input required" id="menu_url_input">
			<div class="radio_content">
		        <% if @menu.linkable_type != "Spree::Product" && @menu.linkable_type != "Spree::StaticPage" && @menu.linkable_type != "Spree::Taxon" %>
				<label class="checked">
		            <input  checked="checked" type="radio" name="url_type" id="url_type_insert_new_url" value="<%= t(:insert_new_url) %>"> <%= t(:insert_new_url) %>
				</label>
		            <%= f.text_field :url, :class => 'url_text_field' %><br class="clearer"/><br />
		        <% else %>
		        	<input  type="radio" name="url_type" id="url_type_insert_new_url" value="<%= t(:insert_new_url) %>"> <%= t(:insert_new_url) %>
		        	<br/>
		            <%= f.text_field :url, :class => 'url_text_field', :disabled => 'disabled' %><br class="clearer"/>
		        <% end %>
				<label class="checked">
					<input <%= 'checked="checked"' if @menu.linkable_type == "Spree::Taxon" %> type="radio" name="url_type" id="url_type_select_from_taxon" value="<%= t(:select_from_taxon) %>">  <%= t(:select_from_taxon) %>
				</label>
		        <%= f.select :linkable_id, options_for_select(Spree::Taxon.all.map { |t| [t.name, t.id] },
		                                                      @menu.linkable_type == "Spree::Taxon" ? @menu.linkable_id : nil),
		                     {}, {:class => 'taxon_select' , :disabled => @menu.linkable_type != "Spree::Taxon" }  %>
		        <%= hidden_field_tag "menu[linkable_type]",Spree::Taxon.first.class.name, {:class => 'taxon_select' , :disabled => @menu.linkable_type != "Spree::Taxon" }  %><br class="clearer"/><br />
				
				<label class="checked">
		        	<input <%= 'checked="checked"' if @menu.linkable_type == "Spree::Product" %> type="radio" name="url_type" id="url_type_select_from_product" value="<%= t(:select_from_product) %>"> <%= t(:select_from_product) %>
				</label>
		        <%= f.select :linkable_id, options_for_select(Spree::Product.exclude_cover.map { |p| [p.name, p.id] },
		                                                      @menu.linkable_type == "Spree::Product" ? @menu.linkable_id : nil),
		                     {}, {:class => 'product_select', :disabled => @menu.linkable_type != "Spree::Product"} %>
		        <%= hidden_field_tag "menu[linkable_type]", "Spree::Product", {:class => 'product_select', :disabled => @menu.linkable_type != "Spree::Product"}  %><br class="clearer"/><br />
				
				<label class="checked">
		        	<input <%= 'checked="checked"' if @menu.linkable_type == "Spree::StaticPage" %> type="radio" name="url_type" id="url_type_select_from_blog" value="<%= t(:select_from_blog) %>"> <%= t(:select_from_blog) %>
				</label>
		        <%= f.select :linkable_id, options_for_select(Spree::Page.all.map { |p| [p.title, p.id] },
		                                                      @menu.linkable_type == "Spree::Page" ? @menu.linkable_id : nil),
		                     {}, {:class => 'blog_select', :disabled => @menu.linkable_type != "Spree::Page"} %><br/>
		        <%= hidden_field_tag "menu[linkable_type]",Spree::Page.first.class.name, {:class => 'blog_select', :disabled => @menu.linkable_type != "Spree::Page"}   %>
			</div>
		</div>
	<% end %>
	
		<label class="checked">
			<%= f.check_box :visible %> <%= t(:visible) %>
		</label>
	</div>
</div>
<br class="clearer"/><br />
