<div class="row">
	<div class="span16">
		<h1><%= t(:menu) %></h1>
		<p>In questa pagina puoi gestire i menu</p>
	</div>
	
	<div class="span7 well" data-hook="toolbar">
		<%= button_link_to("#{t(:new_menu)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, {:id => 'admin_new_menu', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		La sezione Menu si divide in Menu Alto che corrisponde al link "Prodotti" presente a fianco del logo e di un Menu a Lato che corrisponde al menu a cascata presente sul fianco sinistro del sito.<br />&Egrave; possibile modificare, disattivare o creare nuove voci di menu. Le caratteristiche principali per ogni voce sono:<br />
		<ul>
			<li>NOME: corrisponde al nome visualizzato sul menu del sito</li>
			<li>PADRE: nel caso si volesse creare un menu ad albero </li>
			<li>CATEGORIA: dove si vuole far visualizzare la nuova voce di menu</li>
			<li>CLASSE: il colore della nuova voce di menu</li>
			<li>URL: &egrave; possibile far linkare la nuova voce di menu sia ad una pagina interna che ad un prodotto o link interno specifico</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<div class="clearfix">
		<% @categories.each do |category| %>
			<div class="span7">
				<h4>MENU <%= category.category.upcase %></h4><br />
				<div id="menu_tree" class="tree jstree jstree-0 jstree-focused jstree-apple">
					<ul>
						<% @menus.where({:category => category.category}).each do |menu|%>
						<li id="menu_<%= spree_dom_id menu %>" rel="root" class="jstree-open<%= " jstree-last" if @menus.where({:category => category.category}).last == menu %>">
							<ins class="jstree-icon">&nbsp;</ins>
							<%= link_to("<ins class='jstree-icon#{" jstree-close" if !menu.visible }'>&nbsp;</ins> #{menu.name.upcase}".html_safe, edit_object_url(menu)) %> <%= link_to_delete_with_icon(menu) if !menu.default %>
							<% if !menu.children.blank? %>
							<ul>
								<% menu.children.each do |child| %>
								<li id="menu_<%= spree_dom_id child %>" rel="root" class="jstree-open<%= " jstree-last" if menu.children.last == child %>">
									<ins class="jstree-icon">&nbsp;</ins>
									<%= link_to("<ins class='jstree-icon#{" jstree-close" if !child.visible }'>&nbsp;</ins> #{child.name.titleize}".html_safe, edit_object_url(child)) %> <%= link_to_delete_with_icon(child) if !child.default %>
									<% if !child.children.blank? %>
									<ul>
										<% child.children.each do |sub_child| %>
										<li id="menu_<%= spree_dom_id sub_child %>" rel="root" class="jstree-open<%= " jstree-last" if child.children.last == sub_child %>">
											<ins class="jstree-icon">&nbsp;</ins>
											<%= link_to("<ins class='jstree-icon#{" jstree-close" if !sub_child.visible }'>&nbsp;</ins> #{sub_child.name.titleize}".html_safe, edit_object_url(sub_child)) %> <%= link_to_delete_with_icon(sub_child) if !sub_child.default %>
										</li>
										<% end %>
									</ul>
									<% end %>
								</li>
								<% end %>
							</ul>
							<% end %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>
