<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @menu } %>
		<h2><%= t(:new_menu) %></h2>
		<br />
		<%= form_for([:admin, @menu], :html => {:class => "well clearfix"}) do |f| %>
			<%=  render :partial => 'form', :locals => {:f => f} %>
			<%= render :partial => 'spree/admin/shared/new_resource_links' %>
		<% end %>
	</div>
</div>
