<div class="fields clearfix">
	<div class="span3">
		<%= label_tag(:min_limit, t(:min_limit)) %>
	  	<%= f.text_field(:min_limit) %>
	</div>
	<div class="span3">
		<%= label_tag(:max_limit, t(:max_limit)) %>
	  	<%= f.text_field(:max_limit) %>
	</div>
	<div class="span4">
		<%= label_tag(:copy_cost, t(:copy_cost)) %>
	  	<div class="input-append"><%= f.text_field(:copy_cost) %><span class="add-on">&euro;</span></div>
	</div>
	<div class="span4" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi limite per costo a copia", f) %>
	</div>
</div>
<br class="clearer"/>
