<div data-hook="admin_products_sidebar" class="search span4">
	<%= search_form_for([:admin, @search], :html => {:class => "well"}) do |f| %>
		<legend><%= t(:search) %></legend>
		<%= f.label :name_cont, t(:name) %>
		<div class="input-append"><%= f.text_field :name_cont, :size => 25 %><span class="add-on"><i class="icon-search"></i></span></div>
		<%= submit_tag(t(:search), :class => "btn btn-primary") %>
		<%= link_to("Reset", admin_simple_products_path, :class => "btn btn-inverse") %>
	<% end %>
</div>

<div class="span10 content-box">
	<p>&Egrave; possibilie effettuare delle ricerche sui prodotti tramite la form a lato.</p>
	<%= link_to("#{t(:new_simple_product)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_simple_product_path, :class => 'btn btn-primary', :id => "admin_new_simple_product_link") %>
</div>