<div data-hook="admin_image_form_fields">
  <tr data-hook="file">
    <td><%= t(:filename) %>:</td>
    <td><%= f.file_field(:attachment) %></td>
  </tr>
    <%#= f.hidden_field(:product_id, :value => @product.id) %>
    <%= f.hidden_field :viewable_id, :value => "All" %>
</div>