<h1><%= t(:new_simple_product) %></h1>

<br class="clearer"/>
<ul class="nav nav-pills" id="myTab">
	<li class="active"><a href="#details" data-toggle="tab"><%= t(:details) %></a></li>
	<% if @simple_product.persisted? %>
	<li><a href="#images" data-toggle="tab" data-url-tab="<%= add_image_admin_simple_product_path(@simple_product) %>"><%= t(:image) %></a></li>
	<li><a href="#models" data-toggle="tab" data-url-tab="<%= admin_simple_product_simple_variants_path(@simple_product) %>"><%= t(:formats) %></a></li>
	<% end %>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="details">
		<%= form_for([:admin, @simple_product], :html => {:multipart => true, :class => "well form-inline clearfix"}) do |f| %>
			<%= render :partial => "form", :locals => {:f => f}%>
		<% end %>
	</div>
	<% if @simple_product.persisted? %>
	<div class="tab-pane" id="images">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<div class="tab-pane" id="models">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<% end %>
</div>

<%= render :partial => 'spree/admin/shared/footer_links' %>
