<%= javascript_include_tag 'store/preventive/pvc' %>
<% if @promo %>
<%= javascript_tag do %>
	run_preventive = false;
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
    preventiveUrl = "<%= preventive_url %>";
    papers = <%== @product.all_value_json %>;
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_pvc_stickers'}} do |f| %>
    <%= hidden_field_tag(:pvc_product_id, @product.id) %>
    <h2>Orientamento</h2>
	
	<div class="format-check">
		<% @product.directings.option_values.each do |ov| %>
		<div class="block <%= ov.presentation == 'Verticale' ? "vert" : "hor" %>">
			<div class="box"></div>
			<%= radio_button_tag "order[orientation]", ov.id, (ov.presentation == 'Orizzontale') ? true : false, {:class => "radio", :id => "radio_orientation_#{ov.id}", :data => {:orientation => ov.presentation.downcase}} %>
			<label for="radio_orientation_<%= "#{ov.id}" %>"><%= ov.presentation.titleize %></label>
		</div>
		<% end %>
	</div>
	
    <h2>Informazioni</h2>
	
	<div class="custom-size clearfix">
      <label>Formato</label>
      <div id="custom_format">
        L <%= text_field_tag("order[custom][width]", @product.min_width.to_i, :class => 'required', :min => @product.min_width.to_i) %>  x H  <%= text_field_tag("order[custom][height]", @product.min_height.to_i, :class => 'required', :min => @product.min_height.to_i) %> cm
      </div>
    </div>
	
	<div class="clearfix field_content" powertip="true">
    	<label for="paper">Materiale</label>
    	<%= select_tag("order[paper]", options_for_select(@variant.papers.map { |v| [v.name, v.id] })) %>
	</div>
	
	<div class="clearfix field_content">
		<label for="print_color">Tipo stampa</label>
	    <%= select_tag("order[print_color]", options_for_select(@variant.plotter.plotter_printing_costs.map { |v| [v.name, v.id] }),:include_blank => false) %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="paper">Modalità di taglio</label>
    	<%= select_tag("order[cutting_coil]", options_for_select(@variant.cutting_coils.map {|cc| [cc.name, cc.id] }), :prompt => "Nessuna") %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="print_color">Finitura</label>
    	<%= select_tag("order[lamination]", options_for_select(@variant.laminations.map {|l| [l.name, l.id] }), :prompt => "Seleziona Finitura") %>
	</div>

    <h2>Copie</h2>
	<div class="clearfix field_content">
    	<label for="copy">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
	    	<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
			<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
	</div>
<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}&euro;)".html_safe %></p>
<% end %>
	
    <h2><%= t(:date_adjustment) %></h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
        <%= content_tag(:span, t(:add_to_cart)) %>
    <% end %>
<% end %>
