<div id="content">
	<div class="content-box-title-no-bc">
		<h2><%= t(:forgot_password) %></h2>
	</div>
	<div class="black-header" style="margin-top: 0px">
		<span><%= t(:instructions_to_reset_password) %></span>
	</div>
	<div id="forgot-password">
		<%= form_for Spree::User.new, :as => :user, :url => spree.user_password_path do |f| %>
			<p>
				<%= f.label :email, t(:email), :class => "black" %><br />
				<%= f.email_field :email %>
			</p>
			<p class="clearfix" style="padding-right: 10px">
				<%= f.submit t(:reset_password), :class => 'button primary' %>
			</p>
		<% end %>
	</div>
</div>