<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tax_rate } %>
		<h2><%= t(:editing_tax_rate) %></h2>
		<br />
		<%= form_for([:admin, @tax_rate], :html => {:class => "well form-horizontal"}) do |f| %>
		  <%= render :partial => 'form', :locals => { :f => f } %>
		  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
		<% end %>
	</div>
</div>
