<div class="row">
	<div class="span16">
		<h2><%= t(:tax_rates) %></h2>
		<p>In questa pagina puoi gestire i metodi di spedizione</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_tax_rate)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :class => 'btn btn-primary') %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" id='listing_payment_methods'>
			<thead>
				<tr data-hook="rate_header" class="info">
					<th><%= t(:zone) %></th>
				      <th><%= t(:category) %></th>
				      <th><%= t(:amount) %></th>
				      <th><%= t(:included_in_price) %></th>
				      <th><%= t(:calculator) %></th>
				      <th></th>
				</tr>
			</thead>
			<tbody>
				<% @tax_rates.each do |tax_rate|%>
			    <tr id="<%= spree_dom_id tax_rate %>" data-hook="rate_row">
			      <td><%=tax_rate.zone.name %></td>
			      <td><%=tax_rate.tax_category.try(:name) || "N/A" %></td>
			      <td><%=tax_rate.amount %></td>
			      <td><%=tax_rate.included_in_price %></td>
			      <td><%=tax_rate.calculator.to_s %></td>
			      <td class="actions">
			        <%= link_to_edit(tax_rate, {:class => "btn btn-primary"}) %> <%= link_to_delete tax_rate %>
			      </td>
			    </tr>
			    <% end %>
			</tbody>
		</table>
	</div>
</div>
