<div style='color:#777;width:560px;font-family:sans-serif;font-size:12px;line-height:140%;padding:20px' class='mail'>
	<p>Il cliente <%= (@user.bill_address.company.blank?) ? "#{@user.bill_address.full_name}" : @user.bill_address.company %>,</p>
	<p>ha appena modificato alcuni dati del suo indirizzo di fatturazione.</p>

	<% @address.changed.each do |change| %>
	<p><%= t("printtogo.address.#{change}") %>: <%= @address[change.to_sym] %></p>
	<% end %>
</div>