Gentile Utente,

&Egrave; stata efftuata una richiesta di reset password per la tua mail.
Se non hai fatto la richiesta, semplicemente ignora la mail.

Se hai fatto la richiesta, quello seguente &egrave; il link per il reset della password
<%= @edit_password_reset_url %>

Se il link non funziona prova a copiarlo nel tuo browser.
Se continua a non funzionare contatta il <%= link_to("Servizio Clienti", "mailto:#{Spree::Config[:store_default_email]}") %>


Cordialmente

<%= link_to(Spree::Config[:site_url], "#{Spree::Config[:site_url]}") %>
<%= link_to(Spree::Config[:store_default_email], "mailto:#{Spree::Config[:store_default_email]}") %>