<h1><%= t("quarter.new_quarter") %></h1>
<br class="clearer"/>
<%= render "spree/shared/error_messages", :target => @quarter %>

<%= form_for(@quarter, :url => {:action => :create}, :html => {:class => "well form-horizontal clearfix"}) do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<br class="clearer"/>
  	<div class="form-actions">
		<%= submit_tag(t(:create), :class => "btn btn-info btn-large right") %>
	    <%= link_to(t("actions.cancel"), admin_quarters_path, :class => "btn btn-inverse right", :style => "margin-right: 10px") %>
	  </div>
<% end %>