<% @body_id = "printers" %>

<div class="row">
	<div class="span16">
		<h2><%= t(:printers) %></h2>
		<p>In questa pagina puoi gestire le tipologie di pacchi di spedizione</p>
	</div>
	
	<div class="span7 well">
		<%= button_link_to("#{t(:new_printer)} <i class='icon-plus icon-white'></i>".html_safe, admin_new_printer_url, {:id => 'admin_new_printer', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<ul class="nav nav-pills" id="myTab">
			<li class="active"><a href="#digital" data-toggle="tab"><%= t(:digitals) %></a></li>
			<li><a href="#offset" data-toggle="tab"><%= t(:offsets) %></a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="digital">
				<table class="table">
				<% @digital.each do |printer| %>
					<%= render :partial => "spree/admin/printers/printer", :locals => {:printer => printer} %>
				<% end %>
				</table>
			</div>
			<div class="tab-pane" id="offset">
				<table class="table">
				<% @offset.each do |printer| %>
					<%= render :partial => "spree/admin/printers/printer", :locals => {:printer => printer} %>
				<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
