<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
	<!--[if IE 7 ]>	<html class="ie ie7" lang="en"> <![endif]-->
	<!--[if IE 8 ]> <html class="ie ie8" lang="en"> <![endif]-->
	<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
	<!--[if gt IE 9]> <html lang="en"> <![endif]-->
	<head data-hook="inside_head">
		<%= render :partial => "spree/shared/head" %>
		<%= render :partial => "spree/shared/google_analytics" %>
	</head>
	<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
		<%= render :partial => "spree/shared/cookies" if Spree::Config[:cookie_law] %>
		<%= render :partial => "spree/shared/header" %>
		<div id="main">
			<%= render :partial => "spree/shared/sidebar" %>
			<%= flash_messages %>

			<%= yield %>
		</div>
		<%= render :partial => "spree/shared/footer" %>
	</body>
</html>
