<%= f.hidden_field :zone_id, :value => @available_zones.first.id %>
<%= f.hidden_field :display_on, :value => "" %>
<div class="span7">
	<div data-hook="admin_shipping_method_form_fields">
		<%= f.label :name, t(:name) %>
		<%= f.text_field :name %>
		
		<%= f.label :min_weight, t(:min_weight) %>
		<div class="input-append"><%= f.text_field(:min_weight) %><span class="add-on">kg</span></div>
		
		<%= f.label :max_weight, t(:max_weight) %><br />
		<div class="input-append"><%= f.text_field(:max_weight) %><span class="add-on">kg</span></div>
	</div>
</div>

<div class="span7">
	<div data-hook"admin_shipping_method_form_availability_fields">
		<fieldset class="categories">
			<legend><%= t(:category) %></legend>
			<%= f.field_container :shipping_category do %>
				<%= f.label :shipping_category, t(:shipping_category_choose) %>
				<%= select(:shipping_method, :shipping_category_id, Spree::ShippingCategory.all.collect { |s| [s.name, s.id] }, { :include_blank => false }) %>
			<% end %>
		</fieldset>
	</div>

	<div data-hook="admin_shipping_method_form_calculator_fields">
		<%= render :partial => 'spree/admin/shared/calculator_fields_shipping', :locals => { :f => f } %>
	</div>
</div>