<div data-hook="admin_shipping_method_edit_form_header">
  <h1><%= t(:editing_shipping_method) %></h1>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipping_method } %>
</div>

<div data-hook="admin_shipping_method_edit_form">
  <%= form_for([:admin, @shipping_method], :html => {:class => "well form-horizontal"}) do |f| %>
    	<%= render :partial => 'form', :locals => { :f => f } %>

    	<div data-hook="admin_shipping_method_edit_form_buttons">
      		<%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    	</div>
  <% end %>
</div>