<div class="row">
	<div class="span16">
		<h2><%= t(:shipping_methods) %></h2>
		<p>In questa pagina puoi gestire i metodi di spedizione</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_shipping_method)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :class => 'btn btn-primary', :id => "admin_new_shipping_method_link") %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" id='listing_shipping_methods'>
			<thead>
				<tr data-hook="admin_shipping_methods_index_headers" class="info">
					<th><%= t(:name) %></th>
				    <th><%= t(:min_weight) %></th>
				    <th><%= t(:max_weight) %></th>
				    <th><%= t(:price) %></th>
					<th data-hook="admin_shipping_methods_index_header_actions"></th>
				</tr>
			</thead>
			<tbody>
				<% @shipping_methods.order("min_weight asc").each do |shipping_method|%>
			      <tr id="<%= spree_dom_id shipping_method %>" data-hook="admin_shipping_methods_index_rows">
			        <td><%= shipping_method.name %></td>
			        <td><%= shipping_method.min_weight %></td>
			        <td><%= shipping_method.max_weight %></td>
			        <td><%= number_to_currency shipping_method.calculator.preferred_amount if shipping_method.calculator.preferred_amount %></td>
			        <td class="actions" data-hook="admin_shipping_methods_index_row_actions">
			          <%= link_to_edit(shipping_method, {:class => "btn btn-primary"}) %> <%= link_to_delete shipping_method %>
			        </td>
			      </tr>
			    <% end %>
			</tbody>
		</table>
	</div>
</div>
