<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipping_method } %>
		<div data-hook="admin_shipping_method_new_form_header">
		  <h2><%= t(:new_shipping_method) %></h2>
		</div>

		<div data-hook="admin_shipping_method_new_form">
		  <%= form_for [:admin, @shipping_method], :html => {:class => "well"} do |f| %>
		    	<%= render :partial => 'form', :locals => { :f => f } %>

		    	<div data-hook="admin_shipping_method_new_form_buttons">
		      		<%= render :partial => 'spree/admin/shared/new_resource_links' %>
		    	</div>
		  <% end %>
		</div>
	</div>
</div>
