<div class="span7">
	<%= label_tag(:name, t(:name)) %>
	<%= f.text_field :name %>
	<br class="clearer"/><br />
	<%= label_tag(:presentation, t(:description)) %>
	<%= f.text_field :presentation %>
</div>
<div class="span7">
	<%= label_tag("preview", "Preview") %>
	<%= (@presentation_pack.icon.present?) ? image_tag(@presentation_pack.icon.url) : content_tag(:p, "Immagine non trovata", :style => "font-size: 14px; line-height: 20px;") %>

	<%= label_tag(:icon, t(:icon)) %>
	<%= f.file_field :icon %>

	<%= label_tag(:price, t(:price)) %>
	<div class="input-append"><%= f.text_field :price %><span class="add-on">&euro;</span></div>
</div>
<br class="clearer"/>