<div class="row">
	<div class="span16">
		<h2><%= t(:presentation_packs) %></h2>
		<p>In questa pagina puoi gestire le tipologie di pacchi di spedizione</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_presentation_pack)} <i class'icon-plus icon-white'></i>".html_safe, spree.new_admin_presentation_pack_path, :class => 'btn btn-primary') %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" data-hook>
			<thead>
		  		<tr class="info">
		    		<th><%= t(:name) %></th>
					<th><%= t(:presentation) %></th>
					<th><%= t(:icon) %></th>
					<th></th>
		  		</tr>
			</thead>
			<tbody>
			<% @presentation_pack.each do |presentation_pack| %>
				<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id presentation_pack %>">
					<td><%= presentation_pack.name %></td>
					<td><%= presentation_pack.presentation %></td>
					<td><%= image_tag presentation_pack.icon.url %></td>
					<td class="actions">
						<%= link_to_edit(presentation_pack, {:class => "btn btn-primary"}) %>
						<%= link_to_delete(presentation_pack) %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

