<div class="fields clearfix">
	<div class="span3">
		<%= label_tag(:weight, t(:weight)) %>
		<% if (f.object.paper_products.blank?) %>
	  	<%= f.select(:weight, Spree::Config[:paper_weight].split(",").map {|w| ["Grammatura #{w}", w]}, :prompt => true, :selected => f.object.weight) %>
		<% else %>
			<%= f.hidden_field(:weight) %>
			<%= content_tag(:b, "Grammatura #{f.object.weight}") %>
		<% end %>
	</div>
	<div class="span2">
		<%= label_tag(:cost_cut, t(:cost_cut)) %>
		<div class="input-append"><%= f.text_field(:cost_cut, :class => "span1") %><span class="add-on">&euro;/kg</span></div>
	</div>
	<div class="span2">
		<%= label_tag(:cost_ream, t(:cost_ream)) %>
		<div class="input-append"><%= f.text_field(:cost_ream, :class => "span1") %><span class="add-on">&euro;/1000 fogli</span></div>
	</div>
	<div class="span2">
		<%= label_tag(:thickness, t(:thickness)) %>
	  	<div class="input-append"><%= f.text_field(:thickness, :class => "span1") %><span class="add-on"><i class="icon-resize-small"></i></span></div>
	</div>
	<% if (f.object.paper_products.blank?) %>
	<div class="span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Grammatura", f) %>
	</div>
	<% end %>	
</div>
<br class="clearer"/>
