<% content_for :head do %>
	<%= javascript_tag do %>
	  $(function(){
	     $('#paper_active').change(function(){
	        if(!$(this).is(':checked')){
	            $('input[type=submit]').data('confirm',"Se salvi, verrà tolta l'associazione a tutti i prodotti che la usano.\nSei sicuro di voler procedere?");
	        }
	     });
	  });
	<% end %>
<% end %>

<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @paper } %>
		<h2><%= t(:edit_paper_type) %></h2>
		<br />
		<%= form_for(@paper, :url => {:action => :update}, :html => {:class => "well"}) do |f| %>
			<%= render :partial => "form", :locals => {:f => f} %>
			<br class="clearer"/>
		  	<div class="form-actions right-txt">
			    <%= submit_tag(t(:update), :class => "btn btn-primary") %>
			    <%= link_to(t(:back), admin_paper_types_path, :class => "btn btn-inverse") %>
			  </div>
		<% end %>
	</div>
</div>
