<div class="row">
	<div class="span16">
		<h2><%= t(:edit_page) %></h2>
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @static_page } %>
		<br class="clearer"/>
  		<%= form_for([:admin, @static_page], :html => { :multipart => true , :class => "well"}) do |f| %>
		    <%= render :partial => 'form', :locals => { :f => f } %>
		    <div data-hook = "admin_page_edit_form_buttons">
		      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
		    </div>
		  <% end %>
		</div>
	</div>
</div>
