<div class="row">
	<div class="span16">
		<h2><%= t(:listing_pages) %></h2>
		<p>In questa sezione puoi gestire le pagine statiche</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_page)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :id => 'admin_new_page_link', :class => "btn btn-primary") %>
	</div>
	<div class="span8 content-box">
		In questa sezione potete creare, modificare o eliminare le pagine statiche. 
		Le caratteristiche principali sono:<br />
		<ul>
			<li>TITOLO: il testo che verr&agrave; visualizzato a lato del banner</li>
			<li>CONTENUTO: il contenuto della pagina (&egrave; presente un editor di test ooppure &egrave; possibile modificare l'HTML direttp)</li>
			<li>PUBBLICATO IL: la data di pubblicazione della pagina. Deve essere antecedente al giorno odierno altriemnti non sar&agrave; visualizzabile</li>
		</ul>
	</div>	
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" id="listing_pages">
			<thead>
				<tr class="info" data-hook="admin_pages_index_headers">
					<th><%= t(:title) %></th>
					<th><%= t(:published_at) %></th>
					<th data-hook="admin_static_pages_index_header_actions"></th>
				</tr>
			</thead>
			<tbody>
				<% @collection.each do |static_page|%>
				<tr id="<%= spree_dom_id static_page %>" data-hook="admin_static_pages_index_rows">
					<td width="270px" class='page_name'>
						<span class="handle"></span>
						<%= static_page.title %>
					</td>
					<td class='page_published_at'><%= l(static_page.published_at, :format => "%d %b %Y") rescue "" %></td>
					<td data-hook="admin_pages_index_row_actions" class="actions">
						<%= link_to_edit static_page, :class => 'btn btn-primary' %>
						<%= link_to_delete(static_page) %>
						<%= link_to("<i class='icon-share icon-white'></i> Pubblicata".html_safe, {:action => 'published', :id => static_page.permalink}, :class => "btn btn-success") unless static_page.published? %>
						<%= link_to("<i class='icon-share icon-white'></i> Depubblicata".html_safe, {:action => 'unpublished', :id => static_page.permalink}, :class => "btn btn-warning") if static_page.published? %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate(@static_pages, :theme => 'twitter-bootstrap') %>
	</div>
</div>
