<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
	<div class="control-group">
		<label class="checkbox">
			<%= form.check_box :is_company, {:checked => "#{(!address.company.blank? && !address.vat_number.blank?) ? "checked" : ""}"} %> <%= t(:is_company) %>
		</label>
	</div>
	<div class="span4">
		<div id="is_company_check" style="display: none;">
			<div class="control-group">
				<%= form.label :company, t(:company), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
				<%= form.text_field :company, {:class => "required full"} %>
			</div>
			<div class="control-group">
				<%= form.label :vat_number, t(:vat_number), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
				<%= form.text_field :vat_number, {:class => "required full"} %>
			</div>
		</div>

		<div class="control-group">
			<%= form.label :tax_id_number, t(:tax_id_number), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
			<%= form.text_field :tax_id_number, {:class => "required full"} %>
		</div>

		<div id="is_company_uncheck">
			<div class="control-group">
				<%= form.label :firstname, t(:firstname), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
				<%= form.text_field :firstname, {:class => "required"} %>
			</div>
			<div class="control-group">
				<%= form.label :lastname, t(:lastname), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
				<%= form.text_field :lastname, {:class => "required"} %>
			</div>
		</div>
	</div>

	<div class="span4">
		<div class="control-group">
			<%= form.label :address1, t(:address1), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
			<%= form.text_field :address1, {:class => "required full"} %>
		</div>

		<div class="control-group" id="<%= address_id %>country">
			<%= form.label :country, t(:country), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
			<span id="<%= address_id %>country">
				<%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
			</span>
		</div>
		<div class="control-group" id="<%= address_id %>state">
			<% have_states = !address.country.states.empty? %>
			<%= form.label :state, t(:state), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
			<noscript>
				<%= form.text_field :state_name, :class => 'required' %>
			</noscript>
			<% state_elements = [
			form.collection_select(:state_id, address.country.states,
			:id, :name,
			{:include_blank => true},
			{:class => have_states ? 'required' : 'hidden required',
				:disabled => !have_states}) +
				form.text_field(:state_name,
				{:class => !have_states ? 'required input-right' : 'hidden required',
					:disabled => have_states,
					:placeholder => "#{t(:state)}*"})
				].join.gsub('"', "'").gsub("\n", "")
				%>
				<%= javascript_tag do %>
				document.write("<%== state_elements %>");
				<% end %>
		</div>
	</div>

	<div class="span4">
		<div class="control-group">
			<%= form.label :city, t(:city), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
			<%= form.text_field :city, {:class => "required"} %>
		</div>
		<div class="control-group">
			<%= form.label :zipcode, t(:zipcode), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
			<%= form.text_field :zipcode, {:class => "required"} %>
		</div>

		<div class="control-group">
			<%= form.label :phone, t(:phone), {:class => "black", :style => "display: inline-block;"} %> <span class="required">*</span><br/>
			<%= form.text_field :phone, {:class => "required"} %>
		</div>
	</div>
</div>

<%= javascript_tag do %>
    $(document).ready(function(){
			var get_states = function (region) {
				country = $('div#' + region + 'country' + ' span#' + region + 'country :only-child').val();
				return state_mapper[country];
			};

			var update_state = function (region) {
				states = get_states(region);

				state_select = $('div#' + region + 'state select');
				state_input = $('div#' + region + 'state input');

				if (states) {
					selected = state_select.val();
					state_select.html('');
					states_with_blank = [
					["", "Seleziona provincia"]
					].concat(states);
					$.each(states_with_blank, function (pos, id_nm) {
						var opt = $(document.createElement('option'))
						.attr('value', id_nm[0])
						.html(id_nm[1]);
						if (selected == id_nm[0]) {
							opt.prop("selected", true);
						}
						state_select.append(opt);
					});
					state_select.prop("disabled", false).show();
					state_input.hide().prop("disabled", true);

				} else {
					state_input.prop("disabled", false).show();
					state_select.hide().prop("disabled", true);
				}

			};
			
			$('span#bcountry select').change(function() { update_state('b'); });
			update_state('b');
			$('input#user_bill_address_attributes_is_company').click(function() {
				if (($(this)).is(':checked')) {
					$('#is_company_uncheck').hide();
					$('#is_company_check').show();
					$('#is_company_uncheck input').prop('disabled', true);
					$('#is_company_check input').prop('disabled', false);
				} else {
					$('#is_company_check').hide();
					$('#is_company_uncheck').show();
					$('#is_company_check input').prop('disabled', true);
					$('#is_company_uncheck input').prop('disabled', false);
				}
			}).triggerHandler('click');
    });
<% end %>