<div class="span7">
    <%= f.label :email, t(:email) %>
    <%= f.email_field :email %>
	
    <%= f.label :password, t(:password) %>
    <%= f.password_field :password %>
	
    <%= f.label :password_confirmation, t(:confirm_password) %>
    <%= f.password_field :password_confirmation %>
</div>
<div class="span7">
  <p>
    <%= label_tag nil, t(:roles) %>
    <% @roles.each do |role| %>
      <label class="sub">
        <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role), :id => "user_role_#{role.name}" %>
        <%= role.name %>
      </label> &nbsp;
    <% end %>
    <%= hidden_field_tag 'user[role_ids][]', '' %>
  </p>
</div>

<br class="clearer"/>
<% if @user.persisted? %>
<div class="span15">
	<h3>Promozioni <%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content => t("help.user_promotions").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></h3>
	<%= f.fields_for :user_promotions do |up| %>
		<% if !up.object.product.present? %>
		<div class="control-group span4">
			<%= label_tag(:discount, t(:discount_user), :class => "control-label") %>
			<div class="controls">
				<div class="input-append">
					<%= up.text_field :amount, :value => ((up.object.amount * 100).to_i rescue 0) %><span class="add-on">%</span>
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
	<br class="clearer"/>
	<%= f.fields_for :user_promotions do |up| %>
		<% if up.object.product.present? %>
		<%= render :partial => 'user_promotion_fields', :locals => { :f => up } %>
		<% end %>
	<% end %>
	<p class="small"><%= link_to_add_fields("Aggiungi una nuova promozione", f, :user_promotions) %></p>
</div>
<% end %>
<br class="clearer"/>