<div class="fields clearfix">
	<div class="span3">
		<%= label_tag(:product, t(:product_optional)) %>
		<%= f.select(:product_id, Spree::Product.select {|p| p.type != "Spree::CoverFlyerProduct"}.uniq.collect {|p| [p.name, p.id]}, {:prompt => true}, {:class => "required"}) %>
	</div>
	<div class="span3">
		<%= label_tag(:number_of_copy, t(:number_of_copy)) %>
  		<%= f.text_field :number_of_copy, :class => "required" %>
	</div>
	<div class="span3">
		<%= label_tag(:discount, t(:discount)) %>
		<div class="input-append"><%= f.text_field :amount, :value => ((f.object.amount * 100).to_i rescue 0) %><span class="add-on">%</span></div>
	</div>
	<div class="span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Promozione", f) %>
	</div>
</div>
<br class="clearer"/>

<% javascript_tag do %>
	$(".form-horizontal").validate();
<% end %>