<% content_for :head do %>
	<%= javascript_include_tag states_url(:format => :js) %>
	<%= javascript_tag do %>
		$(function() {
			if ($("#user_use_billing").is(':checked')) {
				$("#shipping").hide();
			  }
			  $("#user_use_billing").change(function() {
				var check = $(this).is(':checked');
				if (!check) {
					$("#shipping").show();
				} else {
					$("#shipping").hide();
				}
			});
		});
	<% end %>
<% end %>

<div class="row">
	<div class="span16">
		<div data-hook="admin_user_edit_form_header">
			<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
			<h2><%= t(:editing_user) %></h2>
		</div>

		<div class="clearfix" data-hook="admin_user_edit_form">
			<%= form_for([:admin, @user], :html => {:class => "well form-horizontal user_form_address"}) do |form| %>
			<%= render :partial => 'form', :locals => { :f => form } %>
			<%= form.hidden_field :privacy, :value => 1 %>

			<%= form.fields_for :bill_address do |bill_form| %>
			<div id="billing" class="container">
				<legend><%= t(:billing_address) %></legend>
				<%= render :partial => 'address_form', :locals => {:form => bill_form, :address_type => 'billing', :address => @user.bill_address} %>
			</div>
			<% end %>
			
			<div data-hook="admin_user_edit_form_button">
				<%= render :partial => 'spree/admin/shared/edit_resource_links' %>
			</div>
			<% end %>
		</div>
	</div>
</div>
