<div class="row">
	<div class="span16">
		<h2><%= t(:listing_users) %></h2>
		<p>In questa pagina puoi gestire gli utenti che si sono registrati tramite il portale</p>
	</div>
	
	<div class="span7 well" data-hook="toolbar">
		<%= link_to("#{t(:new_user)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :id => 'admin_new_user_link', :class => "btn btn-primary") %>
	</div>
	<div class="span8 content-box">
		<%= search_form_for([:admin, @search], :html => {:class => "well"}) do |f| %>
			<legend><%= t(:search) %></legend>
			<%= f.label(:email_cont, t(:email)) %>
			<div class="input-append"><%= f.text_field :email_cont, :size => 25 %><span class="add-on"><i class="icon-search"></i></span></div>
			<%= submit_tag(t(:search), :class => "btn btn-primary") %>
		<% end %>
	</div>	
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" id="listing_users" data-hook>
		  <thead>
		    <tr data-hook="admin_users_index_headers" class="info">
		      <th><%= t(:user) %></th>
			  <th><%= t(:user_order_number) %></th>
			  <th><%= t(:user_total_money) %></th>
			  <th><%= t(:user_last_order) %></th>
		      <th data-hook="admin_users_index_header_actions"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @users.each do |user|%>
		      <tr id="<%= spree_dom_id user %>" data-hook="admin_users_index_rows">
		        <td class='user_email'><%= user.email %></td>
				<td class='user_orders'><%= user.orders.count %></td>
				<td class='user_orders_total'><%= number_to_currency(user.orders.map {|n| n.total}.sum) %></td>
				<td class='user_orders_last'><%= l(user.orders.last.try(:created_at).to_datetime, :format => "%d/%m/%Y %H:%M") rescue nil %></td>
		        <td class="actions" data-hook="admin_users_index_row_actions">
		          <%= link_to_edit user, :class => 'btn btn-primary' %>
				  <%= link_to_delete user %>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<p><%= paginate @users %></p>
	</div>
</div>
