<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @eyelet } %>
		<h2><%= t(:edit_eyelet) %></h2>
		<br />
		<%= form_for(@eyelet, :url => {:action => :update}, :html => {:class => "well form-horizontal"}) do |f| %>
			<%= render :partial => "form", :locals => {:f => f} %>
			<br class="clearer"/>
		  	<div class="form-actions right-txt">
			    <%= submit_tag(t(:update), :class => "btn btn-primary") %>
			    <%= link_to(t(:back), admin_eyelets_path, :class => "btn btn-inverse") %>
			  </div>
		<% end %>
	</div>
</div>
