<%= render "spree/shared/error_messages", :target => @spiraling %>
<%= form_tag admin_spiraling_quantities_update_path(@spiraling, @spiraling_quantity.id), :id => 'edit_spiraling_qt', :class => 'well', :remote => true do  %>
	<legend><%= t("printtogo.edit_spiraling_qt") %></legend>
	<%= render :partial => "form" %>
	<div class="form-actions clearer right-txt">
		<%= submit_tag(t(:create), :class => "btn btn-primary") %>
		<%= link_to(t(:back), admin_spiraling_quantities_index_path(@spiraling), :class => 'btn btn-inverse', :remote => true) %>
	</div>
<% end %>