<div class="span4">
	<%= label_tag("spiraling_quantity[color]", t(:color)) %>
	<div class="input-append"><%= text_field_tag "spiraling_quantity[color]", @spiraling_quantity.color %><span class="add-on"><i class="icon-tint"></i></span></div>
</div>
<div class="span4">
	<%= label_tag("spiraling_quantity[diameter]", t(:diameter)) %>
	<div class="input-append"><%= text_field_tag "spiraling_quantity[diameter]", @spiraling_quantity.diameter %><span class="add-on">mm</span></div>
</div>
<div class="span4">
	<%= label_tag("spiraling_quantity[cost]", t(:price), :class => "control-label") %>
	<div class="input-append"><%= text_field_tag "spiraling_quantity[copy_cost]", @spiraling_quantity.copy_cost %><span class="add-on">&euro;</span></div>
</div>
