<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @printer_format_default } %>
		<h2><%= t(:update) %> <%= t(:printer_format_default) %></h2>
		<br />
		<%= form_for(@printer_format_default, :url => {:action => :update}, :html => {:class => "well"}) do |f| %>
			<%=  render :partial => 'form', :locals => {:f => f} %>
			<div class="form-actions clearer right-txt">
				<%= f.submit(t(:update), :class => "btn btn-primary") %>
		      	<%= link_to(t(:back), admin_printer_format_defaults_path, :class => "btn btn-inverse") %>
		    </div>
		<% end %>
	</div>
</div>
