<div id="content">
	<div class="col-twocolumns">
		<%= breadcrumbs(@taxon, @product, @products) %>
		<h3 class="green">Grande Formato</h3>

		<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
		
		<% if false %>
			<% @products.each do |product| %>
			<div class="box-twocolumns clearfix">
				<%= link_to poster_path(product), :class => 'available' do %>
				<h2 class="green-title"><span><%= product.name %></span></h2>
				<% if product.blank? %>
					<%= image_tag "store/img04.png", :width => '220px', :height => '287px' %>
					<%#= image_tag "store/not-available.png", :width => '220px', :height => '287px', :class => 'hover-img index' %>
				<% else %>
					<%= image_tag product.logo_image, :width => '220px', :height => '287px' %>
					<%#= image_tag "store/aviable.png", :width => '220px', :height => '287px', :class => 'hover-img index' %>
				<% end %>
				<p class="btn-product green">Vai al prodotto</p>
				<% end %>
				<div class="box-description">
					<h4>Descrizione</h4>
					<%= raw product.description %>
				</div>
			</div>
			<% end %>

		<% end %>

	</div>
</div>