<% if @advanced_product.images.empty? %>
<%= form_for([:admin, @advanced_product, @image], :multipart => true, :class => "well") do |f| %>
	<legend><%= t("printtogo.new_image") %></legend>
	<%= render :partial => 'form_image', :locals => {:f => f} %>
	<br class="clearer"/>
	<div class="form-actions right-txt">
		<%= submit_tag(t("printtogo.update"), :class => "btn btn-primary") %>
	</div>
<% end %>
<%= javascript_include_tag 'admin/images/new.js' %>
<% else %>
<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @advanced_product.images.first} %>
<%= form_for([:admin, @advanced_product, @image], :html => {:multipart => true, :class => "well"}) do |f| %>
	<legend><%= t("printtogo.edit_image") %></legend>
	<div class="span3 offset2">
		<%= link_to(image_tag(@advanced_product.images.first.attachment.url(:mini)), @advanced_product.images.first.attachment.url(:product), :class => "thumbnail") %>
	</div>
	<div class="span4">
		<%= render :partial => 'form_image', :locals => {:f => f} %>
	</div>
	<br class="clearer"/>
	<div class="form-actions right-txt">
		<%= f.submit(t("printtogo.update"), :class => "btn btn-primary") %>
	</div>
<% end %>
<% end %>
