<div class="span7">
	<%= label_tag(:name, t("printtogo.name"), :class => "control-label") %>
	<%= f.text_field(:name, :style => "width: 410px") %>
	<%= label_tag(:description, t("printtogo.description"), :class => "control-label") %>
	<%= f.cktext_area(:description, :style => "width: 440px; height: 300px;") %>
	<%= label_tag(:description2, t("printtogo.description2"), :class => "control-label") %>
	<%= f.cktext_area(:description2, :style => "width: 440px; height: 300px;") %>
	<div class="checkbox">
		<%= f.check_box(:max_width, :value => (@advanced_product.max_width == 1) ? true : false) %>
		<%= label_tag(:upload_file, t(:upload_file), :class => "control-label") %>
	</div>
	<%= label_tag(:taxon, t(:taxon), :class => "control-label") %>
	<div class="input-append"><%= f.select(:taxon_ids, Spree::Taxon.all.collect{|t| [t.name, t.id]}) %></div>
</div>
<div class="span7">
	<%= label_tag(:number_of_copies, t(:number_of_copies), :class => "control-label") %>
	<div class="input-append"><%= f.text_field(:number_of_copies, :style => "width: 405px") %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.number_of_copies").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
	<%= label_tag(:min_number_of_copies, t(:min_number_of_copies), :class => "control-label") %>
	<div class="input-append"><%= f.text_field :min_number_of_copies, :style => "width: 405px" %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.min_number_of_copies").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
	<%= label_tag(:marginality, t(:marginality), :class => "control-label") %>
	<div class="input-append"><%= f.text_field(:marginality, :style => "width: 405px") %><span class="add-on">%</span></div>
	
	<br class="clearer"/><br />
	<div class="box-seo">
		<h2>Informazioni SEO <span style="font-size: 12px;">(per migliorare il posizionamento)</span></h2>
		<label class="clearer"><%= t(:seo_title) %></label>
		<%= f.text_field(:seo_title, :id => "seo-title") %>
		<label class="clearer"><%= t(:meta_description) %></label>
		<%= f.text_field(:meta_description, :id => "meta-description") %>
		<label class="clearer"><%= t(:meta_keywords) %></label>
		<%= f.text_field(:meta_keywords, :id => "meta-keywords", :style => "width: 418px;") %>
	</div>
</div>
<br class="clearer"/>
<div class="form-actions right-txt">
	<%= f.submit(t(:update), :class => "btn btn-primary") %>
	<%= link_to(t(:back), admin_advanced_products_url, :class => "btn btn-inverse") %>
</div>