<% @order.reload %>
<%= link_to( image_tag("#{Spree::Config[:site_url]}/assets/store/logo-email.png"), "#{Spree::Config[:site_url]}") %>
<% if(!@order.billing_address.company.blank?) %>
Gentile <%= @order.bill_address.company.upcase %>,
<% else %>
Gentile <%= @order.bill_address.firstname.upcase %> <%= @order.bill_address.lastname.upcase %>,
<% end %>

il suo ordine effettuato in data <%= l(@order.completed_at, :format => "%d/%m/%Y") %>, con riferimento #<%= @order.number %> &egrave; stato inviato correttamente.

Questi sono i dati per il pagamento:
<%= @order.payment_method.name %>
<%= @order.payment_method.description %>


<% unless @order.ship_address.nil? %>
DATI DI SPEDIZIONE
============================================================
Nome: <%= "#{@order.ship_address.full_name}" %>
Tel.: <%= @order.ship_address.phone %>
indirizzo: <%= @order.ship_address.to_ship %>
<% end %>

DATI FATTURAZIONE
============================================================
Nome: <%= "#{@order.bill_address.full_name}" %>
C.F <%= @order.bill_address.tax_id_number %>
P.IVA <%= @order.bill_address.vat_number %>
Tel.: <%= @order.bill_address.phone %>
indirizzo: <%= @order.bill_address.formatted %>

RESOCONTO DELL'ORDINE #<%= @order.number %>
============================================================
<% @order.line_items.each do |li| %>
	<%= li.variant.product.name %> - <%= "#{t(:format)}: #{li.format}, " %><%= "#{t(:orientation)}: #{li.orientation}, " if li.orientation %><%= "#{t(:fold_type)}: #{(li.folding.class == String) ? li.folding : li.folding.folding.name rescue "Nessun tipo di piegha"}, " if li.folding %><%= "#{t(:eyelet_accessory_disposition)}: #{li.eyelet_accessory_disposition}, " if li.eyelet_accessory_disposition %><%= "#{t(:eyelet_accessory_quantity)}: #{li.eyelet_accessory_quantity}, " if li.eyelet_accessory_quantity %><%= "#{t(:sleeve)}: #{(li.sleeve.class == String) ? li.sleeve : li.sleeve.presentation rescue "Nessun Tipo Copertina"}" if li.sleeve %><%= "#{t(:frame)}: #{li.frame.name}, " if li.frame %><%= "#{t(:number_of_facades)}: #{(li.number_of_facades.class == String) ? li.number_of_facades : li.number_of_facades.presentation rescue "Nessuna numero di facciate"}, " if li.number_of_facades %><%= "#{t(:printing_instructions)}: #{li.printing_instructions}, " if li.printing_instructions %><%= "#{t(:paper)}: #{li.paper}, " %><%= "#{t(:weight)}: #{li.paper_weight} gr, " %><%= "#{t(:plasticization)}: #{li.plasticization}, " %><%= "#{t(:print_color)}: #{li.print_color.presentation rescue "Nessuna"}, " %><%= "#{t(:shipping_at)}: #{l(li.shipping_date, :format => "%A %d/%m/%Y")}" %> - <%= li.number_of_copy %> - <%= number_to_currency(li.price.to_f/li.number_of_copy.to_i) %>
<% end %>
============================================================

IMPORTO: <%= number_to_currency(@order.total_without_vat) %>
ALTRI IMPORTI: <%= number_to_currency(@order.presentation_pack.price.to_f + @order.file_check_total.to_f) %>
SPESE DI SPEDIZIONE: <%= number_to_currency(@order.total_shipping) %>
IMPONIBILE: <%= number_to_currency(@order.total_shipping.to_f + @order.presentation_pack.price.to_f + @order.total_without_vat.to_f + @order.file_check_total.to_f) %>
IVA (22%): <%= number_to_currency(@order.total_vat) %>
TOTALE: <%= number_to_currency(@order.total) %>


Cordialmente

<%= link_to(Spree::Config[:site_url], "#{Spree::Config[:site_url]}") %>
<%= link_to(Spree::Config[:store_default_email], "mailto:#{Spree::Config[:store_default_email]}") %>
