<% @order.reload %>
<div style='color:#777;width:560px;font-family:sans-serif;font-size:12px;line-height:140%;padding:20px' class='mail'>
	<div style="background: #e9e5e7; padding: 8px">
		<%= link_to( image_tag("#{Spree::Config[:site_url]}/assets/store/logo-email.png"), "#{Spree::Config[:site_url]}") %>
	</div>
	<% if(!@order.billing_address.company.blank?) %>
	<p>Gentile <strong style='color:#F0440F;'><%= @order.bill_address.company.upcase %></strong>,</p>
	<% else %>
	<p>Gentile <strong style='color:#F0440F;'><%= @order.bill_address.firstname.upcase %> <%= @order.bill_address.lastname.upcase %></strong>,</p>
	<% end %>
	<p>il suo ordine effettuato in data <%= l(@order.completed_at, :format => "%d/%m/%Y") %>, con riferimento #<%= @order.number %> &egrave; stato inviato correttamente.</p>
	<p>
		<strong style='color:#999;'>Questi sono i dati per il pagamento:</strong>
		<br/>
		<strong><%= @order.payment_method.name %></strong><br/>
		<%= @order.payment_method.description %>
	</p>
	<br/>
	<% unless @order.ship_address.nil? %>
	<h2 style='border-bottom: 1px solid #B3B0B1; padding-bottom: 5px;'><strong style='color: #999;'>DATI DI SPEDIZIONE</strong></h2>
	<div style='padding:0px 15px'>
		<strong>Nome: </strong> <%= "#{@order.ship_address.full_name}" %><br/>
		<strong>Tel.: </strong> <%= @order.ship_address.phone %><br />
		<strong>indirizzo: </strong> <%= @order.ship_address.formatted %>
	</div>
	<% end %>
	<h2 style='border-bottom: 1px solid #B3B0B1; padding-bottom: 5px;'><strong style='color: #999;'>DATI FATTURAZIONE</strong></h2>
	<div style='padding:0px 15px'>
		<% if(!@order.bill_address.company.blank?) %>
		<strong>Ragione Sociale: </strong> <%= @order.bill_address.company %><br/>
		<% else %>
		<strong>Nome: </strong> <%= "#{@order.bill_address.full_name}" %><br/>
		<% end %>
		<% if @order.bill_address.tax_id_number %>
		<strong>C.F </strong> <%= @order.bill_address.tax_id_number %><br />
		<% end %>
		<% if @order.bill_address.vat_number %>
		<strong>P.IVA </strong> <%= @order.bill_address.vat_number %><br />
		<% end %>
		<strong>Tel.: </strong> <%= @order.bill_address.phone %><br />
		<strong>indirizzo: </strong> <%= @order.bill_address.formatted %>
	</div>
	<br/>
	<h2 style='border-bottom: 1px solid #B3B0B1; padding-bottom: 5px;'><strong style='color: #F0440F;'>RESOCONTO DELL'ORDINE #<%= @order.number %></strong></h2>
	<table border='0' cellpadding='0' cellaspacing='0' width='560'>
		<tr>
			<th style='padding:5px 10px;font-size:12px;color:#999;background-color:#e9e5e7;border-right:1px solid white;text-align:center'>NOME PRODOTTO</th>
			<th style='padding:5px 10px;font-size:12px;color:#999;background-color:#e9e5e7;border-right:1px solid white;text-align:center'>CARATTERISTICHE</th>
			<th style='padding:5px 10px;font-size:12px;color:#999;background-color:#e9e5e7;border-right:1px solid white;text-align:center'>QT</th>
			<th style='padding:5px 10px;font-size:12px;color:#999;background-color:#e9e5e7;border-right:1px solid white;text-align:center'>PREZZO</th>
		</tr>
		<% @order.line_items.each do |li| %>
		<tr>
			<td style='padding:5px 10px;font-size:12px;color:#999;border-bottom:1px solid #B3B0B1'><%= li.variant.product.name%></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;border-bottom:1px solid #B3B0B1'><%= "#{t(:format)}: #{li.format}, " %><%= "#{t(:orientation)}: #{li.orientation}, " if li.orientation %><%= "#{t(:eyelet_accessory_disposition)}: #{li.eyelet_accessory_disposition}, " if li.eyelet_accessory_disposition %><%= "#{t(:eyelet_accessory_quantity)}: #{li.eyelet_accessory_quantity}, " if li.eyelet_accessory_quantity %><%= "#{t(:fold_type)}: #{(li.folding.class == String) ? li.folding : li.folding.folding.name rescue "Nessun tipo di piegha"}, " if li.folding %><%= "#{t(:sleeve)}: #{(li.sleeve.class == String) ? li.sleeve : li.sleeve.presentation rescue "Nessun Tipo Copertina"}, " if li.sleeve %><%= "#{t(:frame)}: #{li.frame.name}, " if li.frame %><%= "#{t(:number_of_facades)}: #{(li.number_of_facades.class == String) ? li.number_of_facades : li.number_of_facades.presentation rescue "Nessuna numero di facciate"}" if li.number_of_facades %><%= "#{t(:printing_instructions)}: #{li.printing_instructions}, " if li.printing_instructions %><%= "#{t(:paper)}: #{li.paper}, " %><%= "#{t(:weight)}: #{li.paper_weight} gr, " %><%= "#{t(:plasticization)}: #{li.plasticization}, " %><%= "#{t(:print_color)}: #{li.print_color.presentation rescue "Nessuna"}, " %><%= "#{t(:shipping_at)}: #{l(li.shipping_date, :format => "%A %d/%m/%Y")}" %><br /><br />NOTE: <%= li.notes %></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;border-bottom:1px solid #B3B0B1'><%= li.number_of_copy %></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;border-bottom:1px solid #B3B0B1'><%= number_to_currency(li.total) %></td>
		</tr>
		<% end %>
		<tr>
			<td style='padding:5px 10px;font-size:12px;color:#999;' colspan='2'></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'>IMPORTO</td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'><%= number_to_currency(@order.total_without_vat) %></td>
		</tr>
		<tr>
			<td style='padding:5px 10px;font-size:12px;color:#999;' colspan='2'></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'>ALTRI IMPORTI</td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'><%= number_to_currency((@order.adjustments.eligible.where(:originator_type => 'Spree::PresentationPack').try(:first).amount.to_f rescue 0) + @order.file_check_total.to_f) %></td>
		</tr>
		<tr>
			<td style='padding:5px 10px;font-size:12px;color:#999;' colspan='2'></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'>SPESE DI SPEDIZIONE</td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'><%= number_to_currency(@order.total_shipping) %></td>
		</tr>
		<tr>
			<td style='padding:5px 10px;font-size:12px;color:#999;' colspan='2'></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'>IMPONIBILE</td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'><%= number_to_currency(@order.total_shipping.to_f + (@order.adjustments.eligible.where(:originator_type => 'Spree::PresentationPack').try(:first).amount.to_f rescue 0) + @order.total_without_vat.to_f + @order.file_check_total.to_f) %></td>
		</tr>
		<tr>
			<td style='padding:5px 10px;font-size:12px;color:#999;' colspan='2'></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'>IVA (22%)</td>
			<td style='padding:5px 10px;font-size:12px;color:#999;'><%= number_to_currency(@order.total_vat) %></td>
		</tr>
		<tr>
			<td style='padding:5px 10px;font-size:12px;color:#999;' colspan='2'></td>
			<td style='padding:5px 10px;font-size:12px;color:#999;color:#F0440F;font-weight:bold'>TOTALE</td>
			<td style='padding:5px 10px;font-size:12px;background-color:#F0440F;font-weight:bold;color:white'><%= number_to_currency(@order.total) %></td>
		</tr>
	</table>
	<p>Cordialmente</p>
	<table>
		<tr>
			<td>
				<%= link_to(Spree::Config[:site_url], "http://#{Spree::Config[:site_url]}") %><br/><%= link_to(Spree::Config[:store_default_email], "mailto:#{Spree::Config[:store_default_email]}") %></td>
		</tr>
	</table>
</div>