<%
	bindery_before = @variant.limit.bindery_before
	bindery_after = @variant.limit.bindery_after
%>
<div class="configuration-point span7">
	<legend class="small"><%= t(:bindery_low_quantity) %></legend>
	<div class="control-group">
		<%= label_tag("variant[limit][bindery_before_id]", t(:bindery), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag "variant[limit][bindery_before_id]", options_for_select(Spree::Bindery.all.collect {|b| [b.name, b.id] }, (bindery_before.id if bindery_before)) %>
		</div>
	</div>
</div>
<div class="configuration-point span7">
	<legend class="small"><%= t(:bindery_high_quantity) %></legend>
	<div class="control-group">
		<%= label_tag("variant[limit][bindery_after_id]", t(:bindery), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag "variant[limit][bindery_after_id]", options_for_select(Spree::Bindery.all.collect {|b| [b.name, b.id] }, (bindery_after.id if bindery_after)) %>
		</div>
	</div>
	<br class="clearer"/>
</div>
