<%= render "spree/shared/error_messages", :target => @variant %>
<%= form_tag admin_update_spiral_variant_path(@product, @variant), :id => 'edit_spiral_variant', :class => 'well', :remote => true, :multipart => true do  %>
	<legend><%= t("printtogo.edit_format") %></legend>
	<%= render :partial => "form" %>
	<div class="form-actions clearer right-txt">
		<%= submit_tag(t("actions.create"), :class => "btn btn-primary") %>
		<%= link_to(t(:back), admin_spiral_variants_path(@product), :class => 'btn btn-inverse', :remote => true) %>
	</div>
<% end %>