<div id="content">
	<div class="col-twocolumns">
		<%= breadcrumbs(@taxon, @product, @products) %>
		<h3 class="yellow">Prodotti Semplici</h3>
		
		<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
		
		<% if false %>
			<% @products.each do |product| %>
				<div class="box-twocolumns clearfix">
					<%= link_to simple_product_path(product), :class => 'available' do %>
						<h2 class="yellow-title"><span><%= product.name %></span></h2>
						<%= image_tag product.logo_image, :width => '220px', :height => '287px' %>
						<p class="btn-product yellow">Vai al prodotto</p>
					<% end %>
					<div class="box-description">
						<h4>Descrizione</h4>
						<%= raw product.description %>
					</div>
				</div>
			<% end %>
		<% end %>

	</div>
</div>