<h1>Cordonatura</h1>
<p>In questa pagina puoi gestire le opzioni di cordonatura</p>
<br class="clearer"/>
<%= form_tag(admin_creasing_update_path, :id => 'creasing', :class => "well form-horizontal") do %>
	<div class="control-group">
		<%= label_tag("creasing[hourly_cost]", t(:hourly_cost), :class => "control-label") %>
		<div class="controls">
	  		<%= text_field_tag "creasing[hourly_cost]", @creasing.hourly_cost, :tabindex => 1, :class => 'required' %> &euro;
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("creasing[start_time]", t(:start_time), :class => "control-label") %>
		<div class="controls">
	  		<%= text_field_tag "creasing[start_time]", @creasing.start_time, :tabindex => 2 , :class => 'required'%> minuti
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("creasing[average_hourly_print]", t(:average_hourly_creasing), :class => "control-label") %>
		<div class="controls">
	  		<%= text_field_tag "creasing[average_hourly_print]", @creasing.average_hourly_print, :tabindex => 3 , :class => 'required' %> pagine/ora
		</div>
	</div>
	<div class="form-actions" data-hook="buttons">
		<%= submit_tag(t("actions.update"), :class => "btn btn-info right") %>
	  </div>
<% end %>