<div id="content" class="twelve columns">
	<img src="/assets/store/printer.png" style="width: 210px; height: auto; display: block; margin:  0 auto;">
	<h3 style="font-size: 16px; font-weight: 400; margin: 20px; text-align: center;">Si sono verificati degli errori interni al server durtante la richiesta.<br/>Ti preghiamo di riprovare più tardi oppure di contattarci per avere maggior supporto.</h3>
</div>