<p data-hook="environment">
	<div class="control-group">
		<%= label_tag(nil, t(:environment), :class => "control-label") %>
		<div class="controls">
	  		<%= collection_select(:authentication_method, :environment, Rails.configuration.database_configuration.keys, :to_s, :titleize, {}) %>
		</div>
	</div>
</p>

<div class="control-group">
	<%= label_tag(:provider, t(:social_provider), :class => "control-label") %>
	<div class="controls">
  		<%= auth_form.select :provider, SpreeSocial::OAUTH_PROVIDERS, { :include_blank => true } %>
	</div>
</div>

<div class="control-group">
	<%= label_tag(:api_key, t(:social_api_key), :class => "control-label") %>
	<div class="controls">
  		<%= auth_form.text_field :api_key %>
	</div>
</div>

<div class="control-group">
	<%= label_tag(:api_secret, t(:social_api_secret), :class => "control-label") %>
	<div class="controls">
  		<%= auth_form.text_field :api_secret %>
	</div>
</div>

<div class="control-group">
	<%= label_tag(:active, t(:active), :class => "control-label") %>
	<div class="controls">
		<label class="checkbox inline"><%= auth_form.radio_button :active, :true %> <%= t(:yes) %></label>
		<label class="checkbox inline"><%= auth_form.radio_button :active, :false %> <%= t(:no) %></label>
	</div>
</div>
