<h1><%= t("edit_social_method") %></h1>
<br />
<%= render 'spree/shared/error_messages', :target => @authentication_method %>
<%= form_for(@authentication_method, :url => admin_authentication_method_path(@authentication_method), :method => :put, :html  => {:class => "well form-horizontal"}) do |f| %>
	<%= render :partial => "form", :locals => { :auth_form => f } %>
	<div class="form-actions" data-hook="buttons">
		<%= f.submit(t(:edit), :class => "btn btn-info btn-large right") %>
		<%= link_to(t(:cancel), collection_url(), :class => "btn btn-inverse right", :style => "margin-right: 10px") %>
	</div>
<% end %>