<h1><%= t("social_authentication_methods") %></h1>
<br class="clearer"/>
<%= link_to("#{t("new_social_method")} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :class => 'btn btn-primary')  %>
<br class="clearer"/>
<br />

<table class="table table table-hover table-condensed table-bordered" data-hook>
	<thead data-hook="admin_social_methods_index_headers">
  		<tr class="info">
    		<th><%= t("social_provider") %></th>
		    <th><%= t("social_api_key") %></th>
		    <th><%= t("social_api_secret") %></th>
		    <th><%= t("environment") %></th>
		    <th><%= t("active") %></th>
		    <th data-hook="admin_social_methods_index_header_actions">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @authentication_methods.each do |method|%>
		<tr id="<%= dom_id method %>" data-hook="admin_trackers_index_rows">
			<td><%= method.provider %></td>
			<td><%= method.api_key %></td>
			<td><%= method.api_secret %></td>
			<td><%= method.environment.to_s.titleize %></td>
			<td><%= method.active ? t(:yes) : t(:no) %></td>
			<td style="width: 205px">
				<%= link_to_edit(method, {:class => "btn btn-primary"}) %>
				<%= link_to_delete(method) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
