<h1>Configurazione Carta</h1>
<p>In questa pagina puoi gestire le tue configurazioni per la carta</p>
<br />
<%= form_tag(admin_papers_path, :class => "well form-inline clearfix") do %>
    <% i = 1 %>
    <h2>Tagliato</h2>
	<hr />
    <%= render :partial => 'table', :locals => {:paper_type => @papers_cut, :label => 'Costo KG', :index => i, :cl => "cut"} %>
    <br class="clearer"/>
	<h2>Risma</h2>
	<hr />
    <%= render :partial => 'table', :locals => {:paper_type => @papers_in_format, :label => 'Costo a risma', :index => i + (@papers_cut.papers.first.values.count * @papers_cut.papers.count), :cl => "format"} %>
	<div class="form-actions clearer">
    	<%= submit_tag(t(:update), :tabindex => i + (@papers_in_format.papers.first.values.count * @papers_in_format.papers.count * 2), :class => "btn btn-info right") %>
	</div>
<% end %>