<div class="row">
	<div class="span7">
		<h2><%= t(:puncture) %></h2>
		<p>In questa pagina puoi gestire le opzioni di foratura</p>
	</div>
	<div class="span8 content-box margin-top">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<%= form_tag(admin_puncture_update_path, :id => 'puncture', :class => "well form-horizontal") do %>
			<legend><%= t(:general_settings) %></legend>
			<div class="control-group">
				<%= label_tag("puncture[hourly_cost]", t(:hourly_cost), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "puncture[hourly_cost]", @puncture.hourly_cost, :tabindex => 1, :class => 'required' %> &euro;
				</div>
			</div>
			<div class="control-group">
				<%= label_tag("puncture[start_time]", t(:start_time), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "puncture[start_time]", @puncture.start_time, :tabindex => 2 , :class => 'required'%> minuti
				</div>
			</div>
			<div class="control-group">
				<%= label_tag("puncture[average_hourly_print]", t(:average_hourly), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "puncture[average_hourly_print]", @puncture.average_hourly_print, :tabindex => 3 , :class => 'required' %> pagine/ora
				</div>
			</div>
			<div class="form-actions right-txt" data-hook="buttons">
				<%= submit_tag(t("actions.update"), :class => "btn btn-primary") %>
			  </div>
		<% end %>
	</div>
</div>
