<%= render :partial => "spree/shared/google_analytics_order" %>

<div id="content">

	<div id="order-summary-confirm" data-hook>
		<p style="text-align: center; font-size: 16px;"><%= t(:thank_you_for_your_order, :number => @order.number) %></p>
		<p style="text-align: center;"><img src="/assets/store/check-success.png" width="128"/></p>
		<br class="clear"/>
	
		<p data-hook="links">
			<%= link_to  spree.root_path, :class => "button" do %>
				<span><%= t(:back_to_store) %> </span>
			<% end %>
			<% if respond_to?(:current_user) && current_user %>
			<%= link_to  spree.account_path, :class => "button" do %>
				<span><%= t(:my_account) %></span>
			<% end %>
			<% end %>
		</p>
	</div>
</div>
