<div id="content">
  <div class="content-box-title-no-bc">
    <h2><%= t(:order) + " #" + @order.number %></h2>
  </div>

  <div id="order-summary" data-hook>
    <% if params.has_key? :checkout_complete %>
        <h3><%= t(:thank_you_for_your_order) %></h3>
    <% end %>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
    <br class="clear"/>
	
    <p data-hook="links">
	  <%= link_to(t(:print_invoice, :scope => :spree), pdf_invoice_path(:order_id => @order.id, :format => :pdf), :class => "button dark") if @order.invoice.present? %>
      <%= link_to  spree.root_path, :class => "button" do %>
          <span><%= t(:back_to_store) %> </span>
      <% end %>
      <% unless params.has_key? :checkout_complete %>
          <% if respond_to?(:current_user) && current_user %>
              <%= link_to  spree.account_path, :class => "button" do %>
                <span><%= t(:my_account) %></span>
               <% end %>
          <% end %>
      <% end %>
    </p>
  </div>
</div>




