<div class="columns alpha six" data-hook="billing_fieldset_wrapper">
	<div id="shipping" data-hook>
		<%= form.fields_for :ship_address do |ship_form| %>
			<div class="address-header">
				<span><%= t(:shipping_address) %></span>
			</div>
			<%= render :partial => 'spree/address/form', :locals => {:form => ship_form, :address_type => 'shipping', :address => @order.ship_address} %>
		<% end %>
	</div>

	<div id="billing" data-hook>
		<%= form.fields_for :bill_address do |bill_form| %>
			<div class="address-header">
				<span><%= t(:billing_address) %></span>
				<p class="field checkbox" data-hook="other_bill">
					<%= check_box_tag('order[other_bill]', '1', false) %>
					<%= label_tag :order_other_bill, t(:change_bill_address), :id => 'other_bill' %>
				</p>
			</div>
			<%= render :partial => 'spree/address/form', :locals => {:form => bill_form, :address_type => 'billing', :address => @order.bill_address} %>
		<% end %>
	</div>
</div>
<hr class="clear"/>
<div class="form-buttons clearfix" data-hook="buttons">
	<%= button_tag :class => 'btn-submit continue', :id => 'add-to-cart-button', :type => :submit do %>
	    <%= content_tag(:span, t(:save_and_continue)) %>
	<% end %>
</div>