<div id='shipping_method' data-hook>
  <div class="black-header">
    <span><%= t(:shipping_method) %></span>
  </div>

  <div class="inner" data-hook="shipping_method_inner">
    <%
       # Ci sarà sempre un solo shipping method ma per sicurezza lascio il ciclo for.
    %>
    <% @order.rate_hash.each do |shipping_method| %>
        <%= hidden_field_tag("order[shipping_method_id]", shipping_method[:id]) %>
    <% end %>
  </div>



  <div class="form-buttons clearfix" data-hook="buttons">
	<%= button_tag :class => 'btn-submit continue', :id => 'add-to-cart-button', :type => :submit do %>
	    <%= content_tag(:span, t(:save_and_continue)) %>
	<% end %>
    <%#= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
  </div>
</div>