<div id="payment" data-hook>
	<div class="black-header">
		<span><%= t(:payment_information) %></span>
	</div>

	<div data-hook="checkout_payment_step" class="list-center">
		<ul>
			<% @order.available_payment_methods.each do |method| %>
			<li class="method">
				<%= image_tag((method.icon.exists? ? method.icon.url : "store/#{method.type.parameterize}.jpg")) %>
				<%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
				<label for="order_payments_attributes__payment_method_id_<%= method.id %>"><%= t(method.name, :scope => :payment_methods, :default => method.name) %></label>
			</li>
			<% end %>
		</ul>
		<br style="clear:both;" />
		<div data-hook="coupon_code_field" data-hook></div>
	</div>
</div>

<br class="space" />

<div class="form-buttons clearfix" data-hook="buttons">
	<%= button_tag :class => 'btn-submit continue', :id => 'add-to-cart-button', :type => :submit do %>
		<%= content_tag(:span, t(:complete_checkout)) %>
	<% end %>
	<script>disableSaveOnClick();</script>
</div>