<div class="black-header">
	<span><%= t(:insert_images) %></span>
</div>
<div>
	<p><%= raw t(:upload_desc) %> <span class="bold"><%= @order.number %>.</span><br/></p>
</div>

<%= form.fields_for :line_items do |li| %>
<% if !li.object.variant.product.is_a?(Spree::SimpleProduct) || (li.object.variant.product.is_a?(Spree::SimpleProduct) && li.object.variant.product.accept_upload?) %>
<div id="li_file_attachment_<%= li.object.id %>">
	<div class="black-header">
		<span><%= li.object.variant.product.name %></span>
	</div>
	<ul class="select-size">
		<li><%= link_to(t(:limit_15), "javascript: selectMethod('ali_#{li.object.id}')", :id => "ali_aselect_#{li.object.id}") %>
			<%= image_tag("store/checked.png") if li.object.file_attachment.exists? %>
			<div class="inner control-group" style="display: none;" id="ali_<%= li.object.id %>">
				<%= li.hidden_field(:id) %>
				<label class="control-label"><%= t(:annex) %></label>
				<div class="controls">
					<%= li.file_field(:file_attachment, :class => "fileupload", :data => {:url => upload_line_item_path(), :id => "#{li.object.id}"}) %>
					<p class="help-block grey"><%= t(:upload_limit_help) %></p>
					<div class="progress" style="display: none;">
					    <div class="bar" style="width: 0%;"></div>
					</div>
				</div>
			</div>
		</li>
		<li><%= link_to(t(:limit_2), "javascript: openPopup('#{@order.number}', '#{Spree::Config[:store_default_email]}')") %></li>
	</ul>
</div>
<% else %>
<%= li.hidden_field(:id) %>
<% end %>
<% end %>

<%= "<p class='remember-upload'><strong>File caricato correttamente. continua con l'acquisto</strong></p>".html_safe if form.object.line_items.any?{|li| li.file_attachment.exists? } %>

<div class="form-buttons clearfix" data-hook="buttons">
	<%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
	    <%= content_tag(:span, t(:save_and_continue)) %>
	<% end %>
</div>
