<div class="fields clearfix">
	<div class="span3">
		<%= f.label(:name, t(:name)) %>
  		<%= f.text_field(:name, :class => "span3") %>
	</div>
	<div class="span4">
		<%= label(:available_meter, t(:available_meter_square)) %>
		<div class="input-append"><%= f.text_field(:available_meter, :class => "span3") %><span class="add-on">&euro;/mq</span></div>
	</div>
	<div class="span3" style="margin-top: 30px">
		<%= link_to_confirm_remove_fields("Rimuovi tipologia di plastificazione", f) %>
	</div>
</div>
<br class="clearer"/>
