<div class="row">
	<div class="span7">
		<h2><%= t(:lamination) %></h2>
		<p>In questa pagina puoi gestire le opzioni di plastificazione per grandi formati</p>
	</div>
	<div class="span8 content-box margin-top">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<%= form_for(@lamination, :url => admin_lamination_update_path(@lamination), :html => {:id => 'lamination', :class => "well"}) do |f| %>
			<div class="span7">
				<%= f.label(:hourly_cost, t(:hourly_cost)) %>
			  	<div class="input-append"><%= f.text_field(:hourly_cost, :class => 'required') %><span class="add-on">&euro;/ora</span></div>
			</div>
			<div class="span7">
				<%= f.label(:start_time, t(:start_time)) %>
		  		<%= f.text_field(:start_time, :class => 'required') %>
			</div>
			<br class="clearer"/>
			<div class="clearfix">
				<%= f.fields_for :lamination_types do |builder| %>
					<%= render "lamination_type_fields", :f => builder %>
				<% end %>
				<p class="small"><%= link_to_add_fields("Aggiungi una nuova tipologia di plastificazione", f, :lamination_types) %></p>
			</div>
			<div class="form-actions right-txt" data-hook="buttons">
				<%= f.submit(t(:update), :class => "btn btn-primary") %>
			</div>
		<% end %>
	</div>
</div>
