<div class="fields clearfix">
	<div class="span2 inputs">
		<%= f.label(:name, t(:name)) %>
	 	<%= f.text_field(:name, :class => "span2") %>
	</div>
	<div class="span2 inputs">
		<%= f.label(:presentation, t(:presentation)) %>
	 	<%= f.text_field(:presentation, :class => "span2") %>
	</div>
	<div class="span2 inputs">
		<%= f.label(:start_time, t(:start_time)) %>
		<%= f.text_field(:start_time, :class => "span2") %>
	</div>
	<div class="span2 inputs">
		<%= f.label(:hourly_cost, t(:hourly_cost)) %>
		<div class="input-append"><%= f.text_field(:hourly_cost, :class => "span1") %><span class="add-on">&euro;/h</span></div>
	</div>
	<div class="span2 inputs">
		<%= label(:available_meter, t(:available_meter_square)) %>
		<div class="input-append"><%= f.text_field(:available_meter, :class => "span1") %><span class="add-on">&euro;/mq</span></div>
	</div>
	<div class="span2 inputs">
		<%= label(:plant, t(:plant)) %>
		<div class="input-append"><%= f.text_field(:plant, :class => "span1") %><span class="add-on">&euro;</span></div>
	</div>
	<div class="span4" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi tipologia lavorazione plotter", f) %>
	</div>
</div>
<br class="clearer"/>
