<div id="content">
	<div class="content-box-title-no-bc" id="contacts">
		<h2>Contatti</h2>
	</div>
	<div class="clearfix content-box-no-bc">
		<div class="maps-contacts">
			<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= Spree::Config[:store_location].html_safe %>"></iframe>
		</div>
		<div class="left">
			<div class="boxp red"><i class="icon-tel"></i> <strong><%= t("simple_cms.contact.phone_number") %>:</strong> <%= Spree::Config[:store_phone_number] %></div>
			<div class="boxp green"><i class="icon-fax"></i> <strong><%= t("simple_cms.contact.fax_number") %>:</strong> <%= Spree::Config[:store_fax_number] %></div>
			<div class="boxp blue clearfix"><div class="left" style="width: 21px;"><i class="icon-adr"></i></div>  <div class="right" style="width: 173px;"><%= Spree::Config[:store_address] %></div></div>
		</div>
		<div class="right" style="margin-right: 30px;">
			<%= form_tag('contacts/send', :method => :post, :id=> 'contact_form', :class => "clearfix") do %>

			<div class="left">
				<%= text_field_tag :name, nil, {
					:value => params[:name],
					:placeholder => "Nome",
					:class => "required" } %>
			</div>
			<div class="right">
				<%= text_field_tag :email, nil, {
					:value => params[:email],
					:placeholder => "Email",
					:class => "required email" } %>
			</div>
			<br class="clearer"/><br class="clearer"/>
			<div class="clearfix">
				<%= text_area_tag :messaggio, nil, {
					:value => params[:messaggio],
					:placeholder => "Messaggio",
					:id => 'enquiry',
					:class => "required", :style => "width: 450px; height: 120px"} %>
			</div>
			<%= link_to(t("simple_cms.contact.email_sent_button"), "javascript: $('#contact_form').submit();", :class => "button secondary right") %>
			<% end %>
		</div>
	</div>
</div>
