<div id="content">
	<div class="content-box-title-no-bc" id="contacts">
		<h2><%= @static_page.title %></h2>
	</div>
	<div class="clearfix content-box-no-bc">
		<div class="clerfix black min-font">
			<%= raw(@static_page.body) %>
		</div>
	</div>
</div>
