body { font-family: "Cuprum", Helvetica, Arial, sans-serif; }
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.left-txt { text-align: left !important; }
.right-txt { text-align: right !important; }
.bold { font-weight: bold; }
.left { float: left !important; }
.right { float: right !important; }
.center { text-align: center !important; }
.loader { padding: 150px 0px; }
.clearer { clear: both; }

.margin-top { margin-top: 10px; }
.padding-top { padding-top: 10px; }

p.big {
  font-weight: bold;
  font-size: 20px;
  color: #5A5A5A;
  text-rendering: optimizelegibility;
  margin: 0px;
  padding: 0px;
}
legend.small {
  color: #5A5A5A;
  font-size: 18px;
  text-rendering: optimizelegibility;
  line-height: 40px;
  margin-bottom: 10px;
}
hr {
  margin: 20px 0px;
  border-top: 1px solid #E5E5E5;
}

#pageContent {
  background-color: #EEE;
}

.row {
  margin-left: -30px;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 30px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1270px;
}
.span16 {
  width: 1270px;
}
.span15 {
  width: 1100px;
}
.span14 {
  width: 1000px;
}
.span13 {
  width: 980px;
}
.label, .badge {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.inputs {
  margin-left: 10px;
}


.navbar .brand {
  padding: 0px 30px;
  margin-left: -30px;
}
.navbar .brand img {
  height: 40px;
  width: 160px;
}

.nav {
  font-family: "Imprima", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

input, button, select, textarea {
  font-family: "Cuprum", Helvetica, Arial, sans-serif;
}

.table { background-color: whiteSmoke; }
.table tbody tr.info td, .table thead tr.info th {
  background: #F1EDEA;
  background: rgba(0, 0, 0, .04);
}
.table tbody tr td {
  vertical-align: middle;
}
td.actions { text-align: right; }

.content-box {
  background: #F1EDEA;
  background: rgba(0, 0, 0, .04);
  border: 1px solid #E3E3E3;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.marginality {
  font-size: 40pt;
  line-height: 100pt;
  color: #FFF;
  text-shadow: 0px 2px 3px #333;
}
.box-seo {
  padding: 8px;
  background: #FFBBBB;
  border-radius: 8px;
  margin: 5px;
  border: 2px solid #6A0000;
}
#seo-title, #meta-description {
  width: 418px;
}

.section_promo {
  margin: 5px;
  background: #313131;
  padding: 2px 0px 2px 10px;
  color: white;
  clear: both;
}

.homepage_element_thumb {
  width: 40px !important;
  height: 37px !important;
}

#preferences textarea, #preferences input[type="text"], #preferences input[type="password"],
#preferences input[type="datetime"], #preferences input[type="datetime-local"], #preferences input[type="date"],
#preferences input[type="month"], #preferences input[type="time"], #preferences input[type="week"],
#preferences input[type="number"], #preferences input[type="email"], #preferences input[type="url"],
#preferences input[type="search"], #preferences input[type="tel"], #preferences input[type="color"], #preferences .uneditable-input {
	width: 100%;
}

input, textarea, .uneditable-input, select { width: 90%; }
