<div class="span7">
	<%= label_tag("coil_value[name]", t(:name)) %>
	<%= text_field_tag "coil_value[name]", @coil_value.name %>

	<%= label_tag("coil_value[description]", t(:description)) %>
	<%= text_area "coil_value", :description, :style => "width: 400px; height: 150px;" %>
</div>
<div class="span7">
	<%= label_tag("coil_value[width]", t(:width_coil)) %>
	<div class="input-append"><%= text_field_tag "coil_value[width]", @coil_value.width %><span class="add-on">cm</span></div>
	
	<%= label_tag("coil_value[height]", t(:height_coil)) %>
	<div class="input-append"><%= text_field_tag "coil_value[height]", @coil_value.height %><span class="add-on">cm</span></div>
	
	<%= label_tag("coil_value[weight]", t(:weight)) %>
	<div class="input-append"><%= text_field_tag "coil_value[weight]", @coil_value.weight %><span class="add-on">gr/mq</span></div>
	
	<%= label_tag("coil_value[waste]", t(:waste_mq)) %>
	<div class="input-append"><%= text_field_tag "coil_value[waste]", @coil_value.waste %><span class="add-on">mq</span></div>
	
	<%= label_tag("coil_value[price]", t(:price_meter_square)) %>
	<div class="input-append"><%= text_field_tag "coil_value[price]", @coil_value.price %><span class="add-on">&euro;</span></div>
	<br /><br />
	<label class="ckecked">	
		<%#= check_box_tag "coil_value[sided]", @coil_value.sided %>
		<%= check_box "coil_value", :sided %><%= t(:sided) %>
	</label>
</div>
<br class="clearer"/>