<% @body_id = "coil_value" %>

<div class="row">
	<div class="span16">
		<h2><%= t(:coil_values) %></h2>
		<p>In questa pagina puoi gestire le bobine</p>
	</div>
	
	<div class="span7 well">
		<%= button_link_to("#{t(:new_coil_value)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_coil_value_path, {:id => 'admin_new_coil_value', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		In questa sezione potete creare, modificare o eliminare le bobine utilizzate dai prodotti di stampa. 
		Le caratteristiche principali sono:<br />
		<ul>
			<li>NOME: il nome che verr&agrave; vesualizzato nella tendina per la configurazione e nella pagina preventivo di ogni prodotto</li>
			<li>DESCRIZIONE: una breve descrizione del materiale che verr&agrave; visualizzato nella pagina preventivo di ogni singolo prodotto</li>
			<li>LUNGHEZZA: la lunghezza della bobina</li>
			<li>LARGHEZZA: la larghezza massima della bobina (la dimensione del foglio che poi entrer&agrave; nella stampante)</li>
			<li>PREZZO METRO QUADRO: il prezzo della bobina al mq<sup>2</sup></li>
			<li>BIFACCIALE: se la bobina pu&ograve; essere stampata fronte e retro</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="index table table-hover table-condensed table-bordered">
			<thead>
				<tr class="info">
					<th>Nome</th>
					<th>Base x Altezza</th>
				    <th>Prezzo a mq</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% @coil_values.each do |coil_value| %>
				<tr id="coil_value_<%= coil_value.id %>" data-hook="item_row">
					<td><%= coil_value.name %></td>
			        <td><%= coil_value.width %> x <%= coil_value.height %> cm</td>
			        <td><%= coil_value.price %> &euro; </td>
					<td class="actions">
						<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_coil_value_path(coil_value), :class => 'btn btn-primary') %>
						<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_coil_value_path(coil_value), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :method => :delete) %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
