<%= render "spree/shared/error_messages", :target => @product %>
<%= form_tag(admin_poster_high_quality_printer_formats_update_path(@product, @poster_high_quality_printer_formats.id), :id => 'edit_poster_format', :class => 'well', :remote => true, :multipart => true) do  %>
	<legend><%= t("printtogo.edit_format") %></legend>
	<%= render :partial => "form" %>
	<div class="form-actions clearer right-txt">
		<%= submit_tag(t("actions.create"), :class => "btn btn-primary") %>
		<%= link_to(t(:back), admin_poster_high_quality_printer_formats_index_path(@product), :class => 'btn btn-inverse', :remote => true) %>
	</div>
<% end %>