<table class="index table table-hover table-condensed table-bordered" data-hook="adjustments">
	<thead>
		<tr data-hook="adjustmment_head" class="info">
			<th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
			<th><%= t("printtogo.description") %></th>
			<th><%= t("printtogo.amount") %></th>
			<% if !session[:only_read] %>
			<th><%= t("printtogo.action") %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	<% @order.adjustments.each do |adjustment|
			@edit_url = edit_admin_order_adjustment_path(@order, adjustment)
			@delete_url = admin_order_adjustment_path(@order, adjustment)
		%>
		<tr id="<%= spree_dom_id(adjustment) %>" data-hook="adjustment_row">
			<td><%= adjustment.created_at.to_s(:date_time24) %></td>
			<td><%= adjustment.label %></td>
			<td><%= number_to_currency adjustment.amount %></td>
			<% if !session[:only_read] %>
			<td class='actions' style="width: 25%">
					<%= link_to_edit(adjustment, :class => 'btn btn-primary', :remote => true) %> <%= link_to_delete adjustment %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>