<h2><%= t("printtogo.adjustments") %></h2>
<br class="clearer"/>
<% if !session[:only_read] %>
<%= render :partial => 'spree/admin/shared/new_adjustment_button' %>
<% end %>
<%= render :partial => 'adjustments_table' %>
