<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @buttonhole } %>
		<h2><%= t(:edit_buttonhole) %></h2>
		<br />
		<%= form_for(@buttonhole, :url => {:action => :update}, :html => {:class => "well form-horizontal"}) do |f| %>
			<%= render :partial => "form", :locals => {:f => f} %>
			<br class="clearer"/>
		  	<div class="form-actions right-txt">
			    <%= submit_tag(t(:update), :class => "btn btn-primary") %>
			    <%= link_to(t(:back), admin_buttonholes_path, :class => "btn btn-inverse") %>
			  </div>
		<% end %>
	</div>
</div>
