/*
 *= require store/modal.min
 *= require store/jquery.powertip
*/

#checkout_form_address input.error, .edit_user input.error, #login-form input.error, #user_signin input.error,
#login-form select.error, #checkout_form_address select.error, .edit_user select.error, #user_signin select.error,
#forgot-password input.error {
	border-color: #E45353;
}

input[type="password"]{
	color: #000000 !important;
	font-size: 20px !important;
    font-family: Arial !important;
}

img {
	max-width: none !important;
}

#default #main #slides { 
	margin-bottom: 10px !important; 
}

#default #main #content { 
	padding-bottom: 60px !important; 
}

.banner_list img {
	height: 136px;
	width: 219px;
}

.caption-content{
	top: -2px !important;
}

.caption-title{
	height: 117px !important;
	padding: 10px 4px 10px 4px !important;
	overflow: hidden;
}

#login-form input[type="checkbox"] {
	width: 20px;
	height: 15px;
}

.privacy-required {
	width: 700px;
	margin: auto;
}
.privacy {
	width: 700px;
	height: 145px;
	overflow: auto;
	padding: 5px;
	background-color: #DFDFDF;
	margin: auto;
}

.privacy-required > p {
	position: relative;
}
#login-form .privacy-required > p label.error {
	top: 13px;
	margin-top: 0px;
	margin-left: 0px;
	left: 130px;
}
.desc_product_raw {
	padding: 0px 0px 10px;
}
.desc_product_raw > p {
	padding: 0px;
}

/* ################################################## */



label.error div.error-arrow:after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
label.error div.error-arrow:after {
    z-index: -1;
    content: "";
}
label.error div.error-arrow {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-color: transparent;
    border-style: solid;

    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-right-color: #E45353;
    border-width: 5px 10px 5px 0;
}

div.error-content {
    padding: 5px;
}


#add_posters label.error,
#add_poster_high_qualities label.error,
#add_rigids label.error,
#add_stickers label.error,
#add_banners label.error,
#add_pvc_stickers label.error,
#add_canvas label.error,
#add_simple_product label.error,
#add_advanced_product label.error,
#add_business_card label.error,
#add_flayer label.error,
#add_paperback label.error,
#add_staple label.error,
#add_folding label.error,
#add_spiral label.error,
#add_poster_flyer label.error,
#add_letterhead label.error,
#add_postcard label.error,
#add_playbill label.error{
    z-index: 21;
    position: absolute;
    right: -220px;
    top: -5px;
    margin: 0;
    width: 212px;
    padding: 5px;

    background-color: white;
    border: solid thin;
    border: 1px solid #E45353;
    border: 1px solid rgba(228, 83, 83, 1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}


#add_posters div.custom-size label.error,
#add_poster_high_qualities div.custom-size label.error,
#add_rigids div.custom-size label.error,
#add_stickers div.custom-size label.error,
#add_banners div.custom-size label.error,
#add_pvc_stickers div.custom-size label.error,
#add_canvas div.custom-size label.error,
#add_simple_product div.custom-size label.error,
#add_advanced_product div.custom-size label.error,
#add_business_card div.custom-size label.error,
#add_flayer div.custom-size label.error,
#add_paperback div.custom-size label.error,
#add_staple div.custom-size label.error,
#add_folding div.custom-size label.error,
#add_spiral div.custom-size label.error,
#add_poster_flyer div.custom-size label.error,
#add_letterhead div.custom-size label.error,
#add_postcard div.custom-size label.error,
#add_playbill div.custom-size label.error{
    right: auto;
    top: auto;
    width: 110px;
    display: inline;
    margin-top: 16px;
    padding: 5px;
}
