<%= csrf_meta_tags %>
<h4><%= t(:customer_details) %></h4>
<br />
<% if @order.cart? %>
  <div id="customer-search" data-hook>
    <fieldset>
      <legend><%= t(:customer_search) %></legend>
      <%= label_tag :customer_search, t(:enter_at_least_five_letters) %>
      <%= text_field_tag :customer_search,  nil, :class => 'fullwidth title' %>
    </fieldset>
  </div>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

<%= form_for(@order, :url => admin_order_customer_url(@order), :html => {:class => "well form-horizontal"}, :remote => true) do |f| %>
  <%= render 'form', :f => f %>
<% end %>