<div class="row">
	<div class="span7">
		<h2><%= t(:cut) %></h2>
		<p>In questa pagina puoi gestire le opzioni di taglio</p>
	</div>
	<div class="span8 content-box margin-top">
		Nella sezione Taglio dovrete impostare:
		<ol>
			<li>Costo Orario</li>
			<li>Tempo di avviamento (richiesto per la regolazione della taglierina o impostazione del programma di taglio)</li>
			<li>Media oraria tagli (numero di tagli che l’operatore fa mediamente in un ora)</li>
		</ol>
		<strong>N.B.</strong>
		<p>Abbiamo già inserito alcuni parametri utilizzati per il calcolo del costo del taglio come:</p>
		<ul>
			<li>i numeri di tagli che servono in base alle pose presenti su un foglio (tutto calcolato
		con doppitagli)</li>
			<li>il numero massimo di fogli che si possono far passare sotto la taglierina in base alla grammatura della carta.</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<%= form_tag(admin_cut_path, :id => 'cut', :class => "well form-horizontal") do %>
			<legend><%= t(:general_settings) %></legend>
			<div class="control-group">
				<%= label_tag("cut[hourly_cost]", t(:hourly_cost), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "cut[hourly_cost]", @cut.hourly_cost, :tabindex => 1, :class => 'required' %> &euro;
				</div>
			</div>
			<div class="control-group">
				<%= label_tag("cut[start_time]", t(:start_time), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "cut[start_time]", @cut.start_time, :tabindex => 2 , :class => 'required'%> minuti
				</div>
			</div>
			<div class="control-group">
				<%= label_tag("cut[average_hourly_print]", t(:average_hourly_cut), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "cut[average_hourly_print]", @cut.average_hourly_print, :tabindex => 3 , :class => 'required' %> tagli/ora
				</div>
			</div>
			<div class="form-actions right-txt" data-hook="buttons">
				<%= submit_tag(t(:update), :class => "btn btn-primary") %>
			  </div>
		<% end %>
	</div>
</div>
