<% if @product.images.empty? %>
<%= form_tag("/admin/products/#{@product.permalink}/images", :multipart => true, :class => "well") do %>
	<legend><%= t(:new_image) %></legend>
	<%= render :partial => 'form' %>
	<br class="clearer"/>
	<div class="form-actions right-txt">
		<%= submit_tag(t(:update), :class => "btn btn-primary") %>
	</div>
<% end %>
<%= javascript_include_tag 'admin/images/new.js' %>
<% else %>
<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @product.images.first} %>
<%= form_for([:admin, @product, @product.images.first], :html => {:multipart => true, :class => "well clearfix"}) do |f| %>
	<legend><%= t(:edit_image) %></legend>
	<div class="span3 offset2">
		<%= link_to(image_tag(@product.images.first.attachment.url(:mini)), @product.images.first.attachment.url(:product), :class => "thumbnail") %>
	</div>
	<div class="span4">
		<%= render :partial => 'form' %>
	</div>
	<br class="clearer"/>
	<div class="form-actions right-txt">
		<%= f.submit(t(:update), :class => "btn btn-primary") %>
	</div>
<% end %>
<% end %>