<h1><%= t("poses") %></h1>
<p>In questa pagina puoi gestire le pose</p>

<div class="span10 clearfix" data-hook="toolbar">
	<%= button_link_to("#{t("poses.new_poses")} <i class='icon-plus icon-white'></i>".html_safe, spree.new_admin_pose_path, {:id => 'admin_new_printer', :class => "btn btn-large btn-primary"}) %>
</div>

<br class="clearer"/><br />

<table class="table table table-hover table-condensed table-bordered" data-hook>
	<thead>
  		<tr class="info">
    		<th><%= t(:number_of_pose) %></th>
			<th><%= t(:number_of_cut) %></th>
			<th><%= t(:action) %></th>
  		</tr>
	</thead>
	<tbody>
	<% @poses.each do |pose| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id pose %>">
			<td><%= pose.name %></td>
			<td><%= pose.presentation %></td>
			<td style="width: 210px">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe ,edit_admin_pose_path(pose), :class => "btn btn-primary") %>
              <%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_pose_path(pose), {:class => " btn btn-danger", :data => { :confirm => t(:are_you_sure) },:remote => true,	:method => 'delete'}) %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= paginate @poses %>
