<h4>Aggiungi Template per il formato</h4>
<br class="clearer"/>
<% @url = (!@variant.blank?) ? create_variant_admin_templates_path(@variant) : create_option_value_admin_templates_path(@option) %>
<script>
var url = "<%= @url %>";
</script>
<%= form_for([:admin, @template], :url => @url, :html => { :multipart => true, :id => "fileupload-template" }) do |f| %>
<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
<div class="row fileupload-buttonbar">
	<div class="span7">
		<!-- The fileinput-button span is used to style the file input field as button -->
		<span class="btn btn-success fileinput-button">
			<i class="glyphicon glyphicon-plus"></i>
			<span>Seleziona il file</span>
			<%= f.file_field :attachment, :id => "fileupload" %>
		</span>
	</div>
	<div class="span5">
		<!-- The global progress bar -->
		<div id="progress" class="progress">
			<div class="progress-bar bar bar-success"></div>
		</div>
		<div id="files" class="files-add"></div>
	</div>
</div>
<br>
<!-- The table listing the files available for upload/download -->
<table class="table table-striped">
	<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
		<% if !@variant.blank? && @variant.template.present? && @variant.template.persisted? %>
		<tr class="template-upload fade in" id="template_<%= @variant.template.id %>">
			<td class="name"><a href="<%= @variant.template.attachment.url %>" title="<%= @variant.template.attachment_file_name %>" rel="<%= @variant.template.attachment_file_name %>" target="_blank" download="<%= @variant.template.attachment_file_name %>"><%= @variant.template.attachment_file_name %></a></td>
			<td colspan="2"></td>
			<td class="delete">
				<a class="btn btn-danger" href="/admin/templates/<%= @variant.template.id %>" data-remote="true" data-method="delete">
					<i class="icon-trash icon-white"></i>
					<span>Cancella</span>
				</a>
			</td>
		</tr>
		<% elsif !@option.blank? && @option.template.present? && @option.template.persisted? %>
		<tr class="template-upload fade in" id="template_<%= @option.template.id %>">
			<td class="name"><a href="<%= @option.template.attachment.url %>" title="<%= @option.template.attachment_file_name %>" rel="<%= @option.template.attachment_file_name %>" target="_blank" download="<%= @option.template.attachment_file_name %>"><%= @option.template.attachment_file_name %></a></td>
			<td colspan="2"></td>
			<td class="delete">
				<a class="btn btn-danger" href="/admin/templates/<%= @option.template.id %>" data-remote="true" data-method="delete">
					<i class="icon-trash icon-white"></i>
					<span>Cancella</span>
				</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
