<div class="row">
	<div class="span16">
		<h2><%= t(:listing_orders) %></h2>
		<p>Da  questa sezione puoi visualizzare i tuoi ordini</p>
	</div>
	<%= render :partial => 'box_search' %>
	<br class="clearer"/><br class="clearer"/>
	
	<div class="span16">
		<table class="table table-condensed table-bordered" id="listing_orders" data-hook>
		  <thead>
		    <tr data-hook="admin_orders_index_headers" class="info">
				<th><%= sort_link @search, :email,          t(:email, :scope => 'activerecord.attributes.spree/order') %></th>
				<th><%= t(:order_number) %></th>
				<th><%= "Numero Fattura" %></th>
				<th><%= sort_link @search, :state,          t(:state, :scope => 'activerecord.attributes.spree/order') %></th>
		      <!--<th><%= sort_link @search, :payment_state,  t(:payment_state, :scope => 'activerecord.attributes.spree/order') %></th>-->
		      <th><%= t(:shipment_state) %></th>
			<% if @show_only_completed %>
				<th><%= sort_link @search, :completed_at, t(:completed_at, :scope => 'activerecord.attributes.spree/order') %></th>
			<% else %>
				<th><%= sort_link @search, :created_at,   t(:created_at, :scope => 'activerecord.attributes.spree/order') %></th>
			<% end %>
				<th><%= t(:total) %></th>
				<th data-hook="admin_orders_index_header_actions"></th>
		    </tr>
		  </thead>
		  <tbody>
		  <% @orders.each do |order| %>
		    <tr data-hook="admin_orders_index_rows">
				<td><%= order.email %></td>
		      	<td><%= order.number %></td>
				<td><%= (order.invoice) ? order.invoice.invoice_number : "Fattura non emessa" %></td>
		      	<td><%= content_tag(:span, t("order_state.#{order.state.downcase}"), :class => "badge #{(order.state == "complete") ? "badge-success" : "badge-important"}") %></td>
		      <!--<td><%= link_to t("payment_states.#{order.payment_state}"), admin_order_payments_path(order) if order.payment_state %></td>-->
		      <td><%= t("shipment_states.#{order.shipment_state}") if order.shipment_state %></td>
				<td><%= l (@show_only_completed ? order.completed_at : order.created_at).to_date %></td>
		      	<td><%= number_to_currency order.total %></td>
		      	<td class="actions" data-hook="admin_orders_index_row_actions">
					<%= link_to_show_bootstrap_url(admin_order_path(order), :title => "Visualizza", :class => "btn") %>
		        	<%= link_to_edit_bootstrap_url(edit_admin_order_path(order), :title => "Modifica", :class => "btn") if (@show_only_completed) && (!order.inventory_units.any? {|iu| %w(shipped backordered returned).include?(iu.state) }) || (order.shipments.any? {|s| s.state != "completed"}) %>
		      	</td>
		    </tr>
		  <% end %>
		  </tbody>
		</table>
		<%= paginate(@orders, :theme => 'twitter-bootstrap') %>
	</div>
</div>
