<div class="row">
	<div class="span16">
		<h2><%= t(:order) %> <%= @order.number %></h2>
		<br class="clearer"/>
		<div class="toolbar order-links span10" data-hook="admin_order_show_buttons">
		  <%= link_to("#{t(:back)}".html_safe, admin_orders_url(), :class => "btn btn-inverse") %>
		  <%= link_to("#{t(:cancel)} Ordine <i class='icon-remove icon-white'></i>".html_safe, fire_admin_order_url(@order.number, {:e => "cancel"}), :confirm => t(:are_you_sure), :class => "btn btn-danger") if @order.can_cancel? %>
		  <%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_order_url(@order.number), :class => 'btn btn-primary') if @show_only_completed && @order.payment.state != "completed" && !@order.inventory_units.any? {|iu| %w(shipped backordered returned).include?(iu.state) } %>
		</div>
		<br class="clearer"/>
		<br class="clearer"/>

		<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>
		<div class="tab-content">
			<div class="tab-pane active" id="details">
				<div data-hook="admin_order_show_addresses" class="well clearfix">
				    <div class="adr span7">
				      <h3><%= t(:bill_address) %></h3>
				      <%= render :partial => 'spree/admin/shared/address', :locals => { :address => @order.bill_address } %>
				    </div>
				  <% if @order.ship_address %>
				    <div class='adr span7'>
				      <h3><%= t(:ship_address) %></h3>
				      <%= render :partial => 'spree/admin/shared/address', :locals => { :address => @order.ship_address } %>
				    </div>
				    <% end %>
				</div>
				<br class="clearer"/>

				<div data-hook="admin_order_show_details">
				  <%= render :partial => 'spree/admin/shared/order_details', :locals => { :order => @order } %>
				</div>
			</div>
			<% unless @order.completed? %>
			<div class="tab-pane active" id="shipment"></div>
			<div class="tab-pane active" id="adjustments"></div>
			<div class="tab-pane active" id="payment"></div>
		</div>
			<% else %>
			<div class="tab-pane active" id="adjustments"></div>
			<div class="tab-pane active" id="payment"></div>
			<div class="tab-pane active" id="shipment"></div>
			<div class="tab-pane active" id="return_authorizations"></div>
			<div class="tab-pane active" id="history"></div>
		</div>
			<% end %>
	</div>
</div>