<h4><%= t(:shipments) %></h4>
<br class="clearer"/>
<% if @shipment.can_ship? %>
<div class="span11 clearfix" data-hook="toolbar">
	<%= button_link_to("#{t(:ship)} <i class='icon-inbox icon-white'></i>".html_safe, fire_admin_order_shipment_path(@order, @shipment, :e => 'ship'), :class => "btn btn-success right", :method => :put, :confirm => t(:are_you_sure), :remote => true) %>
</div>
<br class="clearer"/>
<br class="clearer"/>
<% end %>

<div data-hook="admin_shipment_edit_header">
  <h2 class="span6"><%= t(:shipment) %> #<%= @shipment.number%> (<%= t(@shipment.state.to_sym, :scope => :state_names, :default => @shipment.state.to_s.humanize) %>)</h2>
  <% if @shipment.cost %>
    <h3 class="span4"><%= t(:charges) %> <%= number_to_currency(@order.total_shipping) %></h3>
  <% end %>

  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipment } %>
</div>
<br class="clearer"/>
<br class="clearer"/>

<div data-hook="admin_shipment_edit_form">
  <%=form_for(@shipment, :url => admin_order_shipment_path(@order, @shipment), :method => :put, :html => {:class => "well form-horizontal"}, :remote => true) do |shipment_form| %>
      <%= render :partial => 'form', :locals => { :shipment_form => shipment_form } %>

      <div data-hook="admin_shipment_edit_form_buttons">
        <div class="form-actions">
          <% if self.respond_to?(:current_user) && @shipment.editable_by?(current_user) %>
			<%= submit_tag(t(:create), :class => "btn btn-info btn-large right") %>
			<%= link_to(t(:back), admin_order_shipments_url(@order), :class => "btn btn-inverse right", :style => "margin-right: 15px", :remote => true) %>
          <% else %>
            <%= link_to(t(:back), admin_order_shipments_path(@order), :class => "btn btn-inverse right", :remote => true) %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>