<div data-hook="admin_shipment_form_fields">
	<% unless @shipment.order.cart? %>
	<table class="index table table-hover table-condensed" style="width:100%;" data-hook="admin_shipment_form_inventory_units">
		<thead>
			<tr data-hook="shipments_header" class="info">
				<th><%= t(:include_in_shipment) %></th>
				<th class="center"><%= t(:item_description) %></th>
				<th class="center"><%= t(:note) %></th>
			</tr>
		</thead>

		<% @shipment.order.inventory_units.each do |inventory_unit| %>
		<tr data-hook="shipments_row">
			<td>
				<%= check_box_tag "inventory_units[#{inventory_unit.id}]",
				:true,
				(inventory_unit.shipment == @shipment),
				{ :disabled => %w(shipped backordered returned).include?(inventory_unit.state),
					:class => 'inventory_unit'} %> Includi nella spedizione
				</td>
				<td class="center">
					<%= inventory_unit.variant.product.name %>
					<%= '(' + variant_options(inventory_unit.variant) + ')' unless inventory_unit.variant.option_values.empty? %>
				</td>
				<td class="center">
					<% if inventory_unit.shipment == @shipment %>
					<%= t(:included_in_this_shipment) %>
					<% elsif !inventory_unit.shipment.nil? %>
					<%= t(:included_in_other_shipment) %> - <%= link_to(inventory_unit.shipment.number, edit_admin_order_shipment_url(inventory_unit.order, inventory_unit.shipment), :remote => true) %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
		<% end %>
		<br class="clearer"/>
		<div data-hook="admin_shipment_form_address">
			<% shipment_form.fields_for 'address' do |sa_form| %>
			<%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => sa_form, :name => t(:shipping_address), :use_billing => false } %>
			<% end %>
		</div>

		<div data-hook="admin_shipment_form_details">
			<h4><%= t(:shipment_details) %></h4>
			<br class="clearer"/>
			<div class="control-group">
				<%= shipment_form.label :shipping_method_id, t(:shipping_method) %>
				<div class="controls">
			  		<%= shipment_form.select :shipping_method_id,
					@shipping_methods.map {|sm| ["#{sm.name} - #{sm.zone.name} - #{sm.min_weight}/#{sm.max_weight}", sm.id] } %>
				</div>
			</div>
			<div class="control-group">
				<%= shipment_form.label :tracking, t(:tracking) %>
				<div class="controls">
			  		<%= shipment_form.text_field :tracking %>
				</div>
			</div>
			<% if Spree::Config[:shipping_instructions] %>
			<div class="control-group">
				<%= shipment_form.label :special_instructions, t(:special_instructions) %>
				<div class="controls">
			  		<%= shipment_form.text_area :special_instructions %>
				</div>
			</div>
			<% end %>
		</div>
	</div>