<h4><%= t(:shipments) %></h4>
<br class="clearer"/>
<% if !session[:only_read] %>
<div class="span10 clearfix" data-hook="toolbar">
	<%= link_to("#{t(:new_shipment)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_order_shipment_url(@order), :id => 'admin_new_order', :class => "btn btn-large btn-primary", :remote => true) %>
</div>
<br class="clearer"/>
<br class="clearer"/>
<% end %>

<table class="index table table-hover table-condensed table-bordered">
	<thead>
		<tr data-hook="admin_shipments_index_headers" class="info">
			<th><%= t(:shipment_number) %></th>
			<th><%= t(:shipping_method) %></th>
			<th><%= t(:shipping_cost) %></th>
			<th><%= t(:tracking) %></th>
			<th><%= t(:status) %></th>
			<th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
			<% if !session[:only_read] %>
			<th data-hook="admin_shipments_index_header_actions">
				<%= t(:action) %>
			</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @shipments.each do |shipment| %>
		<tr id="<%= spree_dom_id shipment %>" data-hook="admin_shipments_index_rows">
			<td><%= shipment.number %></td>
			<td><%= shipment.shipping_method.name if shipment.shipping_method %></td>
			<td><%= (shipment.cost > 0) ? number_to_currency(shipment.cost) : number_to_currency(@order.total_shipping) %></td>
			<td><%= shipment.tracking %></td>
			<td><%= t(shipment.state.to_sym, :scope => :state_names, :default => shipment.state.to_s.humanize) %></td>
			<td><%= shipment.shipped_at.to_s(:date_time24) if shipment.shipped_at %></td>
			<% if !session[:only_read] %>
			<td class="actions" data-hook="admin_shipments_index_row_actions">
				<% if shipment.state != 'shipped' %>
					<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_order_shipment_url(@order, shipment), :class => "btn btn-primary", :remote => true) %>
					<%= link_to_delete shipment, :url => admin_order_shipment_url(@order, shipment) %>
				<% end %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
