<div data-hook="admin_shipment_new_header">
	<h4><%= t(:new_shipment) %></h4>
	<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipment } %>
</div>

<div data-hook="admin_shipment_new_form">
	<%= form_for(@shipment, :url => admin_order_shipments_path(@order), :html => {:class => "well form-horizontal"}, :remote => true) do |shipment_form| %>
	<%= render :partial => 'form', :locals => { :shipment_form => shipment_form } %>

	<div data-hook="admin_shipment_new_form_buttons">
		<div class="form-actions">
			<%= submit_tag(t(:create), :class => "btn btn-info btn-large right") %>
			<%= link_to(t(:back), admin_order_shipments_url(@order), :class => "btn btn-inverse right", :style => "margin-right: 15px", :remote => true) %>
		</div>
	</div>
	<% end %>
</div>