$("#myTab").find("a[href=#shipment]").click();
$("#shipment").html("");
setTimeout(function(){
	if ($('.loader').length > 0) {
		$('.loader').delay(200).fadeOut('slow', function() {
			$("#shipment").html("<%= escape_javascript(render :partial => 'edit') %>");
		});
	} else {
		$("#shipment").html("<%= escape_javascript(render :partial => 'edit') %>");
	}
}, 500);