<h4><%= t(:edit_advanced_variant) %></h4>
<br class="clearer"/>

<div class="well clearfix">
	<%= render :partial => "form" %>
	<div class="form-actions clearer right-txt" data-hook="buttons">
		<%= link_to t(:back), admin_advanced_product_advanced_variants_path(@advanced_product), :class => 'btn btn-inverse', :remote => true %>
	</div>
</div>
