<div class="well">
	<h5><%= t(:formats) %></h5>
	<p class="small">In questa pagina puoi gestire i formati del prodotto</p>
	<%= link_to("#{t(:new_format)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_advanced_product_advanced_variant_path(@advanced_product), :class => "btn btn-primary", :remote => true, :rel => "tab") %>
</div>

<table class="table table-condensed table-bordered">
	<thead>
		<tr data-hook="images_header" class="info">
			<th>Formato</th>
			<th>Configurazioni Presenti</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @collection.each do |v| %>
		<tr data-hook="item_row" id="<%= spree_dom_id v %>">
			<td style="vertical-align: middle;"><%= v.format if v.format %></td>
			<td style="vertical-align: middle;"><%= content_tag(:strong, v.entities.count) if !v.entities.blank? %></td>
			<td class="actions">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_advanced_product_advanced_variant_path(@advanced_product, v), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
				<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_advanced_product_advanced_variant_path(@advanced_product, v), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :rel => "tab", :method => :delete) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>