<div class="clearer fields">
	<div class="control-group span3">
		<%= label_tag(:name, t(:name), :class => "control-label") %><br />
		<div class="controls">
			<%= f.text_field(:name) %>
		</div>
	</div>
	<div class="control-group span3">
		<%= label_tag(:presentation, t(:presentation), :class => "control-label") %><br />
		<div class="controls">
			<%= f.text_field(:presentation) %>
		</div>
	</div>
	<div class="control-group span4">
		<%= label_tag(:value_content, t(:values), :class => "control-label") %><br />
		<div class="controls input-append">
			<%= f.text_field(:value_content) %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.value_content_attribute").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span>
		</div>
	</div>
	<div class="control-label span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi attributo", f) %>
	</div>
</div>