if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#format").html("<%= escape_javascript(render :partial => 'new') %>");
	});
} else {
	$("#format").html("<%= escape_javascript(render :partial => 'new') %>");
}
setTimeout(function() { $('*[rel=popover-right]').popover({placement:'right', delay:{ show:0, hide:100 }, trigger: 'hover'}); }, 500);
