<%
if bw_c == "bw"
	printer_before = @variant.limit.printer_before_bw
	format_before = @variant.limit.format_before_bw
	quarter_before = @variant.limit.quarter_before_bw
	printer_after = @variant.limit.printer_after_bw
	formta_after = @variant.limit.format_after_bw
	quarter_after = @variant.limit.quarter_after_bw
else
	printer_before = @variant.limit.printer_before_c
	format_before = @variant.limit.format_before_c
	quarter_before = @variant.limit.quarter_before_c
	printer_after = @variant.limit.printer_after_c
	formta_after = @variant.limit.format_after_c
	quarter_after = @variant.limit.quarter_after_c
end
%>
<div class="configuration-point left span7">
	<legend class="small"><%= t(:printer_low_quantity) %> <%= t(bw_c.to_sym) %></legend>
	<div class="control-group">
		<%= label_tag("variant[limit][printer_before_#{bw_c}_id]", t(:printer), :class => "control-label") %>
		<div class="controls">
			<%= select_tag "variant[limit][printer_before_#{bw_c}_id]",
			options_from_collection_for_select(@product.printer_type_option_type.printers,
			"id",
			"presentation",
			printer_before.nil? ? 1 : printer_before.id),

			:data => {:default => format_before.nil? ? '' : "#{format_before.id}",
			:format => "variant[limit][format_before_#{bw_c}_id]"},
			:onchange => "setPrinterFormat($(this));"

			%>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("variant[limit][quarter_before_#{bw_c}_id]", t(:number_of_quarter), :class => "control-label") %>
		<div class="controls">
			<%= select_tag "variant[limit][quarter_before_#{bw_c}_id]", options_for_select(Spree::Quarter.all.sort { |z, x| z.name.to_i <=> x.name.to_i }.collect { |u| [u.name, u.id] }, (quarter_before.id if quarter_before)) %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("variant[limit][format_before_#{bw_c}_id]", t(:format), :class => "control-label") %>
		<div class="controls">
			<%= select_tag "variant[limit][format_before_#{bw_c}_id]" %>
		</div>
	</div>

	<legend class="small"><%= t(:printer_high_quantity) %> <%= t(bw_c.to_sym) %></legend>
	<div class="control-group">
		<%= label_tag("variant[limit][printer_after_#{bw_c}_id]", t(:printer), :class => "control-label") %>
		<div class="controls">
			<%= select_tag "variant[limit][printer_after_#{bw_c}_id]",
			options_from_collection_for_select(@product.printer_type_option_type.printers,
			"id",
			"presentation",
			printer_after.nil? ? 1 : printer_after.id),

			:data => {:default => formta_after.nil? ? '' : "#{formta_after.id}",
			:format => "variant[limit][format_after_#{bw_c}_id]"},
			:onchange => "setPrinterFormat($(this));"

			%>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("variant[limit][quarter_after_#{bw_c}_id]", t(:number_of_quarter), :class => "control-label") %>
		<div class="controls">
			<%= select_tag "variant[limit][quarter_after_#{bw_c}_id]", options_for_select(Spree::Quarter.all.sort { |z, x| z.name.to_i <=> x.name.to_i }.collect { |u| [u.name, u.id] }, (quarter_after.id if quarter_after)) %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("variant[limit][format_after_#{bw_c}_id]", t(:format), :class => "control-label") %>
		<div class="controls">
			<%= select_tag "variant[limit][format_after_#{bw_c}_id]" %>
		</div>
	</div>
	<br class="clearer"/>
</div>
