<h1><%= t(:new_tracker) %></h1>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tracker } %>

<%= form_for([:admin, @tracker], :html => {:class => "well form-horizontal"}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>