<% if current_user %>
  <ul id="login-nav">
    <li><%= t(:logged_in_as) %>: <%= current_user.email %></li>
    <li><%= link_to t(:account), spree.edit_user_path(current_user) %></li>
    <li><%= link_to t(:logout), spree.destroy_user_session_path, :method => :delete %></li>
    <li><%= link_to t(:store), spree.root_path %></li>
  </ul>
<% end %>