<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @rigid_support } %>
		<h2><%= t(:edit_rigid_support) %></h2>
		<br />
		<div class="well clearfix">
			<%= form_for([:admin, @rigid_support], :id => 'edit_coils', :html => {:class => "well"}) do |f| %>
				<%=  render :partial => 'form', :locals => {:f => f} %>
				<div class="form-actions right-txt" data-hook="buttons">
					<%= f.submit(t(:update), :class => "btn btn-primary") %>
					<%= link_to(t(:back), admin_rigid_supports_path, :class => "btn btn-inverse") %>
				</div>
			<% end %>
		</div>
	</div>
</div>
