<%= javascript_include_tag 'store/preventive/rigid' %>
<% if @promo %>
<%= javascript_tag do %>
	run_preventive = false;
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
    preventiveUrl = "<%= preventive_url %>";
	papers = <%== @product.all_value_json %>;
	<% if @product.rigid_printer_formats.length > 3 %>
		jQuery(document).ready(function() {
		    jQuery('#format_carousel').jcarousel();
		});
	<% end %>
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_rigids'}} do |f| %>
    <%= hidden_field_tag(:rigid_product_id, @product.id) %>
	
    <h2>Formato</h2>
	<div class="format-check">
		<ul id="format_carousel" class="clearfix">
			<% first = true %>
			<% @product.rigid_printer_formats.each do |rpv| %>
			<li class="clearfix block f85x5">
				<div class="clearfix">
					<% if rpv.name == "custom" %>
					<div class="box custom"><%= rpv.template_format.present? ? image_tag(rpv.template_format.attachment.url(:normal)) : "" %></div>
					<% else %>
					<div class="box"><%= rpv.template_format.present? ? image_tag(rpv.template_format.attachment.url(:normal)) : "" %></div>
					<% end %>
					<%= radio_button_tag "order[format]", rpv.id, first && rpv.name != "custom", {:class => 'radio', :id => "radio_format_#{rpv.id}", :data => {:custom => rpv.name == "custom", :sided => rpv.sided, :eyelet => rpv.eyelet, :cutting_coil => rpv.cutting_coil}} %>
					<% first = false if rpv.name != "custom" %>
					<label for="radio_format_<%= rpv.id %>"><%= rpv.presentation.capitalize %></label>
				</div>
			</li>
			<% end %>
		</ul>
		<% first = true %>
	</div>
	
	<div class="custom-size clearfix">
		<label>Formato personalizzato </label>
		<div class="clearfix">
			<% @pfrmt = @product.rigid_printer_formats.find_by_name("custom") %>
			L <%= text_field_tag "order[custom][width]", @pfrmt.min_width_dimension.to_i, :min => @pfrmt.min_width_dimension.to_i %>  x 
			H <%= text_field_tag "order[custom][height]", @pfrmt.min_height_dimension.to_i, :min => @pfrmt.min_height_dimension.to_i %> cm
			<p style="font-size:  9px; padding: 0px 0px 0px 12px;">Dimensione massima singolo pannello <b class="paper-dimension">0 x 0 cm</b></p>
		</div>
	</div>
	
    <h2>Informazioni</h2>	
	<div class="clearfix field_content" powertip="true">
    	<label for="paper">Materiale</label>
	    <%= select_tag("order[paper]", options_for_select(@product.papers_variant.map { |v| [v.name, v.id] })) %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="print_color">Tipo stampa</label>
	    <%= select_tag("order[print_color]", options_for_select(@product.plotters_variant.map { |v| [v.name, v.id] }),:include_blank => false) %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="print_color">Bifacciale</label>
	    <%= select_tag("order[sided]", options_for_select([["No", "no"], ["Si", "si"]]), :prompt => "Nessuna Selezione") %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="paper">Occhielli</label>
    	<%= select_tag("order[eyelet]", options_for_select(@product.eyelet_accessories_variant.map {|ea| [ea.eyelet.name, ea.id] }), :prompt => "Nessuna Selezione") %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="print_color">Disposizione Accessori</label>
    	<%= select_tag("order[eyelet_accessory]", options_for_select(Spree::ButtonholeAccessory.disposition_enum), :prompt => "Seleziona Disposizione") %>
	</div>
	
	<div class="clearfix field_content">
		<label for="print_color">Numero di occhielli</label>
    	<%= text_field_tag("order[eyelet_quantity]", 1, :class => 'required', :min => 1) %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="paper">Modalità di taglio</label>
    	<%= select_tag("order[cutting_coil]", options_for_select(@product.cutting_coil_variants.map {|cc| [cc.name, cc.id] }), :prompt => "Nessuna") %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="print_color">Finitura</label>
    	<%= select_tag("order[lamination]", options_for_select(@product.lamination_variants.map {|l| [l.name, l.id] }), :prompt => "Seleziona Finitura") %>
	</div>
	
    <h2>Copie</h2>
	
	<div class="clearfix field_content">
    	<label for="copy">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
	    	<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
			<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
	</div>
	
<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}&euro;)".html_safe %></p>
<% end %>
	
    <h2><%= t(:date_adjustment) %></h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
        <%= content_tag(:span, t(:add_to_cart)) %>
    <% end %>
<% end %>
