<div class="fields clearfix">
	<div class="span3">
		<%= label_tag(:type_quantity, t(:type_quantity)) %>
	  	<%= f.select(:type_quantity, [["Quartino (4no)", "4"], ["Sestino (6no)", "6"], ["Ottavo (8vo)", "8"], ["Dodicesimo (12mo)", "12"], ["Sedicesimo (16mo)", "16"], ["Ventiquattresimo (24mo)", "24"], ["Trentaduesimo (32mo)", "32"]], :prompt => true, :selected => f.object.type_quantity) %>
	</div>
	<div class="span3">
		<%= label_tag(:start_time, t(:start_time)) %>
		<%= f.text_field(:start_time) %>
	</div>
	<div class="span3">
		<%= label_tag(:average_hourly_bending, t(:average_hourly_bending)) %>
	  	<%= f.text_field(:average_hourly_bending) %>
	</div>
	<div class="span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Piegatura", f) %>
	</div>
</div>
<br class="clearer"/>
