<div class="accordion span15" id="accordion3">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#ebending">Piegatura</a>
		</div>
		<div id="ebending" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<%= f.fields_for :bendings do |builder| %>
					<%= render "bending_efields", :f => builder %>
				<% end %>
				<p class="small"><%= link_to_add_efields("Aggiungi una nuova piegatura", f, :bendings) %></p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#epunching">Punto Metallico</a>
		</div>
		<div id="epunching" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<label class="checkbox">
					<%= f.check_box(:copy_cost_punching) %> <%= t(:is_copy_cost) %>
				</label>
				<br class="clearer"/>
				<div id="not_copy_cost" style="display: none;">
				<%= f.fields_for :punchings do |builder| %>
					<%= render "punching_efields", :f => builder %>
				<% end %>
				<p class="small"><%= link_to_add_efields("Aggiungi un nuovo punto metallico", f, :punchings) %></p>
				</div>
				<div id="copy_cost" style="display: none;">
				<% i = 0 %>
				<%= f.fields_for :punchings do |builder| %>
					<% if i == 0 %>
					<div class="span3">
						<%= builder.hidden_field(:type_quantity, :value => 1) %>
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
						<p>1 Copia</p>
					</div>
					<div class="span3">
						<%= label_tag(:copy_cost, t(:copy_cost)) %>
				  		<%= builder.text_field(:copy_cost) %>
					</div>
					<% i += 1
					end %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#eseam">Cucitura</a>
		</div>
		<div id="eseam" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<label class="checkbox">
					<%= f.check_box(:copy_cost_seam) %> <%= t(:is_copy_cost) %>
				</label>
				<br class="clearer"/>
				<div id="not_copy_cost_seam" style="display: none;">
				<%= f.fields_for :seam do |builder| %>
					<div class="span3">
						<%= builder.hidden_field(:type_quantity, :value => 1) %>
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
						<p>1 Segnatura</p>
					</div>
					<div class="span3">
						<%= label_tag(:copy_cost, t(:cost)) %>
					  	<%= builder.text_field(:copy_cost) %>
					</div>
				<% end %>
				</div>
				<div id="copy_cost_seam" style="display: none;">
					<%= f.fields_for :seam do |builder| %>
						<div class="span3">
							<%= builder.hidden_field(:type_quantity, :value => 1) %>
							<%= label_tag(:type_quantity, t(:type_quantity)) %>
							<p>1 Copia</p>
						</div>
						<div class="span3">
							<%= label_tag(:copy_cost, t(:cost)) %>
							<%= builder.text_field(:copy_cost) %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#emilling">Fresatura</a>
		</div>
		<div id="emilling" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<label class="checkobox">
					<%= f.check_box(:copy_cost_milling) %> <%= t(:is_copy_cost) %>
				</label>
				<br class="clearer"/>
				<div id="not_copy_cost_milling" style="display: none;">
				<%= f.fields_for :milling do |builder| %>
					<div class="span3">
						<%= builder.hidden_field(:type_quantity, :value => 1) %>
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
						<p>1 Segnatura</p>
					</div>
					<div class="span3">
						<%= label_tag(:copy_cost, t(:cost)) %>
					  	<%= builder.text_field(:copy_cost) %>
					</div>
				<% end %>
				</div>
				<div id="copy_cost_milling" style="display: none;">
					<%= f.fields_for :milling do |builder| %>
						<div class="span3">
							<%= builder.hidden_field(:type_quantity, :value => 1) %>
							<%= label_tag(:type_quantity, t(:type_quantity)) %>
							<p>1 Copia</p>
						</div>
						<div class="span3">
							<%= label_tag(:copy_cost, t(:cost)) %>
						  		<%= builder.text_field(:copy_cost) %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#esleeve">Copertina</a>
		</div>
		<div id="esleeve" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<%= f.fields_for :sleeve do |builder| %>
					<%= builder.hidden_field(:type_quantity, :value => 1) %>
					<div class="span3">
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
					  	<p>Con Alette</p>
					</div>
					<div class="span3">
						<%= label_tag(:copy_cost, t(:copy_cost)) %>
			  			<%= builder.text_field(:copy_cost_fins) %>
					</div>
					<br class="clearer"/>
					<div class="span3">
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
					  	<p>Senza Alette</p>
					</div>
					<div class="span3">
						<%= label_tag(:copy_cost, t(:copy_cost)) %>
				  		<%= builder.text_field(:copy_cost) %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>