<div class="fields">
	<div class="span3">
		<%= label_tag(:type_quantity, t(:type_quantity)) %>
	  	<%= f.select(:type_quantity, [["1 Segnatura", "1"], ["2 Segnature", "2"], ["3 Segnature", "3"], ["4 Segnature", "4"], ["5 Segnature", "5"], ["6 Segnature", "6"]], :prompt => true) %>
	</div>
	<div class="span3">
		<%= label_tag(:copy_cost, t(:cost)) %>
	  	<%= f.text_field(:copy_cost) %>
	</div>
	<div class="span3 punching_not_copy" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Punto Metallico", f) %>
	</div>
</div>
<br class="clearer"/>
