<div class="fields clearfix">
	<div class="span3">
		<%= label_tag(:type_quantity, t(:type_quantity)) %>
	  	<%= f.select(:type_quantity, [["1 Segnatura", "1"], ["2 Segnature", "2"], ["3 Segnature", "3"], ["4 Segnature", "4"], ["5 Segnature", "5"], ["6 Segnature", "6"]], :prompt => true) %>
	</div>
	<div class="span3">
		<%= label_tag(:start_time, t(:start_time)) %>
	  	<%= f.text_field(:start_time) %>
	</div>
	<div class="span3">
		<%= label_tag(:average_hourly_punching, t(:average_hourly_punching)) %>
	  	<%= f.text_field(:average_hourly_punching) %>
	</div>
	<div class="span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Punto Metallico", f) %>
	</div>
</div>
<br class="clearer"/>
