<% @body_id = "bindery" %>

<div class="row">
	<div class="span16">
		<h2><%= t(:binderies) %></h2>
		<p>In questa pagina puoi gestire le legatorie</p>
	</div>

	<div class="span7 well" data-hook="toolbar">
		<%= button_link_to("#{t(:new_bindery)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_bindery_path, {:id => 'admin_new_bending', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		In questa sezione potrai gestire le configurazioni per le legatorie.<br />
		Per ogni legatoria potrai definire i dati di:
		<ul>
			<li>PIEGATURA</li>
			<li>PUNTO METALLICO</li>
			<li>CUCITURA</li>
			<li>COPERTINA</li>
			<li>FRESATURA</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table">
			<% @binderies.each do |bindery| %>
			<tbody>
				<tr id="bindery_<%= bindery.id %>">
					<td><h4><%= bindery.name %></h4></td>
					<td><span class="bold"> <%= t(:external) %></span>: <%= (bindery.external) ? content_tag(:span, "SI", :class => "badge badge-success") : content_tag(:span, "NO", :class => "badge badge-warning") %></td>
					<td class="actions">
						<%= link_to("Modifica <i class='icon-edit icon-white'></i>".html_safe, edit_admin_bindery_path(bindery), :class => "btn btn-primary") %>
						<%= link_to("Rimuovi <i class='icon-remove icon-white'></i>".html_safe, admin_bindery_path(bindery), :confirm => 'Sei sicuro?', :method => :delete, :class => "btn btn-danger", :remote => true) %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>
