<div class="row">
	<div class="span16">
		<h2><%= t(:create) %> <%= t(:bindery) %></h2>
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bindery } %>
		<%= form_for([:admin, @bindery], :url => {:action => :create}, :html => {:class => "well"}) do |f| %>
			<%=  render :partial => 'form', :locals => {:f => f} %>
			<div class="form-actions clearer right-txt">
				<%= f.submit(t(:create), :class => "btn btn-primary") %>
		      	<%= link_to(t(:back), admin_binderies_path, :class => "btn btn-inverse") %>
		    </div>
		<% end %>
	</div>
</div>