<div class="well">
	<h5><%= t(:line_item_promotions) %></h5>
	<p class="small">In questa pagina puoi gestire le promozioni del prodotto</p>
	<%= link_to("#{t(:new_line_item_promotion)} <i class='icon-plus icon-white'></i>".html_safe, admin_new_line_item_promotion_path(@product), :class => "btn btn-primary", :remote => true, :rel => "tab") %>
</div>

<table class="table">
	<% @line_item_promotions.each do |promotion| %>
	<tbody>
		<tr id="<%= spree_dom_id promotion %>">
			<td style="vertical-align: middle;">
				<p class="big">Offerta <%= promotion.number_of_copy %> <%= promotion.product.name %></p>
			</td>
			<td style="width: 250px; vertical-align: middle;"><%= default_link_promo(promotion.product, promotion.promo_code) %></td>
			<td>
				<p class="small"><%= number_to_currency(promotion.amount) %></p>
				<p class="small"><%= promotion.number_of_copy %> copie</p>
				<p class="small"><%= promotion.printer_color(true) %></p>
			</td>
			<td>
				<p class="small"><%= promotion.printer_orientation(true) %></p>
				<p class="small"><%= promotion.paper(true) %></p>
				<p class="small"><%= promotion.printer_instructions(true) %></p>
			</td>
			<td class="actions">
				<%= link_to("Modifica <i class='icon-edit icon-white'></i>".html_safe, edit_admin_line_item_promotion_path(promotion), :class => "btn btn-primary", :remote => true) %> <%= link_to("Rimuovi <i class='icon-remove icon-white'></i>".html_safe, admin_line_item_promotion_path(promotion), :confirm => 'Sei sicuro?', :method => :delete, :class => "btn btn-danger", :remote => true) %>
			</td>
		</tr>
	</tbody>
	<% end %>
</table>

