<%= render "spree/shared/error_messages", :target => @line_item_promotion %>
<%= form_for([:admin, @line_item_promotion], :html => {:multipart => true, :class => "well"}, :remote => true) do |f| %>
	<legend><%= t(:new_line_item_promotion) %></legend>
	<%= render :partial => 'form', :locals => {:f => f} %>
	<br class="clearer"/>
	<div class="form-actions clearer right-txt" data-hook="buttons">
		<%= f.submit(t(:create), :class => "btn btn-primary") %>
	</div>
<% end %>
