if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#promotion").html("<%= escape_javascript(render :partial => 'edit') %>");
		$('.date_picker').datepicker({ dateFormat: "dd/mm/yy" });
		$('#line_item_promotion_format').change();
		$('#line_item_promotion_paper').children().each(function(e) {
			if ($(this).val() == "<%= @line_item_promotion.paper %>") {
				$(this).attr("selected", true);
			}
		});
		$('#line_item_promotion_paper').change();
		$('#line_item_promotion_weight').children().each(function(e) {
			if ($(this).val() == <%= @line_item_promotion.weight_paper || 0 %>) {
				$(this).attr("selected", true);
			}
		});
		preCalculate();
	});
} else {
	$("#promotion").html("<%= escape_javascript(render :partial => 'edit') %>");
	$('.date_picker').datepicker({ dateFormat: "dd/mm/yy" });
	$('#line_item_promotion_format').change();
	$('#line_item_promotion_paper').children().each(function(e) {
		if ($(this).val() == "<%= @line_item_promotion.paper %>") {
			$(this).attr("selected", true);
		}
	});
	$('#line_item_promotion_paper').change();
	$('#line_item_promotion_weight').children().each(function(e) {
		if ($(this).val() == <%= @line_item_promotion.weight_paper || 0 %>) {
			$(this).attr("selected", true);
		}
	});
	preCalculate();
}