<h4>Modifica Intercalatura per <%= @intercalation_quantity.name %> numero di fogli</h4>
<br/>
<%= form_tag(admin_update_intercalation_quantities_url(@intercalation,@intercalation_quantity), :id => 'coil',
             :method => :put, :class => "form-horizontal", :remote => true) do %>
    <div class="control-group">
      <%= label_tag("intercalation_quantity[hourly_cost]", t(:hourly_cost), :class => "control-label") %>
      <div class="controls">
        <%= text_field_tag "intercalation_quantity[hourly_cost]", @intercalation_quantity.hourly_cost, :tabindex => 1, :class => 'required' %> &euro;
      </div>
    </div>
    <div class="control-group">
      <%= label_tag("intercalation_quantity[start_time]", t(:start_time), :class => "control-label") %>
      <div class="controls">
        <%= text_field_tag "intercalation_quantity[start_time]", @intercalation_quantity.start_time, :tabindex => 2, :class => 'required' %>
        minuti
      </div>
    </div>
    <div class="control-group">
      <%= label_tag("intercalation_quantity[average_hourly]", t(:average_hourly_spiraling), :class => "control-label") %>
      <div class="controls">
        <%= text_field_tag "intercalation_quantity[average_hourly]", @intercalation_quantity.average_hourly, :tabindex => 3, :class => 'required' %>
      </div>
    </div>
    <div class="form-actions clearer">
      <%= link_to t(:back), admin_show_intercalation_quantities_path(@intercalation,@intercalation_quantity),
                  :class => 'btn btn-inverse right', :style => 'margin-left:10px', :remote => true %>
      <%= submit_tag(t(:update), :class => "btn btn-info right") %>
    </div>
<% end %>