<h2> Numero di fogli <%= intercalation_quantity.name %> </h2>
<p> <%= t(:hourly_cost)  %> : <%=number_to_currency intercalation_quantity.average_hourly %>  </p>
<p> <%= t(:start_time)  %> : <%= intercalation_quantity.start_time %> min</p>
<p> <%= t(:average_hourly)  %> : <%= intercalation_quantity.average_hourly %> </p>

<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe,
            admin_edit_intercalation_quantities_path(intercalation, intercalation_quantity), :class => "btn btn-large btn-primary", :remote => true) %>