<div class="row">
	<div class="span16">
		<h1><%= t(:slideshow_types) %></h1>
		<p>In questa pagina puoi gestire le slideshow presenti in homepage e nelle pagine di categoria</p>
	</div>
	
	<div class="span7">&nbsp;</div>
	<div class="span8 content-box">
			In questa sezione potete abilitare, disabilitare o modificare la slideshow presente nella pagina principale del sito. 
			Le caratteristiche principali per ogni slide sono:<br />
			<ul>
				<li>PROMOZIONI: selezionando una promozione da abbinare alla slide verr&agrave; automaticamente creato il link alla stessa e verranno inserite alcune informazioni aggiuntive sulla slide</li>
				<li>TITOLO: il titolo della slide</li>
				<li>ALLEGATO: l'immagine da visualizzare per la slide indicata</li>
				<li><strong>N.B. per visualizzare una slide senza alcun testo o titolo non inserire nessun contenuto o titolo</strong></li>
			</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" id='listing_slideshow_types'>
			<thead>
				<tr data-hook="admin_slideshows_index_headers" class="info">
					<th><%= t(:category) %></th>
					<th><%= t(:enable) %></th>
					<th><%= t(:slide_number) %></th>
					<th data-hook="admin_slideshows_index_header_actions"></th>
				</tr>
			</thead>
			<tbody>
				<% @slideshow_types.each do |st|%>
				<tr id="<%= spree_dom_id st %>" data-hook="admin_slideshows_index_rows">
					<td><%= st.category %></td>
					<td><%= icon('tick') if st.enabled %></td>
					<td><%= st.slides.count %></td>
					<td class="actions" data-hook="admin_slideshows_index_row_actions">
						<%= link_to_edit st, :class => 'btn btn-primary' %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>