<div class="row">
	<div class="span16">
		<h2><%= t(:configurations) %></h2>
		<p>In questa sezione sono presenti le varie configurazioni per il tuo e-commerce</p>
		
		<table class="table" data-hook="configuration">
			<tbody data-hook="admin_configurations_menu">
				<tr>
					<td>
						<%= image_tag("admin/icons2/clipboard.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:general_settings) %></h2>
						<p><%= t(:general_settings_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_general_settings_path(), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag("admin/icons2/square.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:presentation_packs) %></h2>
						<p><%= t(:presentation_packs_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_presentation_packs_path(), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag("admin/icons2/mail.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:mail_methods) %></h2>
						<p><%= t(:email_server_settings_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_mail_methods_path(), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag("admin/icons2/world.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:states) %></h2>
						<p><%= t(:state_setting_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_country_states_path(Spree::Config[:default_country_id]), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag("admin/icons2/coin.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:payment_methods) %></h2>
						<p><%= t(:payment_methods_setting_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_payment_methods_path(), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag("admin/icons2/money_bag.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:shipping_date_adjustments) %></h2>
						<p><%= t(:shipping_date_adjustments_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_shipping_date_adjustments_path(), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag("admin/icons2/upload2.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:shipping_methods) %></h2>
						<p><%= t(:shipping_methods_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_shipping_methods_path(), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag("admin/icons2/abacus.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:tax_rates) %></h2>
						<p><%= t(:tax_rates_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_tax_rates_path(), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag("admin/icons2/access_point.png", :width => 120) %>
					</td>
					<td>
						<h2><%= t(:analytics_trackers) %></h2>
						<p><%= t(:google_analytics_setting_description) %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions" style="width: 20%">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_trackers_path(), :class => "btn btn-large btn-primary") %>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
