<div class="fields span15">
	<%= javascript_tag do %>
		$('.chosen').chosen();
	<% end %>
	<div class="span3">
		<%= label_tag(:buttonholes, t(:buttonholes)) %>
		<%= f.select(:option_value_id, Spree::Buttonhole.all.collect{|e| [e.name, e.id]}, :include_blank => true) %>
	</div>
	<div class="span3">
		<%= label_tag(:available_meter, t(:available_meter_buttonholes)) %>
		<div class="input-append"><%= f.text_field(:available_meter) %><span class="add-on">cm</span></div>
	</div>
	<div class="span4">
		<%= label_tag(:disposition, t(:disposition_buttonholes)) %>
		<%= f.select(:disposition, options_for_select(f.object.disposition_enum, (JSON.parse(f.object.disposition) rescue "")), {:placeholder => "Seleziona le disposizioni"}, {:class => "chosen", :multiple => true}) %>
	</div>
</div>
<br class="clearer"/>
