<% variants.each do |variant| %>

    <%= hidden_field_tag "business_card_product[business_card_variant][#{i}][#{@product.number_of_copy_option_type.name}]", variant.number_of_copy_option_values.presentation %>
    <%= hidden_field_tag "business_card_product[business_card_variant][#{i}][#{@product.print_color_option_type.name}]", variant.print_color_option_values.presentation %>
    <%= hidden_field_tag "business_card_product[business_card_variant][#{i}][id]", variant.id %>
    <fieldset>
      <legend> Numero di copie: <%= variant.number_of_copy_option_values.presentation %></legend>
      <div id=<%= "quantity_#{i}" %>>

        <div><%= check_box_tag "business_card_product[business_card_variant][#{i}][create]", nil, !variant.poses_option_values.nil?, :data => {:id => "#{i}"} %>
          <label for="<%= "business_card_product_business_card_variant_#{i}_create" %>">
            Stampa: <%= variant.number_of_copy_option_values.presentation %> biglietti
            a <%= variant.print_color_option_values.presentation %>
          </label>
        </div>
        <div class="poses">
          <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.poses_option_type.name}]", @product.poses_option_type.name.capitalize %>
          <br/>
          <%#= text_field_tag("business_card_product[business_card_variant][#{i}][#{@product.poses_option_type.name}]",
                                   variant.poses_option_values.nil? ? '' : variant.poses_option_values.presentation) %>
          <%= select_tag "business_card_product[business_card_variant][#{i}][#{@product.poses_option_type.name}]", options_for_select(Spree::Pose.all.collect { |u| [u.name, u.id] }, (variant.poses_option_values.id if variant.poses_option_values)) %>
        </div>
        <div class="printer">
          <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.printer_type_option_type.name}]", "Stampante" %>
          <br/>
          <%= select_tag "business_card_product[business_card_variant][#{i}][#{@product.printer_type_option_type.name}]",
                         options_from_collection_for_select(@product.printer_type_option_type.printers,
                                                            "id",
                                                            "presentation",
                                                            variant.printer.nil? ? 1 : variant.printer.id),
                         :data => {:default => variant.printer_format.nil? ? '' : "#{variant.printer_format.id}"} %>
        </div>
        <div class="printer_format">
          <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.printer_format_type_option_type.name}]", "Formato di stampa" %>
          <br/>
          <%= select_tag "business_card_product[business_card_variant][#{i}][#{@product.printer_format_type_option_type.name}]"
          %>
        </div>


        <div style="clear:both;"></div>

      </div>
    </fieldset>
    <% i+=1 %>
<% end %>