<div class="fields span15">
	<div class="span2">
		<%= label_tag(:available, t(:available)) %>
		<%= f.check_box(:available) %>
	</div>
	<div class="span4">
		<%= label_tag(:available_meter, t(:available_meter_pocket_cost)) %>
		<div class="input-append"><%= f.text_field(:available_meter) %><span class="add-on">&euro;/m</span></div>
	</div>
	<div class="span4">
		<%= label_tag(:disposition, t(:disposition_pocket)) %>
		<%= f.select(:disposition, options_for_select(f.object.disposition_enum, (JSON.parse(f.object.disposition) rescue "")), {:placeholder => "Seleziona le disposizioni"}, {:class => "chosen", :multiple => true}) %>
	</div>
</div>
<br class="clearer"/>