<% content_for :sidebar do %>

    <h3><%= t("poster_printer_formats.sidebar") %></h3>
    <br class="clear"/>

    <ul class="sidebar slide-menu" data-hook="admin_slide_tabs">
      <li class="<%= request.filtered_parameters['controller'] == "spree/admin/products" ? 'active' : '' %>">
        <%= link_to "Impostazioni genearli", admin_posters_edit_path(@product) %>
      </li>
      <li class="<%= request.filtered_parameters['controller'] == "spree/admin/products" ? '' : 'active' %>">
        <%= link_to "Formato", admin_poster_printer_formats_index_path(@product) %>
      </li>
      <li<%== ' class="active"' if request.filtered_parameters['controller'] =='spree/admin/images' %>>
        <%= link_to t(:images), admin_product_images_url(@product) %>
      </li>
    </ul>
    <br class="clear"/>

<% end %>