<%= content_for :head do %>
	<%= javascript_include_tag 'admin/printer_format' %>
	<%= javascript_tag do %>
	    printer_format_hash = <%== @product.generate_printer_format_json %>;
	    paper_weight_hash = <%== @product.generate_weight_paper_json %>;
	    paper_products = <%== @product.get_paper_product_json %>;
	    paper_products_selected = <%== @product.get_selected_values_json %>;
	<% end %>
	<%= javascript_include_tag 'admin/products/business_card' %>
<% end %>

<div class="row">
	<div class="span16">
		<h2><%= @product.name %></h2>
		<p>In questa pagina puoi gestire i costi della stampa dei biglietti da visita</p>
		<br class="clearer"/>
	
		<ul class="nav nav-pills" id="myTab">
			<li class="active"><a href="#details" data-toggle="tab"><%= t(:details) %></a></li>
			<li><a href="#images" data-toggle="tab" data-url-tab="<%= admin_product_images_url(@product) %>"><%= t(:image) %></a></li>
			<li><a href="#promotion" data-toggle="tab" data-url-tab="<%= admin_products_line_item_promotions_path(@product) %>"><%= t(:promotions) %></a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="details">
				<%= form_for(@product, :url => update_business_card_path(@product), :html => {:multipart => true, :class => "well"}) do |f| %>
					<legend><%= t(:details) %></legend>
					<%= f.hidden_field :price %>
					<%= f.hidden_field :available_on %>
					<div class="span7">
						<%= content_tag(:label, t(:name)) %>
						<%= f.text_field :name, :maxlength=> 28, :style => "width: 430px" %>
						<%= content_tag(:label, t(:description)) %>
						<%= f.cktext_area :description, :style => "width: 430px; height: 300px;" %><br/>
						<%= content_tag(:label, t(:description2)) %>
						<%= f.cktext_area :description2, :style => "width: 430px; height: 300px;" %>
					</div>
					<div class="span7">
						<%= content_tag(:label, t(:marginality)) %>
						<div class="input-append"><%= f.text_field :marginality, :style => "width: 260px" %><span class="add-on">%</span></div>
						<%= content_tag(:label, t(:number_of_copies)) %>
						<div class="input-append"><%= f.text_field :number_of_copies, :style => "width: 260px" %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.number_of_copies").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
						<%= content_tag(:label, t(:min_number_of_copies)) %>
						<div class="input-append"><%= f.text_field :min_number_of_copies, :style => "width: 260px" %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.min_number_of_copies").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
						<div class="control-group">
							<%= label_tag(:taxon, t(:taxon), :class => "control-label") %>
							<div class="controls input-append">
								<%= f.select(:taxon_ids, Spree::Taxon.all.collect{|t| [t.name, t.id]}) %>
							</div>
						</div>
						<div class="box-seo">
							<h2>Informazioni SEO <span style="font-size: 12px;">(per migliorare il posizionamento)</span></h2>
							<%= content_tag(:label, t(:seo_title)) %>
							<%= f.text_field(:seo_title, :id => "seo-title") %>
							<%= content_tag(:label, t(:meta_description)) %>
							<%= f.text_field(:meta_description, :id => "meta-description") %>
							<label class="clearer"><%= t(:meta_keywords) %></label>
							<%= f.text_field(:meta_keywords, :id => "meta-keywords", :style => "width: 418px;") %>
						</div>
					</div>
					<br class="clearer"/><br />
					<legend>Template</legend>
					<%= render :partial => 'spree/admin/business_cards/template', :locals => {:f => f} %>
					<br class="clearer"/><br />
					<legend>Materiali</legend>
					<div class="span7">
						<%= content_tag(:label, t(:paper_weight_product)) %>
						<%= select_tag "business_card_product[paper_weight][]", nil, :data => {:placeholder => "Scegli le grammature"}, :style => "width: 450px", :class => "chosen" %>
					</div>
					<div class="span7 left">
						<%= content_tag(:label, t(:paper_product)) %>
						<div id="business_card_product_paper"></div>
					</div>
					<br class="clearer"/><br />
					<legend>Stampanti</legend>
					<%= render :partial => 'spree/admin/business_cards/configuration_printers', :locals => {:title_conf => "bianco e nero", :bw_c => 'bw'} %>
					<%= render :partial => 'spree/admin/business_cards/configuration_printers', :locals => {:title_conf => "colori", :bw_c => 'c'} %>
					<br class="clearer"/>
					<div class="form-actions right-txt">
						<%= f.submit(t(:update), :class => "btn btn-primary") %>
						<%= link_to("Imposta punto di convenienza", "javascript: setConvenience()", :class => "btn btn-inverse") %>
					</div>
				<% end %>
			</div>
			<div class="tab-pane" id="images">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
			<div class="tab-pane" id="promotion">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
		</div>
	</div>
</div>

<%= render :partial => 'spree/admin/shared/footer_links' %>
