<div class="row">
	<div class="span16">
		<h2><%= t(:listing_products_offers) %></h2>
		<p>In questa pagina puoi gestire tutti i tuoi servizi offerti</p>
	</div>
	<%= render :partial => "box_search" %>
	<br class="clearer"/><br class="clearer"/>
	
	<div class="span16">
		<table class="table" id="listing_products">
			<tbody>
			<% @collection.each do |product| %>
				<tr id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows">
					<td class="center">
						<h1 class="marginality"><%= product.try(:marginality) %>%</h1>
					</td>
					<td>
						<%= (product.images.blank?) ? content_tag(:p, "Immagine non trovata", :style => "font-size: 13px; line-height: 20px;") : image_tag(product.images.first.attachment.url(:product), :width => 120) %>
					</td>
					<td>
						<h4><%= product.try(:name) %></h4>
						<p><%= truncate(product.try(:description), :length => 100, :omission => "...") %></p>
					</td>
					<td class="actions" data-hook="admin_products_index_row_actions">
						<%= link_to_edit_bootstrap_url(product_link_edit(product), :title => "Modifica #{product.try(:name)}", :class => "btn btn-large btn-primary") %>
						<% if !product.active? %>
						<br class="clearer"/><br class="clearer"/>
						<%= link_to_personalized_bootstrap_url(active_admin_product_path(product), :class => "btn btn-large btn-success", :title => "Abilita #{product.try(:name)}", :icon => "icon-ok icon-white") %>
						<% elsif product.active? %>
						<br class="clearer"/><br class="clearer"/>
						<%= link_to_personalized_bootstrap_url(deactive_admin_product_path(product), :class => "btn btn-small btn-danger", :title => "Disattiva #{product.try(:name)}", :icon => "icon-off icon-white") %>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= paginate(@collection, :theme => 'twitter-bootstrap') %>
	</div>
</div>

<%= render :partial => 'spree/admin/shared/footer_links' %>
