<%= javascript_include_tag 'admin/printer_format' %>
<%= javascript_tag do %>
    printer_format_hash = <%== @product.generate_printer_format_json %>;
<% end %>
<%= form_for @product, :url => create_business_card_path(@product) do |f| %>
    <% i = 0 %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :price %>
    <%= f.hidden_field :available_on %>

    <% @product.business_card_variants.each do |variant| %>

        <%= hidden_field_tag "business_card_product[business_card_variant][#{i}][#{@product.number_of_copy_option_type.name}]", variant.number_of_copy_option_values.presentation %>
        <%= hidden_field_tag "business_card_product[business_card_variant][#{i}][#{@product.print_color_option_type.name}]", variant.print_color_option_values.presentation %>
        <div id=<%= "quantity_#{i}" %>>
          <div><%= check_box_tag "business_card_product[business_card_variant][#{i}][create]", nil, false, :data => {:id => "#{i}"} %>
            <label for="<%= "business_card_product_business_card_variant_#{i}_create" %>">
              Stampa: <%= variant.number_of_copy_option_values.presentation %> biglietti
              a <%= variant.print_color_option_values.presentation %>
            </label>
          </div>
          <div class="poses">
            <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.poses_option_type.name}]", @product.poses_option_type.name.capitalize %>
            <%#= text_field_tag("business_card_product[business_card_variant][#{i}][#{@product.poses_option_type.name}]", variant.poses_option_values) %>
            <%= select_tag "business_card_product[business_card_variant][#{i}][#{@product.poses_option_type.name}]",options_for_select(Spree::Pose.poses.collect{ |u| [u.name, u.id] }) %>
          </div>
          <div class="plastification_one_sided_glossy">
            <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.plastification_option_type.name}]['one_sided_glossy']", "Plastificazione solo fronte lucida" %>
            <%= text_field_tag("business_card_product[business_card_variant][#{i}][#{@product.plastification_option_type.name}]['one_sided_glossy']", variant.plastification_one_sided_glossy_option_values) %>
          </div>
          <div class="plastification_single_sided_matte">
            <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.plastification_option_type.name}]['single_sided_matte']", "Plastificazione solo fronte opaca" %>
            <%= text_field_tag("business_card_product[business_card_variant][#{i}][#{@product.plastification_option_type.name}]['single_sided_matte']", variant.plastification_single_sided_matte_option_values) %>
          </div>
          <div class="plastification_front_back_glossy">
            <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.plastification_option_type.name}]['front_back_glossy']", "Plastificazione fronte/retro lucida" %>
            <%= text_field_tag("business_card_product[business_card_variant][#{i}][#{@product.plastification_option_type.name}]['front_back_glossy']", variant.plastification_front_back_glossy_option_values) %>
          </div>
          <div class="plastification_front_back_matte">
            <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.plastification_option_type.name}]['front_back_matte']", "Plastificazione fronte/retro opaca" %>
            <%= text_field_tag("business_card_product[business_card_variant][#{i}][#{@product.plastification_option_type.name}]['front_back_matte']", variant.plastification_front_back_matte_option_values) %>
          </div>
          <div class="finish">
            <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.finish_option_type.name}]", "Finitura" %>
            <%= text_field_tag("business_card_product[business_card_variant][#{i}][#{@product.finish_option_type.name}]", variant.finish_option_values) %>
          </div>
          <div class="printer">
            <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.printer_type_option_type.name}]", "Stampante" %>
            <%= select_tag "business_card_product[business_card_variant][#{i}][#{@product.printer_type_option_type.name}]",
                           options_from_collection_for_select(@product.printer_type_option_type.printers, "id", "presentation") %>
          </div>
          <div class="printer_format">
            <%= label_tag "business_card_product[business_card_variant][#{i}][#{@product.printer_format_type_option_type.name}]", "Formato di stampa" %>
            <%= select_tag "business_card_product[business_card_variant][#{i}][#{@product.printer_format_type_option_type.name}]" %>
          </div>
        </div>
        <% i+=1 %>
    <% end %>
    <%= f.submit %>
<% end %>

