div[id*="quantity_"] {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

.c-div {
clear: both;
}

h3{
    color: #000000 !important;
    clear: left;
}

.edit_business_card_product fieldset{
    width: 300px;
    float: left;
    margin-right: 10px;
}

.edit_business_card_product select{
    width: 144px;
}

#paper_weight select,
#business_card_product_paper select{
    width: 344px;
    margin: 20px 0;
}

#accordion{
    margin-top: 20px;
}
.chzn-container{
    margin-top: 10px;
}
