<div class="row">
	<div class="span16">
		<h2><%= t(:mail_methods) %></h2>
		<p>In questa pagina puoi gestire la mail del server</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_mail_method)} <i class'icon-plus icon-white'></i>".html_safe, new_object_url, :class => 'btn btn-primary', :id => "admin_new_mail_method_link") %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" data-hook>
			<thead data-hook="admin_mail_methods_index_headers">
		  		<tr class="info">
		    		<th><%= t(:environment) %></th>
				    <th><%= t(:active) %></th>
				    <th data-hook="admin_mail_methods_index_header_actions">
		  		</tr>
			</thead>
			<tbody>
			<% @mail_methods.each do |method| %>
				<tr id="<%= spree_dom_id method %>" data-hook="admin_mail_methods_index_rows">
					<td><%= method.environment.to_s.titleize %></td>
					<td><%= method.active ? t(:yes) : t(:no) %></td>
					<td class="actions">
						<%= link_to_edit(method, {:class => "btn btn-primary"}) %> <%= link_to_delete method %>
				          <%= link_to("#{t('admin.mail_methods.send_testmail')} <i class='icon-envelope'></i>".html_safe, testmail_admin_mail_method_path(method), :method => :post, :class => 'send_mail btn') %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
