<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipping_date_adjustment } %>
		<h2><%= t(:create) %> <%= t(:shipping_date_adjustment) %></h2>
		<br />
		<%= form_for([:admin, @shipping_date_adjustment], :url => {:action => :create}, :html  => {:class => "well"}) do |f| %>
		    <%=  render :partial => 'form', :locals => {:f => f} %>
			<div class="form-actions clearer right-txt" data-hook="buttons">
				<%= f.submit(t(:create), :class => "btn btn-primary") %>
			    <%= link_to(t(:back), collection_url(), :class => "btn btn-inverse") %>
			</div>
		<% end %>
	</div>
</div>
