<div class="span3">
	<%= label_tag(:name, t(:name)) %> <span class="required">*</span>
	<%= f.text_field(:name) %>
</div>
<div class="span3">
	<%= label_tag(:presentation, t(:description)) %> <span class="required">*</span>
	<%= f.text_field(:presentation) %>
</div>
<div class="span3">
	<%= label_tag(:position, t(:position)) %> <span class="required">*</span>
	<%= f.text_field(:position) %>
</div>
<div class="span3">
	<label class="checked">
		<%= f.check_box(:optional) %>
		<%= t(:optional) %>
	</label>
</div>
<br class="clearer"/><br />
<div class="clearfix">
	<h2>Attributi</h2>
	<%= f.fields_for :simple_values do |builder| %>
		<%= render "simple_value_fields", :f => builder %>
	<% end %>
	<p class="small clearer"><%= link_to_add_fields("Aggiungi un nuovo valore", f, :simple_values, true) %></p>
</div>