<div class="clearer fields">
	<div class="control-group span3">
		<%= label_tag(:presentation, t(:presentation), :class => "control-label") %>  <span class="required">*</span><br />
		<div class="controls">
			<%= f.text_field(:presentation) %>
		</div>
	</div>
	<div class="control-group span2">
		<%= label_tag(:position, t(:position), :class => "control-label") %>
		<div class="controls">
			<%= f.text_field(:position, :style => "width: 30px") %>
		</div>
	</div>
	<div class="control-label span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi valore", f) %>
	</div>
</div>