<%= render "spree/shared/error_messages", :target => @variant %>
<%= form_for [:admin, @product, @variant], :url => admin_create_sticker_variant_path(@product), :id => 'new_sticker_variant', :class => 'well', :remote => true, :multipart => true do |f| %>
	<legend><%= t("printtogo.new_configuration") %></legend>
	<%= render :partial => "form", :locals => {:f => f} %>
	<div class="form-actions clearer right-txt">
		<%= submit_tag(t("actions.create"), :class => "btn btn-primary") %>
		<%= link_to(t(:back), admin_sticker_variants_path(@product), :class => 'btn btn-inverse', :remote => true) %>
	</div>
<% end %>