<div class="fields span15">
	<%= javascript_tag do %>
		$('.chosen').chosen();
	<% end %>
	<div class="span3">
		<%= label_tag(:name, t(:name)) %>
		<div class="input-append"><%= f.text_field(:name) %></div>
	</div>
	<div class="span3">	  	
	  	<%= label_tag(:label, t(:processing_plotter)) %>
		<%= f.select(
			:processing_plotter_type_ids, 
			options_for_select(
					Spree::ProcessingPlotterType.all.map { |l| [l.name, l.id] }, 
					(f.object.processing_plotter_type_ids)
				),
				{:placeholder => "Seleziona le disposizioni"}, 
	  			{:class => "chosen", :multiple => true}
			) %>
	</div>
	<% if @product.finishing == "coil" %>
	<div class="span3">
		<%= label_tag(:min_copies_active, t(:min_copies_active)) %>
		<div class="input-append"><%= f.text_field(:min_copies_active) %></div>
	</div>
	<% end %>
	<div class="span3" style="padding-top: 28px;">
		<%= link_to_confirm_remove_fields_with_limit("Rimuovi Lavorazione", f, 5) %>
	</div>
</div>