<%= f.hidden_field(:category, :value => "promo") %>
<div class="control-group">
	<%= label_tag(:title, t(:title), :class => "control-label") %>
	<div class="controls">
  		<%= f.text_field :title %>
	</div>
</div>
<div class="control-group">
  <%= f.label(:bannerable_id, t(:bannerable), :class => "control-label") %>
  <div class="controls">
    <%= f.select(:bannerable_id, options_for_select(Spree::LineItemPromotion.active.collect{|lip| ["Offerta #{lip.number_of_copy} #{lip.product.name}", lip.id]}, @banner.bannerable_id), {:include_blank => "Seleziona la promozione"}, {:onchange => "SetPromotionBanner($('#banner_bannerable_id option:selected'))"}) %>
	<%= f.hidden_field(:bannerable_type, :value => "Spree::LineItemPromotion") %>
  </div>
</div>
<div class="control-group" id="cbanner_url">
	<%= label_tag(:url, t(:url), :class => "control-label") %>
	<div class="controls">
  		<%= f.text_field(:url) %>
	</div>
</div>
<div class="control-group">
	<%= label_tag(:attachment, t(:attachment), :class => "control-label") %>
	<div class="controls">
  		<%= f.file_field :attachment %>
	</div>
</div>
<div class="control-group">
	<%= label_tag(:position, t(:position), :class => "control-label") %>
	<div class="controls">
  		<%= f.text_field(:position) %>
	</div>
</div>
<div class="control-group">
	<%= label_tag(:enabled, t(:enabled), :class => "control-label") %>
	<div class="controls">
  		<%= f.check_box(:enabled) %>
	</div>
</div>
<%= javascript_tag do %>
	SetPromotionBanner($('#banner_bannerable_id option:selected'));
<% end %>