<div class="row">
	<div class="span16">
		<h2><%= t(:banners) %></h2>
		<p>In questa pagina puoi gestire i banner</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_banner)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :class => 'btn btn-primary', :id => "admin_new_banners_link") %>
	</div>
	<div class="span8 content-box">
		In questa sezione potete creare, modificare o eliminare i banner presenti nella sezione a lato del sito. 
		Le caratteristiche principali sono:<br />
		<ul>
			<li>TITOLO: il testo che verr&agrave; visualizzato a lato del banner</li>
			<li>PROMOZIONI: selezionando una promozione da abbinare al banner verr&agrave; automaticamente creato il link alla stessa</li>
			<li>URL: collegamento libero ad un url interno od esterno al sito stesso</li>
			<li>IMMAGINE: l'immagine che verr&agrave; visualizzata sul banner</li>
			<li>POSIZIONE: la posizione del banner in relazione agli altri presenti e attivi</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" id='listing_banners'>
			<thead>
				<tr data-hook="admin_payment_methods_index_headers" class="info">
					<th><%= t(:thumbnail) %></th>
					<th>Titolo o Promozione</th>
					<th><%= t(:enable) %></th>
					<th data-hook="admin_payment_methods_index_header_actions"></th>
				</tr>
			</thead>
			<tbody>
				<% @banners.each do |banner|%>
				<tr id="<%= spree_dom_id banner %>" data-hook="admin_banners_index_rows">
					<td>
						<span class="handle"></span>
						<%= link_to image_tag(banner.attachment.url(:mini)), banner.attachment.url(:custom) %>
					</td>
					<td><%= banner.is_promotion? ? "Offerta #{banner.promotion.number_of_copy} #{banner.promotion.product.name}" : banner.title %></td>
					<td><%= icon('tick') if banner.enabled %></td>
					<td width="205px" data-hook="admin_banners_index_row_actions">
						<%= link_to_edit banner, :class => 'btn btn-primary' %>	<%= link_to_delete(banner) %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
