<strong><%= name %></strong/>
<% if use_billing %>
<br class="clearer"/>
<div class="control-group">
	<div class="controls">
		<label class="checkbox">
            <%= check_box_tag 'order[use_billing]', '1', (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.same_as?(@order.ship_address)) %> 
            <%= t(:use_billing_address) %>
		</label>
	</div>
</div>
<% end %>
<br class="clearer"/>
<div id="<%= use_billing ? "shipping" : "billing" %>">
	<div class="span6">
		<div class="control-group">
			<%= label_tag(:firstname, t(:first_name), :class => "control-label") %>
			<div class="controls">
		  		<%= f.text_field :firstname %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:lastname, t(:last_name), :class => "control-label") %>
			<div class="controls">
		  		<%= f.text_field :lastname %>
			</div>
		</div>
		<% if Spree::Config[:company] %>
		<div class="control-group">
			<%= label_tag(:company, t(:company), :class => "control-label") %>
			<div class="controls">
		  		<%= f.text_field :company %>
			</div>
		</div>
		<% end %>
		<div class="control-group">
			<%= label_tag(:address1, t(:street_address), :class => "control-label") %>
			<div class="controls">
		  		<%= f.text_field :address1, :class => "fullwidth" %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:address2, t(:street_address_2), :class => "control-label") %>
			<div class="controls">
		  		<%= f.text_field :address2, :class => "fullwidth" %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:city, t(:city), :class => "control-label") %>
			<div class="controls">
		  		<%= f.text_field :city %>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="control-group">
			<%= label_tag(:zipcode, t(:zip), :class => "control-label") %>
			<div class="controls">
		  		<%= f.text_field :zipcode, :style => 'width: 100px;' %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:state_id, t(:state), :class => "control-label") %>
			<div class="controls">
		  		<span id="<%= name == t(:shipping_address) ? 's' : 'b' %>state">
		          <%= f.text_field :state_name, :style => "width:150px; display: #{f.object.country.states.empty? ? 'block' : 'none' };", :disabled => !f.object.country.states.empty? %>
		          <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, {:include_blank => true}, {:style => "width:150px; display: #{f.object.country.states.empty? ? 'none' : 'block' };", :disabled => f.object.country.states.empty?} %>
		        </span>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:country_id, t(:country), :class => "control-label") %>
			<div class="controls">
		  		<span id="<%= name == t(:shipping_address) ? 's' : 'b' %>country"><%= f.collection_select :country_id, available_countries, :id, :name, {}, {:style => 'width: 150px;'} %></span>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:phone, t(:phone), :class => "control-label") %>
			<div class="controls">
		  		<%= f.text_field :phone %>
			</div>
		</div>
	</div>
</div>
<br class="clearer"/>

<%= javascript_tag do %>
    $(document).ready(function(){
      $('span#<%= name == t(:shipping_address) ? 's' : 'b' %>country select').change(function() { update_state('<%= name == t(:shipping_address) ? 's' : 'b' %>'); });
    });
<% end %>