<% if flash[:error] %>
<div class="alert error">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<%= flash[:error] %>
</div>
<% end %>
<% if notice %>
<div class="alert notice">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<%= notice %>
</div>
<% end %>