<div class="well clearfix" data-hook="toolbar">
  <%= link_to("#{t(:new_adjustment)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_order_adjustment_url(@order), :id => 'admin_new_order', :class => "btn btn-primary", :remote => true) %>
</div>
<br class="clearer"/>