<table class="index table table-hover table-condensed table-bordered">
	<thead>
		<tr data-hook="payments_header" class="info">
			<th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
			<th><%= t(:amount, :scope => 'activerecord.attributes.spree/payment') %></th>
			<th><%= t(:payment_method) %></th>
			<th><%= t(:payment_state) %></th>
			<% if !session[:only_read] %>
			<th><%= t(:payment_actions) %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	<% if !payments.blank? %>
	<% payments.each do |payment| %>
		<tr data-hook="payments_row">
			<td><%= payment.created_at.to_s(:date_time24) %></td>
			<td><%= number_to_currency payment.amount %></td>
			<td><%= payment_method_name(payment) %></td>
			<td><%= t(payment.state, :scope => :payment_states, :default => payment.state.capitalize) %></td>
			<% if !session[:only_read] %>
			<td class="actions" style="width: 340px">
				<% payment.actions.each do |action| %>
					<%= button_to(t(action), fire_admin_order_payment_path(@order, payment, :e => action), :method => :put, :class => "btn btn-primary left", :remote => true) %>
				<% end %>
			</td>
			<% end %>
		</tr>
	<% end %>
	<% end %>
	</tbody>
</table>