<div class="fields clearfix">
	<div class="span3">
		<%= label_tag(:average_hourly, t(:average_hourly)) %>
	  	<%= f.text_field(:average_hourly) %>
	</div>
	<div class="span3">
		<%= label_tag(:weight_limit, t(:weight_limit)) %>
	  	<%= f.select(:weight_limit, Spree::Config[:paper_weight].split(",").map {|w| ["Fino a #{w} Gr.", w]}, :prompt => true, :selected => f.object.weight_limit.to_i) %>
	</div>
	<div class="span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Grammatura", f) %>
	</div>
</div>
<br class="clearer"/>
