<div class="fields clearfix">
	<div class="control-group span3">
		<%= label_tag(:copy_cost, t(:copy_cost), :class => "control-label left-txt padding-label-left") %>
		<div class="controls">
	  		<%= f.text_field(:copy_cost) %>
		</div>
	</div>
	<div class="control-group span3">
		<%= label_tag(:weight_limit, t(:weight_limit), :class => "control-label left-txt padding-label-left") %>
		<div class="controls">
	  		<%= f.select(:weight_limit, Spree::Config[:paper_weight].split(",").map {|w| ["Fino a #{w} Gr.", w]}, :prompt => true, :selected => f.object.weight_limit.to_i) %>
		</div>
	</div>
	<div class="control-label span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Grammatura", f) %>
	</div>
	<br class="clearer"/>
</div>