<% @body_id = "folding" %>

<div class="row">
	<div class="span7">
		<h2><%= t(:foldings) %></h2>
		<p>In questa pagina puoi gestire le opzioni di piegatura</p>
	</div>
	<div class="span8 content-box margin-top">
		In questa sezione potrete configurare i tipi di piega comunemente usati per i depliant.
		Per ogni tipo di piega dovrete impostare:
		<ol>
			<li>attivo o non attivo</li>
			<li>se la tipologia di piega viene plastificata e nel caso affermativo dovrete inserire la relativa media oraria</li>
			<li>impostare se la lavorazione avverr&agrave; in esterna o in interna</li>
			<li>potrete inserire i vari costi fissi o variabili per le macchine utilizzate</li>
			<li>infine dovrete impostare i vari limiti di costo per grammatura</li>
		</ol>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr data-hook="admin_users_index_headers" class="info">
					<th><%= t(:fold_type) %></th>
					<th><%= t(:limit_set) %></th>
					<th><%= t(:active) %></th>
					<th data-hook="admin_foldings_index_header_actions"></th>
				</tr>
			</thead>
			<% @foldings.each do |folding| %>
			<tbody>
				<tr id="folding_<%= folding.id %>">
					<td style="vertical-align: middle;"><%= folding.name %></td>
					<td><%= raw folding.folding_weights.collect {|fw| content_tag(:span, "Fino a #{fw.weight_limit.to_i} Gr. => #{fw.average_hourly.to_i} cp/ora", :class => "label label-inverse") }.join(" ") %></td>
					<td style="vertical-align: middle;"><%= (folding.active) ? content_tag(:span, "Attiva <i class='icon-ok icon-white'></i>".html_safe, :class => "label label-success") : content_tag(:span, "Disattiva <i class='icon-off icon-white'></i>".html_safe, :class => "label label-warning") %></td>
					<td class='actions' data-hook="admin_foldings_index_row_actions">
						<%= link_to("Modifica <i class='icon-edit icon-white'></i>".html_safe, edit_admin_folding_path(folding), :class => "btn btn-primary") %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>
