<h2><%= t(:create) %> <%= t(:folding) %></h2>
<br />
<%= form_for([:admin, @folding], :url => {:action => :create}, :html => {:class => "well form-horizontal clearfix"}) do |f| %>
	<%=  render :partial => 'form', :locals => {:f => f} %>
	<div class="form-actions clearer">
		<%= f.submit(t(:create), :class => "btn btn-info btn-large right") %>
      	<%= link_to(t(:back), admin_foldings_path, :class => "btn btn-inverse right", :style => "margin-right: 10px") %>
    </div>
<% end %>
<%= javascript_tag do %>
	if ($("#folding_plastification").is(":checked")) {
		if ($("#folding_external").is(":checked")) {
			$("#copy_cost_plastification").show();
		} else {
			$("#average_hourly_plastification").show();
		}
	} else {
		if ($("#folding_external").is(":checked")) {
			$("#copy_cost_plastification").hide();
			$("#copy_cost_plastification").find("input").val(0);
		} else {
			$("#average_hourly_plastification").hide();
			$("#average_hourly_plastification").find("input").val(0);
		}
	}
	
	$("#folding_plastification").change(function() {
		if ($(this).is(":checked")) {
			if ($("#folding_external").is(":checked")) {
				$("#copy_cost_plastification").show();
			} else {
				$("#average_hourly_plastification").show();
			}
		} else {
			if ($("#folding_external").is(":checked")) {
				$("#copy_cost_plastification").hide();
				$("#copy_cost_plastification").find("input").val(0);
			} else {
				$("#average_hourly_plastification").hide();
				$("#average_hourly_plastification").find("input").val(0);
			}
		}
	});
	
	
	if ($("#folding_external").is(":checked")) {
		$("#external").show();
		$("#internal").hide();
		if ($("#folding_plastification").is(":checked")) {
			$("#copy_cost_plastification").show();
		} else {
			$("#copy_cost_plastification").hide();
			$("#copy_cost_plastification").find("input").val(0);
		}
			
	} else {
		$("#external").hide();
		$("#internal").show();
		if ($("#folding_plastification").is(":checked")) {
			$("#average_hourly_plastification").show();
		} else {
			$("#average_hourly_plastification").hide();
			$("#average_hourly_plastification").find("input").val(0);
		}
	}
	$("#folding_external").change(function() {
		if ($(this).is(":checked")) {
			$("#internal").hide();
			$("#external").show();
			if ($("#folding_plastification").is(":checked")) {
				$("#copy_cost_plastification").show();
			} else {
				$("#copy_cost_plastification").hide();
				$("#copy_cost_plastification").find("input").val(0);
			}
		} else {
			$("#external").hide();
			$("#internal").show();
			if ($("#folding_plastification").is(":checked")) {
				$("#average_hourly_plastification").show();
			} else {
				$("#average_hourly_plastification").hide();
				$("#average_hourly_plastification").find("input").val(0);
			}
		}
	});
<% end %>

