<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @user} %>
<div id="content">
	<div class="content-box-title-no-bc">
		<h2><%= t(:new_customer) %></h2>
	</div>
	<div id="new-customer">
		<div class="black-header">
			<span><%= t(:account_login) %> </span>
		</div>
		<div data-hook="signup" class="login-form">
			<%= form_for :user, :url => spree.user_registration_path(@user), :html =>{:id => 'login-form' } do |f| %>
			<%
			country = Spree::Country.find(Spree::Config[:default_country_id]) rescue Spree::Country.first
			@user.build_bill_address({:country => country}, :without_protection => true) if !@user.bill_address
			%>
			<div data-hook="signup_inside_form">
				<%= render :partial => 'spree/shared/user_form', :locals => {:f => f} %>
				<p><%= f.submit t(:create), :class => 'button primary' %></p>
			</div>
			<% end %>
			<p class="black"><%= link_to t(:login_as_existing), spree.login_path, :class => "sky" %></p>
		</div>
	</div>
	<div class="user_signin">
		<div data-hook="login_extras"></div>
	</div>
</div>
