<%= render "spree/shared/error_messages", :target => @product %>
<%= form_for(@rigid_printer_format, :url => admin_rigid_printer_formats_update_path(@product, @rigid_printer_format.id), :id => 'edit_poster_format', :class => 'well', :remote => true, :multipart => true) do |f| %>
	<legend><%= t("printtogo.edit_format") %></legend>
	<%= render :partial => "form", :locals => {:f => f} %>
	<div class="form-actions clearer right-txt">
		<%= f.submit(t("actions.create"), :class => "btn btn-primary") %>
		<%= link_to(t(:back), admin_rigid_printer_formats_index_path(@product), :class => 'btn btn-inverse', :remote => true) %>
	</div>
<% end %>