<ul class="nav nav-tabs" id="formatTab">
	<li class="active"><a href="#variant_format" data-toggle="tab">Configurazione Formato</a></li>
	<% if @rigid_printer_format.persisted? %>
	<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_option_value_admin_templates_path(@rigid_printer_format) %>">Template</a></li>
	<% end %>
</ul>
<div class="tab-content">
	
	<!-- Configurate Variant -->
	<div class="tab-pane active clearfix" id="variant_format">
		<% if @rigid_printer_format.name != "custom" %>
		<div class="span7">
			<%= label_tag("rigid_printer_format[dimension]", t(:dimension), :class => "control-label") %>
			<div class="input-append"><%= f.text_field(:width, :style => "width: 40px;") %><span class="add-on">cm</span></div>
			<div class="input-append"><%= f.text_field(:height, :value => @rigid_printer_format.height, :style => "width: 40px; margin-left: 10px") %><span class="add-on">cm</span></div>
		</div>
		<div class="span7">
			<%= label_tag("rigid_printer_format[name]", t(:name), :class => "control-label") %>
			<%= f.text_field :name %>
		</div>
		<% else %>
		<div class="span7">
			<%= label_tag("rigid_printer_format[name]", t(:name), :class => "control-label") %>
		  	<strong><%= @rigid_printer_format.name.titleize %></strong>
		</div>
		<% end %>
		<br class="clearer"/><br />
		<% if @rigid_printer_format.persisted? %>
		<%= f.fields_for :template_format do |t| %>
		<%= t.hidden_field(:imageable_id, :value => @rigid_printer_format.id) %>
		<%= t.hidden_field(:imageable_type, :value => @rigid_printer_format.type) %>
		<div class="span5 inputs">
			<%= t.label(:attachment, t(:attachment)) %>
			<%= t.file_field(:attachment) %>
		</div>
		<div class="span5 inputs">
			<%= image_tag(t.object.attachment(:normal)) %>
		</div>
		<br class="clearer"/><br />
		<% end %>
		<% end %>
		<div class="span3">
			<label class="checked">
				<%= f.check_box :sided %> <%= t(:sided) %>
			</label>
		</div>
		<div class="span3">
			<label class="checked">
				<%= f.check_box :eyelet %> <%= t(:eyelet) %>
			</label>
		</div>
		<div class="span3">
			<label class="checked">
				<%= f.check_box :cutting_coil %> <%= t(:cutting_coil) %>
			</label>
		</div>

		<% if @rigid_printer_format.name == "custom" %>
			<br class="clearer"/><br />
			<div class="span7">
				<%= label_tag("rigid_printer_format[dimension]", "Dimensioni minime", :class => "control-label") %>
				<div class="input-append"><%= f.text_field(:min_width_dimension, :style => "width: 40px;") %><span class="add-on">cm</span></div>
				<div class="input-append"><%= f.text_field(:min_height_dimension, :style => "width: 40px; margin-left: 10px") %><span class="add-on">cm</span></div>
			</div>
		<% end %>
	</div>
	<!-- Configurate Variant -->
	
	<!-- Template -->
	<div class="tab-pane clearfix" id="template">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<!-- Template -->
	
</div>