<div data-hook="admin_taxon_form_fields">
	<div class="span7">
		<%= f.label :name, t(:name) %>
	    <%= text_field :taxon, :name %>
		
		<%= f.label :permalink_part, t(:permalink) %>
	    <%= @taxon.permalink.split("/")[0...-1].join("/") + "/" %> <%= text_field_tag :permalink_part, @permalink_part %>
	</div>
	<div class="span7">
		<%= f.label :icon, t(:icon) %>
		<%= f.file_field :icon %>
		<% if @taxon.icon.present? %>
			<%= image_tag(@taxon.icon.url(:box), :id => "attached_image" ) %>
		<% end %>
		
		<%= f.label :description, t(:description) %>
		<%= f.text_area(:description, :style => "width: 480px; height: 140px;") %>
	</div>
</div>