<%= hidden_field(:slide, :slideshow_type_id, :value => @slideshow_type.id) %>
<div class="control-group">
  <%= f.label(:slideable_id, t(:slideable), :class => "control-label") %>
  <div class="controls">
    <%= f.select(:slideable_id, options_for_select(Spree::LineItemPromotion.active.collect{|lip| ["Offerta #{lip.number_of_copy} #{lip.product.name}", lip.id]}, @slide.slideable_id), {:include_blank => "Seleziona la promozione"}, {:onchange => "SetPromotion($('#slide_slideable_id option:selected'))"}) %>
	<%= f.hidden_field(:slideable_type, :value => "Spree::LineItemPromotion") %>
  </div>
</div>
<div class="control-group" id="cslide_name">
  <%= f.label(:name, t(:title), :class => "control-label") %>
  <div class="controls">
    <div class="input-append"><%= f.text_field(:title) %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.title_slide").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
  </div>
</div>
<div class="control-group" id="cslide_url">
  <%= f.label(:url, t(:url), :class => "control-label") %>
  <div class="controls">
    <%= f.text_field(:url) %>
  </div>
</div>
<div class="control-group" id="cslide_content">
  <%= f.label(:content, t(:content), :class => "control-label") %>
  <div class="controls">
    <%= f.cktext_area(:content, :cols => 60, :rows => 8, :style => "width: 500px;", 'data-value' => @slide.content) %>
  </div>
</div>
<div class="control-group">
  <%= f.label(:attachment, t(:attachment), :class => "control-label") %>
  <div class="controls">
    <%= f.file_field(:attachment) %>
  </div>
</div>
<div class="control-group">
  <%= f.label(:enable, t(:enable), :class => "control-label") %>
  <div class="controls">
    <%= f.check_box(:enable) %>
  </div>
</div>
<div class="control-group">
  <%= f.label(:position, t(:position), :class => "control-label") %>
  <div class="controls">
    <%= f.text_field(:position, :class => "span1") %>
  </div>
</div>
<%= javascript_tag do %>
	SetPromotion($('#slide_slideable_id option:selected'));
<% end %>
