<h4><%= t("slideshow_type.slide.new_page") %></h4>
<br />
<%= form_for([:admin, @slideshow_type, @slide], :html => { :multipart => true, :class => "well form-horizontal clearfix" }) do |f| %>
  <table class="basic-table" data-hook="new_slide">
    <%= render :partial => 'form', :locals => { :f => f } %>
  </table>
  <div class="form-actions right-txt" data-hook="buttons">
	<%= submit_tag(t(:create), :class => "btn btn-primary") %>
	<%= link_to t(:back), admin_slideshow_type_slides_path(@slideshow_type), :class => 'btn btn-inverse', :remote => true %>
  </div>
<% end %>

<%= javascript_include_tag 'admin/slides/new.js' %>