if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#slide").html("<%= escape_javascript(render :partial => 'edit') %>");
	});
} else {
	$("#slide").html("<%= escape_javascript(render :partial => 'edit') %>");
}
setTimeout(function() { $('*[rel=popover-right]').popover({placement:'right', delay:{ show:0, hide:100 }, trigger: 'hover'}); }, 1200);