if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#slide").html("<%= escape_javascript(render :partial => 'index') %>");
	});
} else {
	$("#slide").html("<%= escape_javascript(render :partial => 'index') %>");
}