<% if tracker = Spree::Tracker.current %>
	<%= javascript_tag do %>
		<%# report e-commerce transaction information when applicable %>
		_gaq.push(['_addTrans',
			"<%= @order.number %>",                           <%# Order Number %>
			"",                                               <%# Affiliation %>
			"<%= @order.total %>",                            <%# Order total %>
			"<%= @order.adjustments.tax.sum(:amount) %>",     <%# Tax Amount %>
			"<%= @order.adjustments.shipping.sum(:amount) %>",<%# Ship Amount %>
			"",                                               <%# City %>
			"",                                               <%# State %>
			""                                                <%# Country %>
		]);
		<% @order.line_items.each do |line_item| %>
			_gaq.push(['_addItem',
				"<%= @order.number %>",                 <%# order ID - required %>
				"<%= line_item.variant.sku %>",         <%# SKU/code - required %>
				"<%= line_item.variant.product.name %>",<%# product name %>
				"",                                     <%# category or variation, Product Category %>
				"<%= line_item.price %>",               <%# unit price - required %>
				"<%= line_item.quantity %>"             <%# quantity - required %>
			]);
		<% end %>
		_gaq.push(['_trackTrans']);
	<% end %>

<% end %>