<h4><%= item.variant.product.name %></h4>
<ul>
  <li><%= "#{t(:number_of_copy)}: #{item.number_of_copy}" %></li>
  <li><%= "#{t(:format)}: #{item.format}" %></li>

  <% if item.orientation %>
    <li><%= "#{t(:orientation)}: #{item.orientation}" %></li>
  <% end %>
  <% if item.printing_instructions %>
    <li><%= "#{t(:printing_instructions)}: #{item.printing_instructions}" %></li>
  <% end %>
  <% if item.paper %>
    <li><%= "#{t(:paper)}: #{item.paper}" %></li>
  <%end%>
	<% if item.number_of_stickers %>
		<li><%= "#{t(:number_of_stickers)}: #{item.number_of_stickers}" %></li>
	<% end %>
	<% if item.option_for_advanced %>
		<%= item.option_for_advanced %>
	<% end %>
	<% if item.folding %>
		<li><%= "#{t(:fold_type)}: #{(item.folding.class == String) ? item.folding : item.folding.folding.name rescue "Nessun tipo di piegha"}" %></li>
	<% end %>
	<% if item.sleeve %>
		<li><%= "#{t(:sleeve)}: #{(item.sleeve.class == String) ? item.sleeve : item.sleeve.presentation rescue "Nessun Tipo Copertina"}" %></li>
	<% end %>
	<% if item.frame %>
		<li><%= "#{t(:frame)}: #{item.frame.name}" %></li>
	<% end %>
	<% if item.number_of_facades %>
		<li><%= "#{t(:number_of_facades)}: #{(item.number_of_facades.class == String) ? item.number_of_facades : item.number_of_facades.presentation rescue "Nessuna numero di facciate"}" %></li>
	<% end %>
	<% if item.printing_instructions %>
		<li><%= "#{t(:printing_instructions)}: #{item.printing_instructions}" %></li>
	<% end %>
	<% if item.cover_paper %>
		<li><%= "#{t(:cover_paper)}: #{item.cover_paper}" %></li>
	<% end %>
	<% if item.cover_paper_weight %>
		<li><%= "#{t(:cover_weight)}: #{item.cover_paper_weight}" %></li>
	<% end %>
	<% if item.cover_print_color %>
		<li><%= "#{t(:cover_print_color)}: #{item.cover_print_color.presentation.capitalize}" %></li>
	<% end %>
	<% if item.lamination && item.lamination!="Nessuna" %>
		<li><%= "#{t(:lamination)}: #{item.lamination}" %></li>
	<% end %>
	<% if item.cutting_coil && item.cutting_coil!="Nessuna" %>
		<li><%= "#{t(:cutting_coil)}: #{item.cutting_coil}" %></li>
	<% end %>
	<% if item.orientation_coil %>
		<li><%= "#{t(:orientation_coil)}: #{item.orientation_coil}" %></li>
	<% end %>
	<% if (item.sided rescue false) %>
		<li><%= "#{t(:sided)}: #{item.sided}" %></li>
	<% end %>
	<% if (item.eyelet rescue false) %>
		<li><%= "#{t(:eyelet)}: #{item.eyelet}" %></li>
	<% end %>
	<% if (item.eyelet_accessory_quantity rescue false) %>
		<li><%= "#{t(:eyelet_accessory_quantity)}: #{item.eyelet_accessory_quantity}" %> </li>
	<% end %>
	<% if (item.eyelet_accessory_disposition rescue false) %>
		<li><%= "#{t(:eyelet_accessory_disposition)}: #{item.eyelet_accessory_disposition}" %> </li>
	<% end %>
  <% if (item.paper_weight rescue false) %>
    <li><%= "#{t(:paper_weight)}: #{item.paper_weight} gr" %></li>
  <%end%>
  <% if item.plasticization && item.plasticization!="Nessuna" %>
    <li><%= "#{t(:plasticization)}: #{item.plasticization}" %></li>
  <%end%>
  <% if item.processing_plotter && item.processing_plotter!="Nessuna" %>
    <li><%= "#{t(:processing_plotter)}: #{item.processing_plotter}" %></li>
  <%end%>
  <% if ((item.cutting_coil && item.cutting_coil!="Nessuna") rescue false) %>
    <li><%= "#{t(:cutting_coil)}: #{item.cutting_coil}" %></li>
  <%end%>
  <% if (item.print_color rescue false) %>
    <li><%= "#{t(:print_color)}: #{item.print_color}" %></li>
  <%end%>

  <li><%= "#{t(:shipping_at)}: #{l(item.shipping_date, :format => "%A %d/%m/%Y")}"  %> </li>
  <!--<li><%#= "#{t(:shipping_price)}: #{number_to_currency(@order.shipping_method.calculator.preferred_amount)}" %> </li>-->
  <li>NOTE: <%= item.notes %> </li>
</ul>