<div class="buy-form">
	<h2><%= t(:shipping_address) %> <%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h2>
	<div class="h2-body">
		<%= order.ship_address.full_name %><br/>
		Tel. <%= order.ship_address.phone %><br/>
		<%= order.ship_address.to_ship %>
	</div>
	<h2><%= t(:billing_address) %> <%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h2>
	<div class="h2-body">
		<% if(!order.bill_address.company.blank?) %>
		<strong>Ragione Sociale: </strong> <%= order.bill_address.company %><br/>
		<% else %>
		<strong>Nome: </strong> <%= "#{order.bill_address.full_name}" %><br/>
		<% end %>
		<% if order.bill_address.tax_id_number %>
		<strong>C.F </strong> <%= order.bill_address.tax_id_number %><br />
		<% end %>
		<% if order.bill_address.vat_number %>
		<strong>P.IVA </strong> <%= order.bill_address.vat_number %><br />
		<% end %>
		<strong>Tel.: </strong> <%= order.bill_address.phone %><br />
		<strong>indirizzo: </strong> <%= order.bill_address.formatted %>
	</div>
	<h2><%= t(:payment_and_packaging) %></h2>
	<div class="h2-body clearfix">
		<div class="left" style="width: 200px; text-align: center;"><%= image_tag((order.payment_method.icon.exists? ? order.payment_method.icon.url : "store/#{order.payment_method.type.parameterize}.jpg")) %></div><p class="left"><%= order.payment_method.name %></p>
	</div>
	<div class="h2-body clearfix">
		<div class="left" style="width: 200px; text-align: center;"><%= image_tag(order.presentation_pack.icon.url(:normal)) %></div><p class="left"><%= order.presentation_pack.presentation %></p>
	</div>
	<h2><%= t(:products_acquired) %></h2>
	<table class="index" data-hook="order_details" id="order_detail">
		<colgroup>
			<col style="width: 35%">
			<col style="width: 55%">
			<col style="width: 10%">
		</colgroup>
		<thead id="line-items" data-hook>
			<tr data-hook="order_details_line_items_headers">
				<th><%= t(:image) %></th>
				<th><%= t(:item) %></th>
				<th class="total"><span><%= t(:total) %></span></th>
			</tr>
		</thead>
		<tbody id="line-items" data-hook>
			<% @order.line_items.each do |item| %>
			<tr data-hook="order_details_line_item_row" class="<%= cycle("even", "odd") %>">
				<td data-hook="order_item_image" style="text-align: center;">
					<% if item.variant.images.length == 0 %>
					<%= small_image(item.variant.product) %>
					<% else %>
					<%= image_tag(item.variant.images.first.attachment.url(:small)) %>
					<% end %>
				</td>
				<td data-hook="order_item_description">
					<%= render :partial => 'spree/shared/line_item_details', :locals => {:item => item} %>
				</td>
				<td data-hook="order_item_total" class="total">
					<span><%= number_to_currency (item.price) %></span>
				</td>
			</tr>
			<% end %>
		</tbody>
		<tfoot id="order-total" data-hook="order_details_total">
			<tr class="total">
				<td colspan="2"><b><%= t(:order_total) %>:</b></td>
				<td class="total"><span id="order_total"><%= number_to_currency @order.total %></span></td>
			</tr>
		</tfoot>
		<% if order.price_adjustment_totals.present? %>
		<tfoot id="price-adjustments" data-hook="order_details_price_adjustments">
			<% @order.price_adjustment_totals.keys.each do |key| %>
			<tr class="total <%= cycle("even", "odd") %>">
				<td colspan="2"><strong><%= key %></strong> </td>
				<td class="total"><span><%= number_to_currency @order.price_adjustment_totals[key] %></span></td>
			</tr>
			<% end %>
		</tfoot>
		<% end %>
		<tfoot id="order-charges" data-hook="order_details_adjustments">
			<% @order.adjustments.eligible.each do |adjustment| %>
			<% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
			<tr class="total">
				<td colspan="2"><strong><%= adjustment.label %></strong></td>
				<td class="total"><span><%= number_to_currency adjustment.amount %> </span></td>
			</tr>
			<% end %>
			<% if(@order.tax_total <= 0) %>
			<tr class="total">
				<td colspan="2"><strong>IVA: 22%</strong></td>
				<td class="total"><span><%= number_to_currency(0) %> </span></td>
			</tr>
			<% end %>
		</tfoot>
	</table>
</div>