<div class="box red" id="preventive-div">
	<h2><span>Preventivo</span></h2>
	<dl id="preventive-content">
		<dt style="color: black; font-weight: bold; font-size: 12px;">Totale Netto:</dt>
		<dd id="total-no-iva" style="color: black; font-weight: bold; font-size: 15px;"><%= number_to_currency 0 %></dd>
		<dt>Prezzo copia:</dt><dd id="price-for-element"><%= number_to_currency 0 %></dd>
		<dt>Verifica File</dt><dd id="file_check"><%= number_to_currency 0 %></dd>
		<dt>IVA 22%</dt><dd id="iva"><%= number_to_currency 0 %></dd>
		<dt class="bold">Totale:</dt><dd id="preventive-total" class="bold"><%= number_to_currency 0 %></dd>
	</dl>
	<dl id="promo" style="display: none;">
		<div class="clearfix"><dt>Totale Netto:</dt><strong id="total-imposted" style="font-size: 18px;"><%= number_to_currency 0 %></strong></div>
		<div id="total-original" class="small clearfix right-txt">Invece di: <%= number_to_currency 0 %></div>
		<dt>Verifica File</dt><dd id="file_check-promo"><%= number_to_currency 0 %></dd>
		<dt>IVA 22%</dt><dd id="total-promoiva"><%= number_to_currency 0 %></dd>
		<dt>Totale + IVA:</dt><dd id="total-promo"><%= number_to_currency 0 %></dd>
		<dt>Risparmi:</dt><dd id="total-discount"><%= number_to_currency 0 %></dd>
	</dl>
	<a href="javascript: void(0)" onclick="PopulateCart();" id="add_to_cart_js" class="btn-buy"><span>Aggiungi al carrello</span></a>
	<div class="loader-box">
		<%= image_tag('store/ajax-loader.gif', :id => 'ajax-loader') %>
	</div>
</div>
