<%# @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%#= form_tag products_path, {:method => :get, :class => 'search-form'} do %>
    <!--<fieldset>-->
      <!--<div class="text">-->
        <!--<%#= text_field_tag :keywords, params[:keywords] %>-->
      <!--</div>-->
      <!--<%#= submit_tag t(:search),  :class => 'btn-search' %>-->
    <!--</fieldset>-->
<%# end %>

<div class="search-form-empty">

</div>



