<% order.reload unless order.blank? %>

<div class="box">
  <h2><span>Totale ordine</span></h2>
  <dl>
    <dt>Totale Netto:</dt><dd><%= number_to_currency(order.nil? ? 0 : order.total_without_vat) %></dd>
		<% unless(order.nil?) %>
		<dt>Verifica File:</dt><dd><%= number_to_currency(order.nil? ? 0 : order.file_check_total) %></dd>
		<% end %>
    <dt>Spese di spedizione:</dt><dd><%= number_to_currency(order.nil? ? 0 : order.total_shipping) %></dd>
    <% if !order.nil? && !order.presentation_pack.nil? %>
        <dt>Prezzo pacco <%= order.presentation_pack.name %>:</dt>
        <dd><%= number_to_currency(order.adjustments.where(:originator_type => 'Spree::PresentationPack').sum(&:amount)) %></dd>
    <% end %>
	<dt>IVA 22%:</dt><dd><%= number_to_currency(order.nil? ? 0 : order.total_vat) %></dd>
    <dt class="bold">Totale:</dt><dd class="bold"><%= number_to_currency(order.nil? ? 0 : order.total) %></dd>
  </dl>
</div>
