<script>
  Spree.translations = <%==
  { :date_picker    => I18n.t(:format, 
                              :scope => 'spree.date_picker',
                              :default => 'yy/mm/dd'),
    :abbr_day_names => I18n.t(:abbr_day_names, :scope => :date),
    :month_names    => I18n.t(:month_names, :scope => :date).delete_if(&:blank?),
    :previous       => I18n.t(:previous),
    :next           => I18n.t(:next),
    :no_results     => I18n.t(:no_results),
    :type_to_search => I18n.t(:type_to_search),
    :searching      => I18n.t(:searching),
    :sku            => I18n.t(:sku),
    :on_hand        => I18n.t(:on_hand),
		:select					=> I18n.t("printtogo.js.select"),
		:discount				=> I18n.t("printtogo.js.discount"),
		:empty_state		=> I18n.t("printtogo.js.empty_state"),
		:required				=> I18n.t("printtogo.js.validator.required"),
		:remote					=> I18n.t("printtogo.js.validator.remote"),
		:email					=> I18n.t("printtogo.js.validator.email"),
		:url						=> I18n.t("printtogo.js.validator.url"),
		:date						=> I18n.t("printtogo.js.validator.date"),
		:dateISO				=> I18n.t("printtogo.js.validator.dateISO"),
		:number					=> I18n.t("printtogo.js.validator.number"),
		:digits					=> I18n.t("printtogo.js.validator.digits"),
		:creditcard			=> I18n.t("printtogo.js.validator.creditcard"),
		:equalTo				=> I18n.t("printtogo.js.validator.equalTo"),
		:accept					=> I18n.t("printtogo.js.validator.accept"),
		:maxlength			=> I18n.t("printtogo.js.validator.maxlength"),
		:minlength			=> I18n.t("printtogo.js.validator.minlength"),
		:rangelength		=> I18n.t("printtogo.js.validator.rangelength"),
		:range					=> I18n.t("printtogo.js.validator.range"),
		:max						=> I18n.t("printtogo.js.validator.max"),
		:min						=> I18n.t("printtogo.js.validator.min"),
		:upload					=> I18n.t("printtogo.js.upload"),
		:notice_ie_upload	=> I18n.t("printtogo.js.notice_ie_upload"),
		:upload_success_description	=> I18n.t("printtogo.js.upload_success_description"),
		:upload_success_title => I18n.t("printtogo.js.upload_success_title"),
		:we_transfer_description_first => I18n.t("printtogo.js.we_transfer_description_first"),
		:we_transfer_description_second => I18n.t("printtogo.js.we_transfer_description_second"),
		:empty_plasticization	=> I18n.t("printtogo.js.plasticization.empty"),
		:one_sided_glossy_plasticization	=> I18n.t("printtogo.js.plasticization.one_sided_glossy"),
		:single_sided_matte_plasticization	=> I18n.t("printtogo.js.plasticization.single_sided_matte"),
		:front_back_glossy_plasticization	=> I18n.t("printtogo.js.plasticization.front_back_glossy"),
		:front_back_matte_plasticization	=> I18n.t("printtogo.js.plasticization.front_back_matte"),
		:print_color_bn	=> I18n.t("printtogo.js.print_color.black_white"),
		:print_color_c	=> I18n.t("printtogo.js.print_color.color"),
		:print_type_front_back	=> I18n.t("printtogo.js.print_type.front_back"),
		:print_type_front	=> I18n.t("printtogo.js.print_type.front"),
		:paper_cover_same_interior => I18n.t("printtogo.preventive.product.paper_cover_same_interior"),
		:success_vies => I18n.t("printtogo.js.success_vies"),
		:warning_vies => I18n.t("printtogo.js.warning_vies")
  }.to_json
%>
</script>
