<% content_for :head do %>
	<%= javascript_include_tag states_url(:format => :js) %>
<% end %>

<div class="credentials clearfix" style="padding-top: 20px">
	<div class="row">
		<div class="form-field-checkout">
			<%= f.label :email, t(:email), :class => "black" %> <span class="required">*</span><br/>
			<%= f.text_field :email, :class => 'full required' %>
		</div>
	</div>
	<div class="row">
		<div class="form-field-checkout">
			<%= f.label :password, t(:password), :class => "black" %> <span class="required">*</span><br/>
			<%= f.password_field :password, :class => 'required' %>
		</div>
		<div class="form-field-checkout">
			<%= f.label :password_confirmation, t(:confirm_password), :class => "black" %> <span class="required">*</span><br/>
			<%= f.password_field :password_confirmation, :class => 'required' %>
		</div>
	</div>

	<%= f.fields_for :bill_address do |bill_form| %>
		<div class="address-header">
			<span><%= t(:billing_address) %> </span>
		</div>
		<div class="inner" style="padding-top: 20px" data-hook="billing_inner">
			<div class="row">
				<div class="form-field-checkout">
					<label class="checkbox">
						<%= bill_form.check_box :is_company, {:checked => "#{(!@user.bill_address.company.blank? && !@user.bill_address.vat_number.blank?) ? "checked" : ""}"} %> <%= t(:is_company) %>
					</label>
				</div>
			</div>

			<div id="is_company_check" style="display: none;">
				<div class="row">
					<div class="form-field-checkout">
						<%= bill_form.label :company, t(:company), {:class => "black"} %> <span class="required">*</span><br/>
						<%= bill_form.text_field :company, {:class => "required full"} %>
					</div>
				</div>
				<div class="row">
					<div class="form-field-checkout">
						<%= bill_form.label :vat_number, t(:vat_number), {:class => "black"} %> <span class="required">*</span><br/>
						<%= bill_form.text_field :vat_number, {:class => "required full"} %>
					</div>
				</div>
			</div>

			<div id="is_company_uncheck">
				<div class="row">
					<div class="form-field-checkout">
						<%= bill_form.label :tax_id_number, t(:tax_id_number), {:class => "black"} %> <span class="required">*</span><br/>
						<%= bill_form.text_field :tax_id_number, {:class => "required full"} %>
					</div>
				</div>
				<div class="row">
					<div class="form-field-checkout">
						<%= bill_form.label :firstname, t(:firstname), {:class => "black"} %> <span class="required">*</span><br/>
						<%= bill_form.text_field :firstname, {:class => "required"} %>
					</div>
					<div class="form-field-checkout">
						<%= bill_form.label :lastname, t(:lastname), {:class => "black"} %> <span class="required">*</span><br/>
						<%= bill_form.text_field :lastname, {:class => "required"} %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-field-checkout">
					<%= bill_form.label :address1, t(:address1), {:class => "black"} %> <span class="required">*</span><br/>
					<%= bill_form.text_field :address1, {:class => "required"} %>
				</div>
				<div class="form-field-checkout">
					<%= bill_form.label :city, t(:city), {:class => "black"} %> <span class="required">*</span><br/>
					<%= bill_form.text_field :city, {:class => "required"} %>
				</div>
			</div>

			<div class="row">
				<div class="form-field-checkout" id="bcountry">
					<%= bill_form.label :country, t(:country), {:class => "black"} %> <span class="required">*</span><br/>
					<span id="bcountry">
						<%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
					</span>
				</div>
				<div class="form-field-checkout" id="bstate">
					<% have_states = !@user.bill_address.country.states.empty? %>
					<%= bill_form.label :state, t(:state), {:class => "black"} %> <span class="required">*</span><br/>
					<noscript>
						<%= bill_form.text_field :state_name, :class => 'required' %>
					</noscript>
					<% state_elements = [
					bill_form.collection_select(:state_id, @user.bill_address.country.states,
					:id, :name,
					{:include_blank => true},
					{:class => have_states ? 'required' : 'hidden required',
						:disabled => !have_states}) +
						bill_form.text_field(:state_name,
						{:class => !have_states ? 'required input-right' : 'hidden required',
							:disabled => have_states,
							:placeholder => "#{t(:state)}*"})
						].join.gsub('"', "'").gsub("\n", "")
						%>
						<%= javascript_tag do %>
						document.write("<%== state_elements %>");
						<% end %>
				</div>
			</div>

			<div class="row">
				<div class="form-field-checkout">
					<%= bill_form.label :zipcode, t(:zipcode), {:class => "black"} %> <span class="required">*</span><br/>
					<%= bill_form.text_field :zipcode, {:class => "required"} %>
				</div>
				<div class="form-field-checkout">
					<%= bill_form.label :phone, t(:phone), {:class => "black"} %> <span class="required">*</span><br/>
					<%= bill_form.text_field :phone, {:class => "required"} %>
				</div>
			</div>
		</div>
	<% end %>

	<div class="privacy-required">
		<p><%= t(:privacy_policy) %></p>
		<div class="privacy">
			<%= raw(Spree::Config[:privacy_description]) %>
		</div>
		<p><%= f.check_box :privacy, :class => 'required' %> <%= f.label :privacy, t(:accept_privacy) %> <span class="required">*</span></p>
	</div>
</div>

<!-- <div data-hook="signup_below_password_fields"></div> -->