<div class="well">
	<h5><%= t(:formats) %></h5>
	<p class="small">In questa pagina puoi gestire i formati del prodotto</p>
	<%= link_to("#{t(:new_format)} <i class='icon-plus icon-white'></i>".html_safe, admin_new_staple_variants_path(@product), :class => "btn btn-primary", :remote => true, :rel => "tab") %>
</div>

<table class="table table-condensed table-bordered">
	<thead>
		<tr data-hook="formats_header" class="info">
			<th><%= t(:format) %></th>
			<th><%= t(:data) %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @variants.each do |v| %>
		<tr data-hook="formats_row">
			<td><%= v.format if v.format %></td>
			<td style="width: 70%;"><%= v.paper_products.collect{|pp| content_tag(:span, "#{pp.paper.name} => #{pp.paper_weight.weight}", :class => "label")}.join(" ").html_safe %></td>
			<td class="actions">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_edit_staple_variant_path(@product, v.id), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
				<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_delete_staple_variant_path(@product, v.id), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :rel => "tab") %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

