<% if flash[:alert] %>
	<div class="flash errors"><%= flash[:alert] %></div>
<% end %>
<% @body_id = 'login' %>
<div id="content">
	<div class="content-box-title-no-bc" id="existing-customer">
		<h2><%= t(:login_as_existing) %></h2>
	</div>
	<div class="clearfix user_signin">
		<%= render :partial => 'spree/shared/login' %>
		<p class="black"><%= link_to t(:create_a_new_account), spree.signup_path, :class => "sky" %> | <%= link_to t(:forgot_password), spree.new_user_password_path, :class => "sky" %></p>
	</div>
	<div class="user_signin clearfix">
		<div data-hook="login_extras"></div>
	</div>
</div>