<% if @variant.persisted? %>
<ul class="nav nav-tabs" id="formatTab">
	<li class="active"><a href="#variant_format" data-toggle="tab">Configurazione Formato</a></li>
	<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_variant_admin_templates_path(@variant) %>">Template</a></li>
</ul>
<div class="tab-content">
<% end %>	
	<!-- Configurate Variant -->
	<div class="tab-pane active clearfix" id="variant_format">
		<div class="control-group span6">
			<%= label_tag(:format, t(:model), :class => "control-label") %>
			<div class="controls">
				<%= f.text_field(:format, :style => "width: 430px") %>
			</div>
		</div>
		<br class="clearer"/><br />
		<div class="clearfix">
			<h2>Varianti per prezzo</h2>
			<%= f.fields_for :format_simple_variants do |builder| %>
				<%= render "format_simple_variant_fields", :f => builder %>
			<% end %>
			<p class="small clearer"><%= link_to_add_fields("Aggiungi una nuova variante per prezzo", f, :format_simple_variants, true) %></p>
		</div>
	</div>
	<!-- Configurate Variant -->
<% if @variant.persisted? %>	
	<!-- Template -->
	<div class="tab-pane clearfix" id="template">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<!-- Template -->
	
</div>
<% end %>