<h4>Lista Modelli</h4>
<br class="clearer"/>
<%= link_to("#{t(:new_simple_variant)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_simple_product_simple_variant_path(@simple_product), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
<br class="clearer"/>
<br />

<table class="index table table-hover table-condensed table-bordered">
	<thead>
		<tr data-hook="images_header" class="info">
			<th>Modello</th>
			<th>Quantità</th>
			<th><%= t(:action) %></th>
		</tr>
	</thead>
	<tbody>
	<% @collection.each do |v| %>
		<tr data-hook="item_row" id="<%= spree_dom_id v %>">
			<td style="vertical-align: middle;"><%= v.format.blank? ? content_tag(:p, "Manca il nome del formato", :class => "alert alert-danger") : v.format %></td>
			<td style="vertical-align: middle;"><%= v.format_simple_variants.any? ? v.format_simple_variants.collect{|fsv| content_tag(:span, "#{fsv.from if ((fsv.from != 0) && !fsv.from.blank?) }#{" - " if ((fsv.from != 0) && !fsv.from.blank?) }#{fsv.to} pz", :class => "label label-inverse", :style => "margin-right: 10px;")}.join().html_safe : content_tag(:p, "Mancano le varianti del formato!", :class => "alert alert-danger") %></td>
			<td class="actions" style="width: 25%">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_simple_product_simple_variant_path(@simple_product, v), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
				<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_simple_product_simple_variant_path(@simple_product, v), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :rel => "tab", :method => :delete) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>