<h1><%= t(:edit_general_settings) %></h1>
<br class="clearer"/>
<%= form_tag(admin_general_settings_path, :method => :put, :class => "well") do %>
<div class="row">
	<% @preferences.in_groups_of((@preferences.count/2)) do |preferences| %>
	<div id="preferences" class="span7" data-hook>
  <% preferences.each do |key|
      type = Spree::Config.preference_type(key) %>
		<% if type != :boolean %>
			<%= label_tag(key, t(key) + ': ') %>
			<%= preference_field_tag(key, Spree::Config[key], :type => type) %>
		<% elsif type == :boolean %>
			<label class="checkbox">
				<%= preference_field_tag(key, Spree::Config[key], :type => type) %>
				<%= t(key) %>
			</label>
		<% end %>
  <% end %>
  </div>
	<% end %>
<br class="clearer"/><br />
  <div class="form-actions right-txt" data-hook="buttons">
	<%= submit_tag(t(:update), :class => "btn btn-primary") %>
	<%= link_to(t(:back), admin_configurations_path(), :class => "btn btn-inverse") %>
  </div>
</div>
<% end %>